node-red/.node-red/.flows.json.backup
[{"id":"89ad9af9.5b24b8","type":"tab","label":"Global setup","disabled":false,"info":"Function to set up global variables such as ip of local machine\n\n"},{"id":"141904da.18313b","type":"tab","label":"DECLASSIFICATION: Compute cars per zone","disabled":false,"info":""},{"id":"9c1e076.5f7d4f8","type":"tab","label":"Fetch Taxi WebThings","disabled":false,"info":""},{"id":"8f5695d4.26e138","type":"tab","label":"Fetch Hospital WebThings","disabled":false,"info":""},{"id":"a36580c0.b9cfc","type":"tab","label":"Taxi API","disabled":false,"info":""},{"id":"e7ae0c3a.b2112","type":"tab","label":"API","disabled":false,"info":""},{"id":"d111d806.aa47b8","type":"tab","label":"Hospital Declassification","disabled":false,"info":""},{"id":"84e53390.36c6","type":"subflow","name":"Query device properties","info":"","category":"","in":[{"x":120,"y":80,"wires":[{"id":"a0873417.295ca8"}]}],"out":[{"x":760,"y":80,"wires":[{"id":"93965560.364828","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1a50fa2e.f03ac6","type":"subflow","name":"Fetch web thing","info":"","category":"","in":[{"x":100,"y":200,"wires":[{"id":"57e4d8fb.08ec18"}]}],"out":[{"x":860,"y":140,"wires":[{"id":"11f7af50.4e17e1","port":0}]},{"x":860,"y":220,"wires":[{"id":"539ab21e.2baa5c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"988498cc.3d0758","type":"subflow","name":"Fetch wot property","info":"","category":"","in":[{"x":140,"y":180,"wires":[{"id":"9285c4dc.af9268"}]}],"out":[{"x":1100,"y":180,"wires":[{"id":"2391851e.77056a","port":0}]},{"x":840,"y":240,"wires":[{"id":"cfd02a2c.1b2b78","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"14204bc3.e267a4","type":"subflow","name":"Safe db query","info":"","category":"","in":[{"x":340,"y":240,"wires":[{"id":"e9e17ecb.cc0b8"}]}],"out":[{"x":680,"y":240,"wires":[{"id":"e9e17ecb.cc0b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"29f03fb6.bae","type":"subflow","name":"Get owner query","info":"","category":"","in":[{"x":340,"y":260,"wires":[{"id":"a94dad63.eaa89"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"a94dad63.eaa89","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dd86eacb.b08858","type":"subflow","name":"Get readers query","info":"","category":"","in":[{"x":280,"y":160,"wires":[{"id":"af7eb47b.d69cf8"}]}],"out":[{"x":760,"y":160,"wires":[{"id":"af7eb47b.d69cf8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8ed923c2.404c8","type":"mqtt-broker","name":"MQTT Broker location","broker":"localhost","port":"1881","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95967b6c.bf4128","type":"ui_tab","name":"Dev","icon":"dashboard","disabled":false,"hidden":false},{"id":"9ab0953a.61aa18","type":"ui_group","name":"Properties","tab":"95967b6c.bf4128","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6f540e1.b4baa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1346b680.0c26ca","type":"ui_group","name":"Default","tab":"95967b6c.bf4128","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6210e72.915e1","type":"ui_group","name":"Private","tab":"23b29e69.a69182","order":3,"disp":true,"width":"20","collapse":false},{"id":"99fff7f0.ec79a8","type":"ui_group","name":"Public","tab":"23b29e69.a69182","order":4,"disp":true,"width":"20","collapse":false},{"id":"23b29e69.a69182","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"55af362.e170ec8","type":"consumed-thing","tdLink":"http://192.168.1.128:9001","td":"{\"id\": \"mock:pulse:848e6e4b-0657-4d2f-a049-dddc0067a60f1\", \"classification\": {\"PatientA\": [\"PatientA\", \"Doctors\"]}, \"title\": null, \"@context\": \"https://iot.mozilla.org/schemas\", \"properties\": {\"pulse\": {\"@type\": \"PulseData\", \"title\": \"Pulse\", \"type\": \"float\", \"description\": \"Real time pulse value\", \"readOnly\": true, \"links\": [{\"rel\": \"property\", \"href\": \"/properties/pulse\"}]}}, \"actions\": {}, \"events\": {}, \"links\": [{\"rel\": \"properties\", \"href\": \"/properties\"}, {\"rel\": \"actions\", \"href\": \"/actions\"}, {\"rel\": \"events\", \"href\": \"/events\"}, {\"rel\": \"alternate\", \"href\": \"ws://192.168.1.128:9001/\"}], \"description\": \"A device reporting its position\", \"@type\": [\"DiscretePostitionDevice\"], \"base\": \"http://192.168.1.128:9001/\", \"securityDefinitions\": {\"nosec_sc\": {\"scheme\": \"nosec\"}}, \"security\": \"nosec_sc\"}","http":false,"coap":false,"mqtt":false,"opcua":false,"modbus":false},{"id":"19d3b93f.cd27c7","type":"Stackhero-MySQL-Server","name":"","host":"mariadb","port":"3306","tls":false,"database":"test"},{"id":"2f9284ff.b82f8c","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"test","name":"mongodb-test"},{"id":"f69609b1.cb1968","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"hospital","name":"hospital-db"},{"id":"6ca5fc40.f49b04","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"hospital","name":"test-connection"},{"id":"ebedea03.74f028","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"smart-city","name":"smart-city-db"},{"id":"17b03eb1.53c301","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["e3346cfa.6fdb"]]},{"id":"e3346cfa.6fdb","type":"function","z":"89ad9af9.5b24b8","name":"Set up global parameters","func":"wot_url = 'http://wot'+':8888'\n\nwebthings = [\n    'http://patient-a'+':8888',\n    'http://patient-b'+':8888',\n    'http://patient-c'+':8888'\n    ]\nglobal.set(\"WOT_HOSTS\",webthings)\n\n\n// Taxi endpoints\ntaxi_hosts = [\n    'http://taxi-a1'+':8888',\n    'http://taxi-a2'+':8888',\n    'http://taxi-b1'+':8888',\n    'http://taxi-b2'+':8888',\n    'http://taxi-c1'+':8888',\n    'http://taxi-c2'+':8888'\n]\nglobal.set(\"TAXI_WOT_HOSTS\",taxi_hosts)\n\nthingsboard_url = 'http://thingsboard'+':9090'\n\nglobal.set(\"WOT_URL\",wot_url)\nglobal.set(\"THINGSBOARD_URL\",thingsboard_url)\n\nif(!global.get(\"DEVICES\")){\n    global.set(\"DEVICES\",[])\n}\n\nif(!global.get(\"HOSPITAL_MEAN\")){\n    global.set(\"HOSPITAL_MEAN\",{})\n}\n\nglobal_state = {}\nglobal_keys = global.keys()\nfor (i=0; i<global_keys.length; i++){\n    key = global_keys[i];\n    global_state[key]=global.get(key);\n}\nmsg.payload = global_state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["69806943.4d8f38"]]},{"id":"56a5f4ac.2b680c","type":"function","z":"141904da.18313b","name":"Get devices","func":"TYPE = 'DiscretePositionDevice'\n\nall_devices = flow.get('DEVICES')\n\ndevices = []\nfor (id in all_devices){\n    if(true || TYPE in all_devices[id]['@type']){\n        devices.push(all_devices[id])\n    }\n}\nmsg.payload = devices\n//msg.payload = all_devices.length\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["8cf68a71.de2b18","2ef25155.38b93e"]]},{"id":"8cf68a71.de2b18","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":220,"wires":[]},{"id":"7774e15a.d8703","type":"inject","z":"141904da.18313b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["56a5f4ac.2b680c"]]},{"id":"cd67c46d.a7ba48","type":"function","z":"141904da.18313b","name":"Local setup","func":"\nflow.set(\"DEVICES\",global.get('DEVICES'))\n\nmsg.payload = flow.get(\"DEVICES\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["8b4450bd.038df"]]},{"id":"eac35d47.f3d38","type":"inject","z":"141904da.18313b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["cd67c46d.a7ba48"]]},{"id":"8b4450bd.038df","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"2ef25155.38b93e","type":"function","z":"141904da.18313b","name":"Compute distribution","func":"\nn_zones = 4\ncar_distribution = {}\nfor(i=1; i<=n_zones; i++){\n    car_distribution[i] = 0\n}\n\ndevices = []\nfor (i=0;i<msg.payload.length; i++){\n device = msg.payload[i];\n if(typeof device !== 'object'){\n     continue;\n }\n \n if (device === null){\n     continue;\n }\n \n if ('properties' in device && 'position' in device.properties){\n    devices.push(device);\n }\n \n}\nmsg.devices = devices;\n\nfor (i=0;i<devices.length; i++){\n    device = devices[i];\n    value = device.properties['position'].value\n    car_distribution[value] = car_distribution[value] + 1\n}\nmsg.payload = car_distribution\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":160,"wires":[["9275a202.a0eec","6cdcbc10.b62394"]]},{"id":"9275a202.a0eec","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"6cdcbc10.b62394","type":"function","z":"141904da.18313b","name":"Create global distribution object","func":"\nid='car_distribution_1';\n\nif(!global.get(\"DEVICES\")[id]){\n    distribution_object = {\n        'id':id,\n        'classification':['public'],\n        'title': 'Car distribution',\n        'properties':{\n            '1':{\n                'title':'Cars at zone 1',\n                'type': 'int',\n                'description': 'Number of cars at zone 1',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['1']\n            },\n            '2':{\n                'title':'Cars at zone 2',\n                'type': 'int',\n                'description': 'Number of cars at zone 2',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['2']\n            },\n            '3':{\n                'title':'Cars at zone 3',\n                'type': 'int',\n                'description': 'Number of cars at zone 3',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['3']\n            },\n            '4':{\n                'title':'Cars at zone 4',\n                'type': 'int',\n                'description': 'Number of cars at zone 4',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['4']\n            }\n        }\n    };\n} else {\n    distribution_object = global.get('DEVICES')[id];\n}\n\nproperties = distribution_object['properties']\ndelete properties.distribution\n\nfor (let [key, value] of Object.entries(msg.payload)){\n    property = {\n                'title':'Cars at zone ' + key,\n                'type': 'int',\n                'description': 'Number of cars at zone ' + key,\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload[key]\n            }\n    properties[key]=property;\n}\ndistribution_object['properties']=properties;\n\ndevices = global.get('DEVICES')\ndevices[id] = distribution_object;\nglobal.set('DEVICES', devices);\nglobal.set('DISTRIBUTION', undefined);\n\nmsg.payload = global.get('DEVICES')[id];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":160,"wires":[["642de9b0.a76888"]]},{"id":"642de9b0.a76888","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":240,"wires":[]},{"id":"69806943.4d8f38","type":"debug","z":"89ad9af9.5b24b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"948d1f1c.a222f","type":"inject","z":"8f5695d4.26e138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["4d9cf1c3.82c2c"]]},{"id":"4d9cf1c3.82c2c","type":"function","z":"8f5695d4.26e138","name":"Local setup","func":"hosts = [\n    'http://patient-a'+':8888',\n    'http://patient-b'+':8888',\n    'http://patient-c'+':8888'\n    ]\nflow.set(\"HOSTS\",hosts)\n//flow.set(\"HOSTS\", global.get(\"WOT_HOSTS\"))\n\nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nif(!flow.get(\"DEVICES\")){\n    flow.set(\"DEVICES\",{})\n}\nif(!flow.get(\"DATA\")){\n    flow.set(\"DATA\",{})\n}\n//Debug\nmsg.payload = flow.get('HOSTS')\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["a6d23aff.e09f38"]]},{"id":"a6d23aff.e09f38","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"865d5a29.c02858","type":"inject","z":"8f5695d4.26e138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":700,"wires":[["13cc574d.c46b59"]]},{"id":"13cc574d.c46b59","type":"function","z":"8f5695d4.26e138","name":"Delete local and global device data","func":"\nflow.set(\"DEVICES\",{})\nglobal.set(\"DEVICES\",{})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":700,"wires":[[]]},{"id":"8c01be33.95f17","type":"comment","z":"8f5695d4.26e138","name":"Clear devices [DONT DO THIS]","info":"","x":200,"y":660,"wires":[]},{"id":"66588323.9b24fc","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["72e56ab7.fb2094","6d111fac.d11de"]]},{"id":"72e56ab7.fb2094","type":"debug","z":"e7ae0c3a.b2112","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":200,"wires":[]},{"id":"a9b5fa9c.7d34a8","type":"http response","z":"e7ae0c3a.b2112","name":"","statusCode":"","headers":{},"x":520,"y":120,"wires":[]},{"id":"6d111fac.d11de","type":"function","z":"e7ae0c3a.b2112","name":"","func":"\nmsg.payload = \"World!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["a9b5fa9c.7d34a8"]]},{"id":"d213becb.31788","type":"file in","z":"d111d806.aa47b8","name":"Load stored devices","filename":"/data/data_file","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":220,"wires":[["7782097d.9a0cf8"]]},{"id":"8abdfb.977bc208","type":"inject","z":"d111d806.aa47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":280,"wires":[["3b4f6abb.3aac06"]]},{"id":"dcc700dc.91df9","type":"debug","z":"d111d806.aa47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":280,"wires":[]},{"id":"7782097d.9a0cf8","type":"json","z":"d111d806.aa47b8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":220,"wires":[["b5dcc52a.a8a2a8"]]},{"id":"3b4f6abb.3aac06","type":"function","z":"d111d806.aa47b8","name":"Extract data PatientA","func":"\nmsg.readers = [\"PatientA\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["b5dcc52a.a8a2a8"]]},{"id":"b5dcc52a.a8a2a8","type":"merge","z":"d111d806.aa47b8","name":"","timeout":"1","x":710,"y":280,"wires":[["49d777a7.79f528"]]},{"id":"23da2fda.7b5b2","type":"complete","z":"d111d806.aa47b8","name":"","scope":["3b4f6abb.3aac06","51840584.f1339c","7da61364.e6481c","27a6fce.c9b7104"],"uncaught":false,"x":190,"y":220,"wires":[["d213becb.31788"]]},{"id":"49d777a7.79f528","type":"function","z":"d111d806.aa47b8","name":"Format data","func":"\ndata = msg.payload\nif ('readers' in data[0]){\n    readers = data[0].readers\n    payload = data[1].payload\n} else{\n    readers = data[1].readers\n    payload = data[0].payload\n}\n\nmsg.payload = payload\nmsg.readers = readers\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":280,"wires":[["cc3c8b15.9a1208"]]},{"id":"cc3c8b15.9a1208","type":"function","z":"d111d806.aa47b8","name":"Filter data","func":"\n\nreaders = msg.readers\n\nfunction canRead(classification, user){\n    owners = Object.keys(classification)\n    for (k=0; k<owners.length; k++){\n        owner = owners[k];\n        readers = classification[owner];\n        // User needs to be included in all policies\n        // in the classification to be allowed to read\n        // the data\n        if(user!=owner && !readers.includes(user)){\n            return false;\n        }\n    }\n    return true;\n}\n\nfunction canAnyRead(classification, users){\n    for (ii=0; ii<users.length; ii++){\n        if(canRead(classification, users[ii])){\n            return true;\n        }\n    }\n    return false;\n}\n\nfunction filterData(data, users){\n    obj_keys = Object.keys(data);\n    new_data = {}\n    for(i=0; i<obj_keys.length; i++){\n        filtered_data = [] \n        key = obj_keys[i]\n        obj = data[key]\n        //node.warn(\"Key:\" + key)\n        for (j=0; j<obj.length; j++){\n            data_point = obj[j]\n            classification = data_point.classification\n            if(canAnyRead(classification, users)){\n                //return_obj = data_point.properties.pulse\n                //return_obj.device_id = data_point.device_id\n                filtered_data.push(data_point)\n                //data.push(data_point.properties)   \n            }\n        }\n        new_data[key]=filtered_data\n    //node.warn(\"i=\" + i)\n    }\n    return new_data\n}\n\ndata = filterData(msg.payload, readers)\n\n\nmsg.data = data\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":280,"wires":[["dcc700dc.91df9"]]},{"id":"a06d2585.1daef8","type":"inject","z":"d111d806.aa47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":360,"wires":[["51840584.f1339c"]]},{"id":"51840584.f1339c","type":"function","z":"d111d806.aa47b8","name":"Extract data PatientB","func":"\nmsg.readers = [\"PatientB\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["b5dcc52a.a8a2a8"]]},{"id":"18f39347.fc491d","type":"inject","z":"d111d806.aa47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":440,"wires":[["7da61364.e6481c"]]},{"id":"7da61364.e6481c","type":"function","z":"d111d806.aa47b8","name":"Extract data Doctors","func":"\nmsg.readers = [\"Doctors\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[["b5dcc52a.a8a2a8"]]},{"id":"2ec9925a.54320e","type":"inject","z":"d111d806.aa47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":520,"wires":[["27a6fce.c9b7104"]]},{"id":"27a6fce.c9b7104","type":"function","z":"d111d806.aa47b8","name":"Extract data Doctors and PatientC","func":"\nmsg.readers = [\"Doctors\", \"PatientC\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["b5dcc52a.a8a2a8"]]},{"id":"23a07893.f3af78","type":"file in","z":"d111d806.aa47b8","name":"Load stored devices","filename":"/data/data_file","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":640,"y":740,"wires":[["8f70a808.d4d708"]]},{"id":"93cdf522.6bf128","type":"inject","z":"d111d806.aa47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":740,"wires":[["708961cf.7ce93"]]},{"id":"188f3b52.ad4ea5","type":"debug","z":"d111d806.aa47b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":860,"wires":[]},{"id":"8f70a808.d4d708","type":"json","z":"d111d806.aa47b8","name":"","property":"payload","action":"","pretty":false,"x":810,"y":740,"wires":[["d1043ba3.c60368"]]},{"id":"708961cf.7ce93","type":"function","z":"d111d806.aa47b8","name":"Extract data PatientA","func":"\nmsg.readers = [\"PatientA\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":740,"wires":[["23a07893.f3af78"]]},{"id":"d1043ba3.c60368","type":"function","z":"d111d806.aa47b8","name":"Filter data","func":"\n\nreaders = msg.readers\n\nfunction canRead(classification, user){\n    owners = Object.keys(classification)\n    for (k=0; k<owners.length; k++){\n        owner = owners[k];\n        readers = classification[owner];\n        // User needs to be included in all policies\n        // in the classification to be allowed to read\n        // the data\n        if(user!=owner && !readers.includes(user)){\n            return false;\n        }\n    }\n    return true;\n}\n\nfunction canAnyRead(classification, users){\n    for (ii=0; ii<users.length; ii++){\n        if(canRead(classification, users[ii])){\n            return true;\n        }\n    }\n    return false;\n}\n\nfunction filterData(data, users){\n    obj_keys = Object.keys(data);\n    new_data = {}\n    for(i=0; i<obj_keys.length; i++){\n        filtered_data = [] \n        key = obj_keys[i]\n        obj = data[key]\n        //node.warn(\"Key:\" + key)\n        for (j=0; j<obj.length; j++){\n            data_point = obj[j]\n            classification = data_point.classification\n            if(canAnyRead(classification, users)){\n                filtered_data.push(data_point)\n            }\n        }\n        if (filtered_data.length>0){\n            new_data[key]=filtered_data    \n        }\n    //node.warn(\"i=\" + i)\n    }\n    return new_data\n}\n\ndata = filterData(msg.payload, readers)\n\n\n//msg.data = data\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":740,"wires":[["3e1c5314.eedabc"]]},{"id":"3e1c5314.eedabc","type":"function","z":"d111d806.aa47b8","name":"Extract pulse data","func":"\nendpoints = owners = Object.keys(msg.payload)\n\ndata = []\nfor (i=0; i<endpoints.length; i++){\n    data_list = msg.payload[endpoints[i]]\n    for (j=0; j<data_list.length; j++){\n        if('pulse' in data_list[j].properties){\n            pulse_obj = {}\n            pulse_obj.classification = data_list[j].classification\n            pulse_data = data_list[j].properties.pulse\n            pulse_obj.value = pulse_data.value\n            pulse_obj.time = pulse_data.time\n            pulse_obj.timestring = pulse_data.timestring\n            data.push(pulse_obj);   \n        }\n    }\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":820,"wires":[["188f3b52.ad4ea5","e7139ca4.f995e"]]},{"id":"e7139ca4.f995e","type":"function","z":"d111d806.aa47b8","name":"Compute mean value per hour","func":"\n\ndata_list = msg.payload\n\nfunction as2DigitString(digit){\n    if (digit<10){\n        return \"0\"+digit;\n    }\n    return \"\"+digit;\n}\n\nfunction getMonth(date){\n    month = date.getMonth()+1;\n    return as2DigitString(month);\n}\n\nfunction getDay(date){\n    day = date.getDate();\n    return as2DigitString(day);\n}\n\nfunction getHour(date){\n    hour = date.getHours()+1;\n    return as2DigitString(hour);\n}\n\nfunction getTimeKey(timestamp){\n    var date = new Date(timestamp);\n    year = date.getFullYear();\n    //month = date.getMonth()+1;\n    //day = date.getDate();\n    //hour = date.getHours()+1;\n    month = getMonth(date);\n    day = getDay(date);\n    hour = getHour(date);\n    \n    //2011-10-10T14:48:00\n    timeString = year+\"-\"+month+\"-\"+day+\"T\"+hour+\":00:00\";\n    key = Date.parse(timeString)\n    //node.warn(\"Timestring:\" + timeString)\n    //node.warn(\"Timestamp:\" + key)\n    \n    return key;\n}\nfunction mergeLists(l1,l2){\n    list = l1.concat(l2);\n    var unique = new Set(list);\n    return Array.from(unique);\n}\nfunction appendClassification(c1,c2){\n    const owners = Object.keys(c2);\n    for (j=0; j<owners.length; j++){\n        owner = owners[j];\n        \n        if (!(owner in c1)){\n            c1[owner] = c2[owner];\n        }else{\n            r1 = c1[owner]\n            r2 = c2[owner]\n            readers = mergeLists(r1,r2);\n            c1[owner] = readers;\n        }\n    }\n    return c1;\n}\nsum_dict = {};\nn_dict = {};\nmean_dict = {};\nresult = []\nfor(i=0; i<data_list.length; i++){\n    timestamp = data_list[i].time\n    value = data_list[i].value\n    key = getTimeKey(timestamp)\n    if (!(key in mean_dict)){\n        //sum_dict[key] = sum_dict[key]+\n        mean_obj = {}\n        mean_obj['classification'] = {}\n        mean_obj['values'] = [];\n        mean_dict[key] = mean_obj;\n    }\n    //node.warn(\"Append value:\" + key + \" \" + value)\n    mean_dict[key].values.push(value);\n    c1 = mean_dict[key].classification;\n    c2 = data_list[i].classification;\n    classification = appendClassification(c1,c2);\n    mean_dict[key].classification = classification;\n    //result.push(key)\n}\n\nfunction computeAverage(arr){\n    if (arr.length==0){\n        return 0;\n    }\n    //Find the sum\n    var sum = 0;\n    for(i=0; i<arr.length; i++) {\n        sum += arr[i];\n    }\n    return (sum / arr.length);\n}\n\nkeys = Object.keys(mean_dict);\nmean = [];\nfor (k=0; k<keys.length; k++){\n    obj = {}\n    values = mean_dict[keys[k]].values;\n    obj.time = parseInt(keys[k], 10);\n    obj.value = computeAverage(values);\n    obj.classification = mean_dict[key].classification;\n    mean.push(obj);\n}\ndata = {}\ndata.id = \"mean-value-hour-\"+msg.readers\ndata.mean = mean;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":820,"wires":[["8e0ed44c.c43538","57542735.590958"]]},{"id":"8e0ed44c.c43538","type":"debug","z":"d111d806.aa47b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":820,"wires":[]},{"id":"7ea32f8d.53294","type":"file in","z":"d111d806.aa47b8","name":"Load stored devices","filename":"/data/mean_data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":1100,"wires":[["9332b850.601ad8"]]},{"id":"a5416978.014968","type":"debug","z":"d111d806.aa47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":1100,"wires":[]},{"id":"118a2d95.be8332","type":"inject","z":"d111d806.aa47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":1100,"wires":[["7ea32f8d.53294"]]},{"id":"9332b850.601ad8","type":"json","z":"d111d806.aa47b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":1100,"wires":[["1a778b32.844795"]]},{"id":"1a778b32.844795","type":"function","z":"d111d806.aa47b8","name":"Apply Research Project Declassification Policy","func":"\nall_data = msg.payload;\n\nkeys = Object.keys(all_data);\n\nfor (i=0; i<keys.length; i++){\n    data = all_data[keys[i]]\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1100,"wires":[["a5416978.014968"]]},{"id":"31bf4972.c2be06","type":"comment","z":"d111d806.aa47b8","name":"Declassify mean data","info":"","x":170,"y":1060,"wires":[]},{"id":"b2fdcb69.68edd8","type":"inject","z":"d111d806.aa47b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1200,"wires":[["9c5f0da1.2e364"]]},{"id":"9c5f0da1.2e364","type":"function","z":"d111d806.aa47b8","name":"Extract mean data PatientA","func":"\nmsg.readers = [\"PatientA\"]\n\nDEVICE = \"mean-value-hour-PatientA\"\ndata = global.get(\"HOSPITAL_MEAN\")[DEVICE]\n\nmsg.payload = {}\nmsg.payload.device = DEVICE\nmsg.payload.data = data\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1200,"wires":[["74bf5fef.b5811","a05ec5d1.86d158"]]},{"id":"a05ec5d1.86d158","type":"function","z":"d111d806.aa47b8","name":"Apply Research Project Declassification Policy","func":"\nall_data = msg.payload;\n\nfunction isOwnerPatientA(owner, readers){\n    if (owner == \"PatientA\"){\n        return true;\n    }\n    return false;\n}\n\nfunction getResearchProjectPolicy(){\n    owner = \"ResearchProject\",\n    readers = [owner]\n    label = {}\n    label[owner] = readers\n    return label;\n}\n\ndeclassificationPolicy = {\n    requirement:isOwnerPatientA,\n    replacement:getResearchProjectPolicy()\n}\n\nfunction declassifyLabel(label, declassPol){\n    label_copy = Object.assign({}, label);\n    owners = Object.keys(label_copy);\n    for (j=0; j<owners.length; j++){\n        readers = label_copy[owners[j]]\n        if (declassPol.requirement(owners[j], readers)){\n            newPol = declassPol.replacement\n            delete label_copy[owners[j]];\n            label_copy = Object.assign({}, label_copy, newPol);\n        }\n    }\n    return label_copy;\n}\n\nfunction declassifyData(data, declassPol){\n    requirement = declassPol.requirement\n    newPolicy = declassPol.replacement\n    for(i=0; i<data.length; i++){\n        label = data[i].classification;\n        new_label = declassifyLabel(label, declassPol);\n        data[i].classification = new_label\n    }\n    return data;\n}\n\ndata = msg.payload.data\ndeclassified_data = declassifyData(data, declassificationPolicy)\nid = msg.payload.device + '-declassified'\n\nmsg.payload = {};\nmsg.payload.data = declassified_data;\nmsg.payload.id = id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1200,"wires":[["291b37f.62cdcc8","d9d282b7.654b8"]]},{"id":"291b37f.62cdcc8","type":"debug","z":"d111d806.aa47b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1260,"wires":[]},{"id":"1aa6b415.a30ddc","type":"comment","z":"d111d806.aa47b8","name":"Compute mean data PatientA","info":"","x":220,"y":700,"wires":[]},{"id":"57542735.590958","type":"function","z":"d111d806.aa47b8","name":"Store in global scope","func":"\ndata = msg.payload\n\nmean_data = global.get(\"HOSPITAL_MEAN\")\nmean_data[data.id] = data.mean\nglobal.set(\"HOSPITAL_MEAN\",mean_data)\n\nmsg.payload = global.get(\"HOSPITAL_MEAN\");\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":960,"wires":[["ce562309.1c873"]]},{"id":"ce562309.1c873","type":"debug","z":"d111d806.aa47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":960,"wires":[]},{"id":"74bf5fef.b5811","type":"debug","z":"d111d806.aa47b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1260,"wires":[]},{"id":"3efbdc38.bd1d74","type":"complete","z":"d111d806.aa47b8","name":"","scope":["57542735.590958"],"uncaught":false,"x":130,"y":1240,"wires":[["9c5f0da1.2e364"]]},{"id":"d9d282b7.654b8","type":"function","z":"d111d806.aa47b8","name":"Store in global scope","func":"\ndata = msg.payload.data\nid = msg.payload.id\n\nmean_data = global.get(\"HOSPITAL_MEAN\")\nmean_data[id] = data\nglobal.set(\"HOSPITAL_MEAN\",mean_data)\n\nmsg.payload = global.get(\"HOSPITAL_MEAN\");\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1200,"wires":[["c6f6802b.c3265"]]},{"id":"c6f6802b.c3265","type":"debug","z":"d111d806.aa47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":1200,"wires":[]},{"id":"392e5a06.906ae6","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/data/mean","method":"get","upload":false,"swaggerDoc":"","x":180,"y":460,"wires":[["6c38df66.aada","e831e148.192cf"]]},{"id":"6c38df66.aada","type":"debug","z":"e7ae0c3a.b2112","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":500,"wires":[]},{"id":"c3d90d2d.db6ca","type":"http response","z":"e7ae0c3a.b2112","name":"","statusCode":"","headers":{},"x":1140,"y":460,"wires":[]},{"id":"1a73ed6c.0a5dd3","type":"function","z":"e7ae0c3a.b2112","name":"Filter data","func":"\nobj_keys = Object.keys(msg.payload);\nuser = msg.param.user\n\nfunction verifyClassification(classification, user){\n    owners = Object.keys(classification)\n    for (k=0; k<owners.length; k++){\n        owner = owners[k];\n        readers = classification[owner];\n        // User needs to be included in all policies\n        // in the classification to be allowed to read\n        // the data\n        if(user!=owner && !readers.includes(user)){\n            return false;\n        }\n    }\n    return true;\n}\n\ndata = []\nfor (j=0; j<msg.payload.length; j++){\n    data_point = msg.payload[j]\n    classification = data_point.classification\n    if(verifyClassification(classification, user)){\n        return_obj = {}\n        return_obj.time = data_point.time\n        return_obj.value = data_point.value\n        data.push(return_obj)\n    }\n}\n    //node.warn(\"i=\" + i)\n\nif (\"limit\" in msg.param){\n    N = parseInt(msg.param.limit)\n    data = data.slice(data.length-1-N)\n}\n\nmsg.data = data\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":460,"wires":[["c3d90d2d.db6ca","439d976.f798468"]]},{"id":"439d976.f798468","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":540,"wires":[]},{"id":"e831e148.192cf","type":"function","z":"e7ae0c3a.b2112","name":"Extract params","func":"\n//msg.user = msg.payload.user\nmsg.param = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":460,"wires":[["6c38df66.aada","92c17309.225b4"]]},{"id":"bce174a2.1593c8","type":"function","z":"e7ae0c3a.b2112","name":"Mock request","func":"msg.payload = {}\nmsg.payload.user = 'ResearchProject'\nmsg.payload.device = \"mean-value-hour-PatientA-declassified\"\nmsg.payload.limit = '5'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":500,"wires":[["e831e148.192cf"]]},{"id":"f89c2f58.a085b","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":540,"wires":[["bce174a2.1593c8"]]},{"id":"5d1fe833.6803a8","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":560,"wires":[]},{"id":"92c17309.225b4","type":"function","z":"e7ae0c3a.b2112","name":"Fetch mean data from device","func":"\ndevice = msg.payload.device\ndata = global.get(\"HOSPITAL_MEAN\")[device];\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":460,"wires":[["1a73ed6c.0a5dd3","5d1fe833.6803a8"]]},{"id":"61f8814c.32224","type":"inject","z":"9c1e076.5f7d4f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":270,"y":80,"wires":[["b07c633f.07e46"]]},{"id":"b07c633f.07e46","type":"function","z":"9c1e076.5f7d4f8","name":"Local setup","func":"// Taxi endpoints\nhosts = [\n    'http://taxi-a1'+':8888',\n    'http://taxi-a2'+':8888',\n    'http://taxi-b1'+':8888',\n    'http://taxi-b2'+':8888',\n    'http://taxi-c1'+':8888',\n    'http://taxi-c2'+':8888'\n]\nflow.set(\"HOSTS\", hosts);\n\nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nif(!flow.get(\"DEVICES\")){\n    flow.set(\"DEVICES\",{})\n}\nif(!flow.get(\"DATA\")){\n    flow.set(\"DATA\",{})\n}\n//Debug\nmsg.payload = flow.get('HOSTS')\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":80,"wires":[["4301dd25.c7ad94"]]},{"id":"4301dd25.c7ad94","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":80,"wires":[]},{"id":"bf48430c.6bc1d","type":"inject","z":"9c1e076.5f7d4f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":720,"wires":[["a7ddf5a0.774938"]]},{"id":"a7ddf5a0.774938","type":"function","z":"9c1e076.5f7d4f8","name":"Delete local device data","func":"\nflow.set(\"DEVICES\",{})\n//global.set(\"DEVICES\",{})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":720,"wires":[[]]},{"id":"8fc2e12f.1ef4e","type":"comment","z":"9c1e076.5f7d4f8","name":"Clear devices [DONT DO THIS]","info":"","x":260,"y":680,"wires":[]},{"id":"ea980516.08c4e8","type":"http in","z":"a36580c0.b9cfc","name":"","url":"/taxi_data/position","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["c7e2a410.3b78a8","b99bbdda.7e021"]]},{"id":"c7e2a410.3b78a8","type":"debug","z":"a36580c0.b9cfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"6a918290.6bd87c","type":"http response","z":"a36580c0.b9cfc","name":"","statusCode":"","headers":{},"x":1100,"y":160,"wires":[]},{"id":"565297f6.ed7cf8","type":"function","z":"a36580c0.b9cfc","name":"Filter data","func":"\nobj_keys = Object.keys(msg.payload);\nuser = msg.param.user\n\nfunction verifyClassification(classification, user){\n    owners = Object.keys(classification)\n    for (k=0; k<owners.length; k++){\n        owner = owners[k];\n        readers = classification[owner];\n        // User needs to be included in all policies\n        // in the classification to be allowed to read\n        // the data\n        if(user!=owner && !readers.includes(user)){\n            return false;\n        }\n    }\n    return true;\n}\n\ndata = []\nfor(i=0; i<obj_keys.length; i++){\n    key = obj_keys[i]\n    obj = msg.payload[key]\n    //node.warn(\"Key:\" + key)\n    for (j=0; j<obj.length; j++){\n        data_point = obj[j]\n        classification = data_point.classification\n        if(verifyClassification(classification, user)){\n            if('position' in data_point.properties){\n                return_obj = data_point.properties.position\n                return_obj.device_id = data_point.device_id\n                data.push(return_obj)\n            }\n            //data.push(data_point.properties)   \n        }\n    }\n    //node.warn(\"i=\" + i)\n}\n\nif (\"limit\" in msg.param){\n    N = parseInt(msg.param.limit)\n    data = data.slice(data.length-1-N)\n}\n\nmsg.data = data\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":160,"wires":[["6a918290.6bd87c","f24dd68e.f24968"]]},{"id":"13f2485f.4e9458","type":"file in","z":"a36580c0.b9cfc","name":"Load stored devices","filename":"/data/taxi_data_file","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":160,"wires":[["a6cd8fc7.3417e"]]},{"id":"a6cd8fc7.3417e","type":"json","z":"a36580c0.b9cfc","name":"","property":"payload","action":"","pretty":false,"x":770,"y":160,"wires":[["565297f6.ed7cf8","b719e5d9.0b5d58"]]},{"id":"f24dd68e.f24968","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":240,"wires":[]},{"id":"b99bbdda.7e021","type":"function","z":"a36580c0.b9cfc","name":"Extract params","func":"\n//msg.user = msg.payload.user\nmsg.param = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["13f2485f.4e9458","c7e2a410.3b78a8"]]},{"id":"4ba8d801.b18448","type":"function","z":"a36580c0.b9cfc","name":"Mock request","func":"msg.payload = {}\nmsg.payload.user = 'CompanyA'\nmsg.payload.limit = '5'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["b99bbdda.7e021"]]},{"id":"10d02bc6.b59df4","type":"inject","z":"a36580c0.b9cfc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["4ba8d801.b18448"]]},{"id":"b719e5d9.0b5d58","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":260,"wires":[]},{"id":"953feab6.22d408","type":"read-property","z":"89ad9af9.5b24b8","name":"","topic":"","thing":"55af362.e170ec8","property":"pulse","uriVariables":"{\"pulse\":\"http://192.168.1.128:9001/properties/pulse\"}","interval":5,"observe":false,"x":280,"y":260,"wires":[["99c729e1.2ea7d8"]]},{"id":"ae627947.b09838","type":"http request","z":"89ad9af9.5b24b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://patient-a:8888","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":440,"wires":[["672f0e3d.77f1f"]]},{"id":"672f0e3d.77f1f","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":440,"wires":[]},{"id":"bcd52eeb.73a52","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":440,"wires":[["ae627947.b09838"]]},{"id":"99c729e1.2ea7d8","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"a1ed63c9.e6699","type":"mongodb in","z":"89ad9af9.5b24b8","d":true,"mongodb":"2f9284ff.b82f8c","name":"","collection":"users","operation":"find","x":520,"y":660,"wires":[["e13d80d5.dc792"]]},{"id":"3f2c10b0.04d03","type":"mongodb out","z":"89ad9af9.5b24b8","d":true,"mongodb":"2f9284ff.b82f8c","name":"","collection":"users","payonly":true,"upsert":true,"multi":false,"operation":"update","x":740,"y":760,"wires":[]},{"id":"82f3e18a.c9879","type":"inject","z":"89ad9af9.5b24b8","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"query","v":"{\"name\":\"marcus2\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"$set\": {\"age\":\"30\"}}","payloadType":"json","x":470,"y":760,"wires":[["3f2c10b0.04d03"]]},{"id":"8c8e15fc.dd8418","type":"inject","z":"89ad9af9.5b24b8","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"marcus2\"}","payloadType":"json","x":280,"y":660,"wires":[["a1ed63c9.e6699"]]},{"id":"e13d80d5.dc792","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":680,"wires":[]},{"id":"47bff791.5eef28","type":"http request","z":"89ad9af9.5b24b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"192.168.128.8:8888","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":480,"wires":[["8b9b4f76.ca838"]]},{"id":"8b9b4f76.ca838","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"e37a5a5e.d98eb8","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":480,"wires":[["47bff791.5eef28"]]},{"id":"1e69d150.b1335f","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"devices","operation":"find","x":550,"y":880,"wires":[["e73594fd.60ad48"]]},{"id":"78f161db.b2673","type":"inject","z":"89ad9af9.5b24b8","name":"Append pulse value","props":[{"p":"query","v":"{\"id\":\"mock:pulse:a17abf86-1eb3-460e-8b3c-1206102184b71\"}","vt":"json"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"$push\": {\"properties.pulse.values\":{\"value\":4,\"time\":123}}}","payloadType":"json","x":250,"y":1040,"wires":[["f227b8f8.c874d8"]]},{"id":"e73594fd.60ad48","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":880,"wires":[]},{"id":"f227b8f8.c874d8","type":"mongodb out","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"devices","payonly":true,"upsert":true,"multi":false,"operation":"update","x":590,"y":1040,"wires":[]},{"id":"dba7517b.4d829","type":"inject","z":"89ad9af9.5b24b8","name":"Get complete device object","props":[{"p":"query","v":"{\"id\":\"mock:pulse:a17abf86-1eb3-460e-8b3c-1206102184b71\"}","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":880,"wires":[["1e69d150.b1335f","89cb04c5.048cf8"]]},{"id":"447a0da2.902204","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":560,"y":940,"wires":[["fb6b8601.7f3a58"]]},{"id":"fb6b8601.7f3a58","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":940,"wires":[]},{"id":"40056cce.ad3464","type":"inject","z":"89ad9af9.5b24b8","name":"Get properties device object","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":280,"y":940,"wires":[["447a0da2.902204"]]},{"id":"a0873417.295ca8","type":"mongodb in","z":"84e53390.36c6","mongodb":"f69609b1.cb1968","name":"","collection":"devices","operation":"find","x":290,"y":80,"wires":[["93965560.364828"]]},{"id":"93965560.364828","type":"function","z":"84e53390.36c6","name":"Format properties","func":"\nproperties = []\n\nfor(ii=0; ii<msg.payload.length; ii++) {\n    device_id = msg.payload[ii].id\n    classification = msg.payload[ii].classification\n    base = msg.payload[ii].base.replace(/\\/$/, \"\");\n    for (var prop in msg.payload[ii].properties){\n        property = msg.payload[ii].properties[prop]\n        property.device_id = device_id\n        property.classification = classification\n        property.name = prop\n        property.url = base + property.links[0].href\n        properties.push(property)\n    }\n}\nmsg.payload = properties;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":80,"wires":[[]]},{"id":"57e4d8fb.08ec18","type":"function","z":"1a50fa2e.f03ac6","name":"Prepare request","func":"\nif (msg.headers == undefined){\n    msg.headers = {\"Accept\": \"application/json\", 'Content-Type': 'application/json'}\n}\n\nmsg.url = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["4d2e5844.3bb248"]]},{"id":"4d2e5844.3bb248","type":"http request","z":"1a50fa2e.f03ac6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":200,"wires":[["11f7af50.4e17e1","539ab21e.2baa5c"]]},{"id":"11f7af50.4e17e1","type":"switch","z":"1a50fa2e.f03ac6","name":"statusCode=200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":140,"wires":[[]]},{"id":"539ab21e.2baa5c","type":"switch","z":"1a50fa2e.f03ac6","name":"statusCode!=200","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":220,"wires":[[]]},{"id":"91e4894f.20f558","type":"subflow:1a50fa2e.f03ac6","z":"8f5695d4.26e138","name":"","x":480,"y":280,"wires":[["eacd0cdd.76f5d","39b8309d.66c3a"],["ae3c59dd.a0a1a8"]]},{"id":"38677424.61953c","type":"inject","z":"8f5695d4.26e138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"HOSTS","payloadType":"flow","x":140,"y":280,"wires":[["24edfc7a.fca934"]]},{"id":"24edfc7a.fca934","type":"split","z":"8f5695d4.26e138","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"url","x":300,"y":280,"wires":[["91e4894f.20f558"]]},{"id":"ae3c59dd.a0a1a8","type":"debug","z":"8f5695d4.26e138","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"eacd0cdd.76f5d","type":"change","z":"8f5695d4.26e138","name":"Update device query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'id':msg.payload.id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[["7ff875d3.0fd8ec","2d25a2eb.1190ce"]]},{"id":"7ff875d3.0fd8ec","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":200,"wires":[]},{"id":"39b8309d.66c3a","type":"function","z":"8f5695d4.26e138","name":"Create property object","func":"\nproperties = []\n\ndevice_id = msg.payload.id\nclassification = msg.payload.classification\nbase = msg.payload.base.replace(/\\/$/, \"\");\nfor (var prop in msg.payload.properties){\n    property = msg.payload.properties[prop]\n    property.device_id = device_id\n    property.classification = classification\n    property.name = prop\n    property.url = base + property.links[0].href\n    properties.push(property)\n}\nmsg.payload = properties;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":300,"wires":[["5b5e0e62.7280e"]]},{"id":"74e8ecd8.add924","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":260,"wires":[]},{"id":"5b5e0e62.7280e","type":"split","z":"8f5695d4.26e138","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":900,"y":300,"wires":[["9f379298.01f75"]]},{"id":"9f379298.01f75","type":"change","z":"8f5695d4.26e138","name":"Update prop query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'device_id':msg.payload.device_id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":300,"wires":[["74e8ecd8.add924","8aafaf3d.75ce7"]]},{"id":"2d25a2eb.1190ce","type":"mongodb out","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"","collection":"devices","payonly":false,"upsert":true,"multi":false,"operation":"update","x":960,"y":240,"wires":[]},{"id":"8aafaf3d.75ce7","type":"mongodb out","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"Update metadata","collection":"properties","payonly":false,"upsert":true,"multi":false,"operation":"update","x":1260,"y":300,"wires":[]},{"id":"3b5793a9.7485dc","type":"mongodb in","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":380,"y":500,"wires":[["e2bfe81f.e99898","b8669dd.a55966"]]},{"id":"b30db75d.ccabb8","type":"inject","z":"8f5695d4.26e138","name":"Query device properties","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"projection","v":"{\"_id\":0,\"url\":1,\"device_id\":1,\"name\":1}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":500,"wires":[["3b5793a9.7485dc"]]},{"id":"e2bfe81f.e99898","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":460,"wires":[]},{"id":"b8669dd.a55966","type":"split","z":"8f5695d4.26e138","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":500,"wires":[["cd3cc10d.42663"]]},{"id":"2eb64e7f.e64a92","type":"http request","z":"988498cc.3d0758","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["f9b4bfcd.f0083","cfd02a2c.1b2b78"]]},{"id":"2391851e.77056a","type":"function","z":"988498cc.3d0758","name":"Format property object","func":"\nproperty = msg.property\n\nprop_name = property.name\nvalue = msg.payload[prop_name]\ntime = timestamp = Date.now();\ndata = {\"value\":value, \"time\":time}\n\nproperty.data = data;\n\nmsg.payload = property;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":180,"wires":[[]]},{"id":"f9b4bfcd.f0083","type":"switch","z":"988498cc.3d0758","name":"statusCode=200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":180,"wires":[["2391851e.77056a"]]},{"id":"cfd02a2c.1b2b78","type":"switch","z":"988498cc.3d0758","name":"statusCode!=200","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":240,"wires":[[]]},{"id":"9285c4dc.af9268","type":"function","z":"988498cc.3d0758","name":"Prepare request","func":"\nif (msg.headers == undefined){\n    msg.headers = {\"Accept\": \"application/json\", 'Content-Type': 'application/json'}\n}\n\nmsg.url = msg.payload.url;\nmsg.property = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":180,"wires":[["2eb64e7f.e64a92"]]},{"id":"55de1631.5bbf28","type":"subflow:988498cc.3d0758","z":"8f5695d4.26e138","name":"","env":[],"x":910,"y":500,"wires":[["dfa43fb3.c855"],["bb8a9d46.78832"]]},{"id":"c2a81fb2.17e74","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":440,"wires":[]},{"id":"dfa43fb3.c855","type":"change","z":"8f5695d4.26e138","name":"Set push query","rules":[{"t":"set","p":"query","pt":"msg","to":"{\"device_id\":msg.payload.device_id, \"name\":msg.payload.name}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$push\": {\"data\":msg.payload.data}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":480,"wires":[["c2a81fb2.17e74","2b5e056a.07087a"]]},{"id":"2b5e056a.07087a","type":"mongodb out","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"Push data","collection":"properties","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1280,"y":480,"wires":[]},{"id":"bb8a9d46.78832","type":"debug","z":"8f5695d4.26e138","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":520,"wires":[]},{"id":"cd3cc10d.42663","type":"switch","z":"8f5695d4.26e138","name":"Check url exists","property":"payload.url","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":500,"wires":[["55de1631.5bbf28","e5e594f6.669fe8"]]},{"id":"e5e594f6.669fe8","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":460,"wires":[]},{"id":"1e32c6e8.3c13d9","type":"function","z":"e7ae0c3a.b2112","name":"","func":"\nif (msg.payload.principal==undefined){\n    msg.payload.principal = 'Public'\n}\nmsg.principal = msg.payload.principal;\n\nmsg.projection = {\"_id\":1, \"classification\":1}\n\nquery = {}\nif (msg.payload.name!=undefined){\n    query.name = msg.payload.name;\n} \n\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":960,"wires":[["8126136.f3390f","9b464d8e.b9cdd"]]},{"id":"e25cb20e.5f39d","type":"inject","z":"e7ae0c3a.b2112","name":"Fetch properties","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"principal\":\"Doctor\"}","payloadType":"json","x":190,"y":960,"wires":[["1e32c6e8.3c13d9"]]},{"id":"8126136.f3390f","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":880,"wires":[]},{"id":"9b464d8e.b9cdd","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"Get authorized data","collection":"properties","operation":"find","x":730,"y":960,"wires":[["b5b7885f.b6ae18"]]},{"id":"24af428d.519dbe","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"pulse\"}","payloadType":"json","x":220,"y":1020,"wires":[["1e32c6e8.3c13d9"]]},{"id":"b5b7885f.b6ae18","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":1020,"wires":[]},{"id":"74e39c9c.ccfb34","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"devices","operation":"find","x":710,"y":1220,"wires":[["6e115c23.9d6b64"]]},{"id":"6e115c23.9d6b64","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":1220,"wires":[]},{"id":"41fc03e.d5fbffc","type":"inject","z":"89ad9af9.5b24b8","name":"Get properties device object","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":1220,"wires":[["914fa2cb.90621"]]},{"id":"368d64b9.d10ddc","type":"comment","z":"89ad9af9.5b24b8","name":"","info":"Script query","x":190,"y":1180,"wires":[]},{"id":"914fa2cb.90621","type":"function","z":"89ad9af9.5b24b8","name":"","func":"\nprincipal = \"Doctors\"\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunc = function(classification) { \n    for (var owner in classification){\n        if (\"$principal\" != owner && !classification[owner].includes(\"$principal\")){\n            return false            \n        }\n    }\n    return true; \n}\n/*\nquery = { \"$where\": \n\"function() { return this.title==\\\"PatientA\\\"; }\"\n}\n//query = {\"$where\": func}\n*/\nvar rep = \"$principal\";\nvar patt = new RegExp(rep, \"g\");\n//func_string = func.toString().replace(patt, principal);\nfunc_string = replaceAll(func.toString(), \"$principal\", principal);\n//query = {\"$where\": func.toString()};\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\n\nmsg.function = func_string;\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1220,"wires":[["74e39c9c.ccfb34","2e9df26a.91d25e"]]},{"id":"7ce4d6ea.5e2fa8","type":"inject","z":"89ad9af9.5b24b8","name":"Get properties device object","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"$where\":\"function() {return (this.title==PatientA)}\"}","payloadType":"json","x":340,"y":1340,"wires":[["2e9df26a.91d25e","74e39c9c.ccfb34"]]},{"id":"2e9df26a.91d25e","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"function","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1340,"wires":[]},{"id":"e9e17ecb.cc0b8","type":"function","z":"14204bc3.e267a4","name":"Safe classification query","func":"if (msg.principal==undefined){\n    msg.principal = 'Public'\n}\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunc = function(classification) { \n    for (var owner in classification){\n        if (\"$principal\" != owner && !classification[owner].includes(\"$principal\")){\n            return false            \n        }\n    }\n    return true; \n}\n\nvar rep = \"$principal\";\nvar patt = new RegExp(rep, \"g\");\n\nfunc_string = replaceAll(func.toString(), \"$principal\", msg.principal);\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\nif (msg.query!=undefined){\n    query = { $and: [ query, msg.query ] } \n}\n\nmsg.function = func_string; //Debug\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":240,"wires":[[]]},{"id":"7ed2289e.ef23f8","type":"subflow:14204bc3.e267a4","z":"e7ae0c3a.b2112","name":"","env":[],"x":540,"y":1160,"wires":[["7885a61d.834ed8","f88b8f03.ed1fa"]]},{"id":"5f77daf0.a269c4","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"principal","v":"PatientA","vt":"str"},{"p":"query","v":"{\"title\":\"Pulse\"}","vt":"json"},{"p":"projection","v":"{\"data\":1}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":1160,"wires":[["7ed2289e.ef23f8"]]},{"id":"d3c4ef83.ba847","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1160,"wires":[]},{"id":"7885a61d.834ed8","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":760,"y":1160,"wires":[["d3c4ef83.ba847"]]},{"id":"f88b8f03.ed1fa","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1220,"wires":[]},{"id":"cb760c48.7a398","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/properties","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1320,"wires":[["6de6ad4e.aaf474","cf56fa81.ce62f8"]]},{"id":"6de6ad4e.aaf474","type":"function","z":"e7ae0c3a.b2112","name":"Extract params","func":"/*\nmsg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"Pulse\",\n    \"principal\":\"PatientA\"\n}\n*/\nif (msg.payload.principal==undefined){\n    msg.payload.principal = 'Public';\n}\nmsg.principal = msg.payload.principal;\n\nmsg.query = {};\nif (msg.payload.device_id!=undefined){\n    msg.query['device_id']=msg.payload.device_id\n}\n\nif (msg.payload['@type']!=undefined){\n    msg.query['@type'] = msg.payload['@type'];\n}\n\nmsg.projection = {'_id':0};\nif (msg.payload.fetch!=undefined){\n    fetch = msg.payload.fetch.split(',');\n    msg.fetch = fetch;\n    for (var i=0; i<fetch.length; i++){\n        msg.projection[fetch[i]] = 1;\n    }\n}\n//msg.query = undefined;\n//msg.user = msg.payload.user\n//msg.param = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1320,"wires":[["ae450367.00875","f2e58ae5.698258"]]},{"id":"dd8448f6.4bf0f8","type":"function","z":"e7ae0c3a.b2112","name":"Mock request","func":"msg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"PulseData\",\n    \"principal\":\"PatientA\",\n    \"fetch\": \"name,data,classification\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1380,"wires":[["6de6ad4e.aaf474"]]},{"id":"b8dd4c11.c706","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1380,"wires":[["dd8448f6.4bf0f8"]]},{"id":"ae450367.00875","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1280,"wires":[]},{"id":"f2e58ae5.698258","type":"subflow:14204bc3.e267a4","z":"e7ae0c3a.b2112","name":"","env":[],"x":640,"y":1320,"wires":[["200d8b15.abd154","ed14d24c.a3b12"]]},{"id":"588dbba2.5ed6d4","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":1280,"wires":[]},{"id":"200d8b15.abd154","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":860,"y":1320,"wires":[["588dbba2.5ed6d4","2edb14fc.b3fe2c"]]},{"id":"ed14d24c.a3b12","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1280,"wires":[]},{"id":"2edb14fc.b3fe2c","type":"http response","z":"e7ae0c3a.b2112","name":"","statusCode":"","headers":{},"x":1050,"y":1320,"wires":[]},{"id":"cf56fa81.ce62f8","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":1260,"wires":[]},{"id":"a94dad63.eaa89","type":"function","z":"29f03fb6.bae","name":"Get policy owner query","func":"if (msg.owners==undefined){\n    msg.owners = ['Public']\n}\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunction arrayToString(array){\n    str = \"\";\n    for(var ii=0; ii<array.length; ii++){\n        str+=(\"\\\"\" + array[ii].toString() + \"\\\"\");\n        if(ii<array.length-1){\n            str+=\",\";\n        }\n    }\n    return \"[\" + str + \"]\";\n}\n\nfunc = function(classification) { \n    for (var owner in classification){\n        if (!$owners.includes(owner)){\n            return false            \n        }\n    }\n    return true; \n}\n\n\n\n//var rep = \"$principal\";\n//var patt = new RegExp(rep, \"g\");\n\nfunc_string = replaceAll(func.toString(), \"$owners\", arrayToString(msg.owners));\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\nif (msg.query!=undefined){\n    query = { $and: [ query, msg.query ] } \n}\n\nmsg.function = func_string; //Debug\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[[]]},{"id":"af7eb47b.d69cf8","type":"function","z":"dd86eacb.b08858","name":"Get readers query","func":"if (msg.principals==undefined){\n    msg.principals = ['Public']\n}\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunction arrayToString(array){\n    str = \"\";\n    for(var ii=0; ii<array.length; ii++){\n        str+=(\"\\\"\" + array[ii].toString() + \"\\\"\");\n        if(ii<array.length-1){\n            str+=\",\";\n        }\n    }\n    return \"[\" + str + \"]\";\n}\n\nfunc = function(classification) { \n    for (var ii=0; ii<$principals.length; ii++){\n        principal = $principals[ii];\n        for (var owner in classification){\n            readers = classification[owner];\n            isOwner = (owner==principal);\n            isReader = readers.includes(principal);\n            if (!isOwner && !isReader){\n                return false;     \n            }\n        }\n    }\n    return true; \n}\n\n\nfunc_string = replaceAll(func.toString(), \"$principals\", arrayToString(msg.principals));\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\nif (msg.query!=undefined){\n    query = { $and: [ query, msg.query ] } \n}\n\nmsg.function = func_string; //Debug\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[[]]},{"id":"fadb3e2f.f2268","type":"function","z":"e7ae0c3a.b2112","name":"Mock request","func":"msg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"PulseData\",\n    \"principals\":\"PatientA,Doctors,PatientB\",\n    \"fetch\": \"name,data,classification\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2100,"wires":[["f593c7c0.e353a8"]]},{"id":"ef248092.91d5a","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":2100,"wires":[["fadb3e2f.f2268"]]},{"id":"f593c7c0.e353a8","type":"function","z":"e7ae0c3a.b2112","name":"Extract params","func":"/*\nmsg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"Pulse\",\n    \"principal\":\"PatientA\"\n}\n*/\nif (msg.payload.principals==undefined){\n    msg.payload.principals = ['Public'];\n} else {\n    principals = msg.payload.principals.split(',');\n    msg.payload.principals = principals;\n}\nmsg.principals = msg.payload.principals;\n\nmsg.query = {};\nif (msg.payload.device_id!=undefined){\n    msg.query['device_id']=msg.payload.device_id\n}\n\nif (msg.payload['@type']!=undefined){\n    msg.query['@type'] = msg.payload['@type'];\n}\n\nmsg.projection = {'_id':0};\nif (msg.payload.fetch!=undefined){\n    fetch = msg.payload.fetch.split(',');\n    msg.fetch = fetch;\n    for (var i=0; i<fetch.length; i++){\n        msg.projection[fetch[i]] = 1;\n    }\n}\n//msg.query = undefined;\n//msg.user = msg.payload.user\n//msg.param = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2040,"wires":[["d65c70b9.aff52"]]},{"id":"ba6ff141.f706f","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1980,"wires":[]},{"id":"d65c70b9.aff52","type":"subflow:dd86eacb.b08858","z":"e7ae0c3a.b2112","name":"","env":[],"x":750,"y":2040,"wires":[["ba6ff141.f706f","ec5fe16e.7184c"]]},{"id":"ec5fe16e.7184c","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":1000,"y":2040,"wires":[["3d2b3388.eba97c"]]},{"id":"3d2b3388.eba97c","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":2040,"wires":[]},{"id":"89cb04c5.048cf8","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":840,"wires":[]},{"id":"53bebae2.bc4994","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"6ca5fc40.f49b04","name":"","collection":"devices","operation":"find","x":470,"y":1440,"wires":[["f4bbfcc2.17dce"]]},{"id":"a7c71722.5539a8","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1440,"wires":[["53bebae2.bc4994"]]},{"id":"f4bbfcc2.17dce","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":1500,"wires":[]},{"id":"fa2c7950.a633d8","type":"comment","z":"8f5695d4.26e138","name":"Fetch devices","info":"","x":140,"y":240,"wires":[]},{"id":"a6bb664a.5a6b98","type":"comment","z":"8f5695d4.26e138","name":"Fetch device properties","info":"","x":180,"y":460,"wires":[]},{"id":"3057f86.6b3b508","type":"subflow:1a50fa2e.f03ac6","z":"9c1e076.5f7d4f8","name":"","env":[],"x":460,"y":240,"wires":[["ddf17393.74007","c4be0681.8058b8"],["b3a045fc.64cf18"]]},{"id":"ea55902c.5930d","type":"inject","z":"9c1e076.5f7d4f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"HOSTS","payloadType":"flow","x":120,"y":240,"wires":[["a7f9c49d.aac578"]]},{"id":"a7f9c49d.aac578","type":"split","z":"9c1e076.5f7d4f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"url","x":280,"y":240,"wires":[["3057f86.6b3b508"]]},{"id":"b3a045fc.64cf18","type":"debug","z":"9c1e076.5f7d4f8","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"ddf17393.74007","type":"change","z":"9c1e076.5f7d4f8","name":"Update device query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'id':msg.payload.id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["59edbc70.1f8c74","20cefb32.585334"]]},{"id":"59edbc70.1f8c74","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":160,"wires":[]},{"id":"c4be0681.8058b8","type":"function","z":"9c1e076.5f7d4f8","name":"Create property object","func":"\nproperties = []\n\ndevice_id = msg.payload.id\nclassification = msg.payload.classification\nbase = msg.payload.base.replace(/\\/$/, \"\");\nfor (var prop in msg.payload.properties){\n    property = msg.payload.properties[prop]\n    property.device_id = device_id\n    property.classification = classification\n    property.name = prop\n    property.url = base + property.links[0].href\n    properties.push(property)\n}\nmsg.payload = properties;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":260,"wires":[["6f1b1b0c.56d414"]]},{"id":"2e479f66.fa8e8","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":220,"wires":[]},{"id":"6f1b1b0c.56d414","type":"split","z":"9c1e076.5f7d4f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":880,"y":260,"wires":[["d7692d2c.93aab"]]},{"id":"d7692d2c.93aab","type":"change","z":"9c1e076.5f7d4f8","name":"Update prop query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'device_id':msg.payload.device_id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":260,"wires":[["2e479f66.fa8e8","e331bf4.1b3944"]]},{"id":"20cefb32.585334","type":"mongodb out","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"","collection":"devices","payonly":false,"upsert":true,"multi":false,"operation":"update","x":950,"y":200,"wires":[]},{"id":"e331bf4.1b3944","type":"mongodb out","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"Update property metadata","collection":"properties","payonly":false,"upsert":true,"multi":false,"operation":"update","x":1260,"y":260,"wires":[]},{"id":"3d455c28.3411d4","type":"comment","z":"9c1e076.5f7d4f8","name":"Fetch devices","info":"","x":120,"y":200,"wires":[]},{"id":"386f4118.cd859e","type":"mongodb in","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"","collection":"properties","operation":"find","x":410,"y":480,"wires":[["2cd6920f.6ae7ae","3bf3ae0a.728112"]]},{"id":"13f219f9.836796","type":"inject","z":"9c1e076.5f7d4f8","name":"Query device properties","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"projection","v":"{\"_id\":0,\"url\":1,\"device_id\":1,\"name\":1}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["386f4118.cd859e"]]},{"id":"2cd6920f.6ae7ae","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"3bf3ae0a.728112","type":"split","z":"9c1e076.5f7d4f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":480,"wires":[["aba3cf02.028f2"]]},{"id":"f08a01cf.6de2a","type":"subflow:988498cc.3d0758","z":"9c1e076.5f7d4f8","name":"","env":[],"x":970,"y":480,"wires":[["20836bf6.e21cf4"],["d3dce418.1bab68"]]},{"id":"2b0857c1.b832a8","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":400,"wires":[]},{"id":"20836bf6.e21cf4","type":"change","z":"9c1e076.5f7d4f8","name":"Set push query","rules":[{"t":"set","p":"query","pt":"msg","to":"{\"device_id\":msg.payload.device_id, \"name\":msg.payload.name}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$push\": {\"data\":msg.payload.data}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":440,"wires":[["2b0857c1.b832a8","f8a827e6.4d9408"]]},{"id":"f8a827e6.4d9408","type":"mongodb out","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"Push data","collection":"properties","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1380,"y":480,"wires":[]},{"id":"d3dce418.1bab68","type":"debug","z":"9c1e076.5f7d4f8","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":520,"wires":[]},{"id":"aba3cf02.028f2","type":"switch","z":"9c1e076.5f7d4f8","name":"Check url exists","property":"payload.url","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":480,"wires":[["f08a01cf.6de2a","c4e8f379.6ae"]]},{"id":"c4e8f379.6ae","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":440,"wires":[]},{"id":"ab4b9388.55e53","type":"comment","z":"9c1e076.5f7d4f8","name":"Fetch device properties","info":"","x":200,"y":440,"wires":[]},{"id":"a8c426c5.dda908","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/mean","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1520,"wires":[["baaa0bcb.6aead8","5fe232c8.04690c"]]},{"id":"baaa0bcb.6aead8","type":"function","z":"e7ae0c3a.b2112","name":"Extract params","func":"/*\nmsg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"Pulse\",\n    \"principal\":\"PatientA\"\n}\n*/\nif (msg.payload.principal==undefined){\n    msg.payload.principal = 'Public';\n}\nmsg.principal = msg.payload.principal;\n\nmsg.query = {};\nif (msg.payload.device_id!=undefined){\n    msg.query['device_id']=msg.payload.device_id\n}\n\nif (msg.payload['@type']!=undefined){\n    msg.query['@type'] = msg.payload['@type'];\n}\n\nmsg.projection = {'_id':0};\nif (msg.payload.fetch!=undefined){\n    fetch = msg.payload.fetch.split(',');\n    msg.fetch = fetch;\n    for (var i=0; i<fetch.length; i++){\n        msg.projection[fetch[i]] = 1;\n    }\n}\n//msg.query = undefined;\n//msg.user = msg.payload.user\n//msg.param = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1520,"wires":[["5fe232c8.04690c","51836f1c.2607f"]]},{"id":"301e1c45.b05284","type":"function","z":"e7ae0c3a.b2112","name":"Mock request","func":"msg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"PulseData\",\n    \"principal\":\"PatientA\",\n    //\"fetch\": \"name,data,classification\"\n    \"fetch\": \"data\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1580,"wires":[["baaa0bcb.6aead8"]]},{"id":"c4e150e.e8418b","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1600,"wires":[["301e1c45.b05284"]]},{"id":"5fe232c8.04690c","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":1440,"wires":[]},{"id":"51836f1c.2607f","type":"subflow:14204bc3.e267a4","z":"e7ae0c3a.b2112","name":"","env":[],"x":700,"y":1520,"wires":[["cee05e18.5fa4e"]]},{"id":"f095df11.b4c08","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":1400,"wires":[]},{"id":"cee05e18.5fa4e","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":920,"y":1520,"wires":[["f095df11.b4c08","8c694bfe.fba908"]]},{"id":"8c694bfe.fba908","type":"function","z":"e7ae0c3a.b2112","name":"Mean","func":"\nresult = 0\ndata = msg.payload[0].data\nfor (var i=0; i<data.length; i++){\n    result = result + data[i].value\n}\nmsg.payload = result/data.length\n\n/*\nmsg.query = {\"device_id\" : {\"$in\" : data_sets }}\nmsg.projection = {\"classification\":1}\nmsg.projection[msg.property] = 1;\n\n//debug\nmsg.payload = \"Mean function requested\"\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1520,"wires":[["f095df11.b4c08"]]},{"id":"654a0ba0.0c8984","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":1760,"wires":[]},{"id":"15313634.d2116a","type":"merge","z":"e7ae0c3a.b2112","name":"","timeout":"1","x":1570,"y":1820,"wires":[["4bbf8ed0.32d8c","64bde26a.6078ec"]]},{"id":"4bbf8ed0.32d8c","type":"debug","z":"e7ae0c3a.b2112","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1800,"y":1880,"wires":[]},{"id":"64bde26a.6078ec","type":"function","z":"e7ae0c3a.b2112","name":"Format output","func":"\nif(msg.payload[0].payload.classification!=undefined){\n    classification = msg.payload[0].payload.classification\n    principal = msg.payload[0].payload.principal\n    data = msg.payload[1].payload\n} else {\n    classification = msg.payload[1].payload.classification\n    principal = msg.payload[1].payload.principal\n    data = msg.payload[0].payload\n}\n\npayload = {\n    \"classification\":classification,\n    \"principal\":principal,\n    \"data\":data\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1760,"y":1820,"wires":[["accac8f7.1bd978","a24180b9.ba1d9"]]},{"id":"7c5baf67.5ea69","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2170,"y":1740,"wires":[]},{"id":"accac8f7.1bd978","type":"function","z":"e7ae0c3a.b2112","name":"Verify correct principal","func":"\n\nprincipal = msg.payload.principal;\n\nfor (var owner in msg.payload.classification){\n    if(principal!=owner && !msg.payload.classification[owner].includes(principal)){\n        msg.payload.data = [];   \n    }\n}\n\nmsg.payload = msg.payload.data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2020,"y":1820,"wires":[["7c5baf67.5ea69"]]},{"id":"13358f4e.dda671","type":"subflow:29f03fb6.bae","z":"e7ae0c3a.b2112","name":"","env":[],"x":670,"y":1800,"wires":[["1806fb11.e9a515","64853a7c.7abb74"]]},{"id":"1806fb11.e9a515","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":1900,"wires":[]},{"id":"64853a7c.7abb74","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":940,"y":1820,"wires":[["efb14325.898ef","fa7d637.226d6a"]]},{"id":"efb14325.898ef","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1900,"wires":[]},{"id":"a49041fc.49a0a","type":"function","z":"e7ae0c3a.b2112","name":"Compute mean","func":"\nmean = [];\nfor (var ii=0; ii<msg.payload[0].data.length; ii++){\n    sum = 0;\n    n=msg.payload.length;\n    for (var jj=0; jj<msg.payload.length; jj++){\n        sum+=msg.payload[jj].data[ii].value;\n    }\n    mean.push(sum/n);\n}\nmsg.payload = mean;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1780,"wires":[["654a0ba0.0c8984","15313634.d2116a"]]},{"id":"fa7d637.226d6a","type":"function","z":"e7ae0c3a.b2112","name":"Prepare data","func":"\nmsg2 = {}\nmsg2['payload']={}\nmsg2.payload = {\n    'classification':msg.new_label,\n    'principal': msg.principal\n}\n\ndelete msg.new_label\ndelete msg.owners\ndelete msg.principal\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1820,"wires":[["a49041fc.49a0a","4c9dc87a.0d2d68"],["359080c5.1f341","15313634.d2116a"]]},{"id":"359080c5.1f341","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":1900,"wires":[]},{"id":"4c9dc87a.0d2d68","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":1740,"wires":[]},{"id":"83b3ea11.656ab8","type":"inject","z":"e7ae0c3a.b2112","name":"Doctors principal","props":[{"p":"payload"},{"p":"owners","v":"[\"PatientA\", \"PatientB\"]","vt":"jsonata"},{"p":"principal","v":"Doctors","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1880,"wires":[["3f584de2.aa5962"]]},{"id":"3f584de2.aa5962","type":"function","z":"e7ae0c3a.b2112","name":"Declassification specification","func":"\nowners = [\"PatientA\", \"PatientB\"]\n\nnew_label = {\"Research\":[]}\n\nmsg.owners = owners\nmsg.new_label = new_label;\n\nquery = {\"@type\":\"PulseData\"}\nmsg.query = query\n\nprojection = {\n        \"classification\":1, // Mandatory\n        \"@type\":1,\n        \"data\":1\n}\nmsg.projection = projection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1800,"wires":[["13358f4e.dda671"]]},{"id":"71e17c6.d711884","type":"inject","z":"e7ae0c3a.b2112","name":"Research principal","props":[{"p":"payload"},{"p":"owners","v":"[\"PatientA\", \"PatientB\"]","vt":"jsonata"},{"p":"principal","v":"Research","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1980,"wires":[["3f584de2.aa5962"]]},{"id":"a24180b9.ba1d9","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1960,"y":1760,"wires":[]},{"id":"85447919.965748","type":"comment","z":"e7ae0c3a.b2112","name":"Test research (Allowed)","info":"","x":170,"y":1940,"wires":[]},{"id":"fdb1f10.a29e31","type":"comment","z":"e7ae0c3a.b2112","name":"Test research (Not allowed)","info":"","x":150,"y":1840,"wires":[]},{"id":"6ece50fd.db9","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/declassified-mean","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1760,"wires":[["3f584de2.aa5962"]]}]