node-red/.node-red/.flows.json.backup
[{"id":"4c3a35da.f68bcc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84c10a70.b4bcd8","type":"tab","label":"python-wot","disabled":false,"info":""},{"id":"1301eb0c.cb3c05","type":"tab","label":"thingsboard connection","disabled":false,"info":""},{"id":"89ad9af9.5b24b8","type":"tab","label":"Global setup","disabled":false,"info":"Function to set up global variables such as ip of local machine\n\n"},{"id":"84041e35.dbf49","type":"tab","label":"Get Devices and Data","disabled":false,"info":""},{"id":"f088168c.08c968","type":"tab","label":"Put data to Thingsboard","disabled":false,"info":""},{"id":"929b49d3.fd5238","type":"tab","label":"Authorization mock","disabled":false,"info":""},{"id":"141904da.18313b","type":"tab","label":"DECLASSIFICATION: Compute cars per zone","disabled":false,"info":""},{"id":"8ed923c2.404c8","type":"mqtt-broker","z":"","name":"MQTT Broker location","broker":"localhost","port":"1881","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95967b6c.bf4128","type":"ui_tab","z":"","name":"Dev","icon":"dashboard","disabled":false,"hidden":false},{"id":"9ab0953a.61aa18","type":"ui_group","z":"","name":"Properties","tab":"95967b6c.bf4128","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6f540e1.b4baa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1346b680.0c26ca","type":"ui_group","z":"","name":"Default","tab":"95967b6c.bf4128","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6210e72.915e1","type":"ui_group","z":"","name":"Private","tab":"23b29e69.a69182","order":3,"disp":true,"width":"20","collapse":false},{"id":"99fff7f0.ec79a8","type":"ui_group","z":"","name":"Public","tab":"23b29e69.a69182","order":4,"disp":true,"width":"20","collapse":false},{"id":"23b29e69.a69182","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7e3962dd.f4e9fc","type":"mqtt in","z":"4c3a35da.f68bcc","name":"Location endpoint","topic":"position","qos":"2","datatype":"auto","broker":"8ed923c2.404c8","x":170,"y":120,"wires":[["72d4540c.a3a9cc","c5dffbc1.8774e8"]]},{"id":"72d4540c.a3a9cc","type":"function","z":"4c3a35da.f68bcc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":120,"wires":[["60aadfe0.cca98"]]},{"id":"c5dffbc1.8774e8","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":200,"wires":[]},{"id":"60aadfe0.cca98","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":40,"wires":[]},{"id":"662808a6.6b1bd8","type":"mosca in","z":"4c3a35da.f68bcc","mqtt_port":"1881","mqtt_ws_port":8080,"name":"Location MQTT Broker","username":"","password":"","dburl":"","x":150,"y":300,"wires":[["682e7f44.02458"]]},{"id":"682e7f44.02458","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":380,"wires":[]},{"id":"46e112d2.fca11c","type":"function","z":"4c3a35da.f68bcc","name":"","func":"\nmsg = {\"payload\":\"Hello world\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":480,"wires":[["5f339c9c.703c84","9cf10678.9d8228"]]},{"id":"5f339c9c.703c84","type":"mqtt out","z":"4c3a35da.f68bcc","name":"","topic":"position","qos":"","retain":"","broker":"8ed923c2.404c8","x":580,"y":460,"wires":[],"inputLabels":["msg.payload"]},{"id":"9cf10678.9d8228","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":540,"wires":[]},{"id":"2e65a9e4.b86116","type":"inject","z":"4c3a35da.f68bcc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["46e112d2.fca11c"]]},{"id":"8f1cc510.c2f7f8","type":"function","z":"4c3a35da.f68bcc","name":"SETUP","func":"IP=\"192.168.1.83\"\nPORT=8484\nPORT=8888\n\nflow.set(\"IP\",IP)\nflow.set(\"PORT\",PORT)\nflow.set(\"URL\",\"http://\" + IP + \":\" + PORT)                                                                                                                                                                                \nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nmsg = {}\nmsg.headers={}\nmsg.headers[\"Accept\"]=\"application/json\"\nmsg.headers['Content-Type']='application/json'\n\nmsg.url = \"http://\" + IP + \":\" + PORT\nmsg.model = msg.url + '/model'\nmsg.properties = msg.url + '/properties'\nmsg.things = msg.url\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":720,"wires":[["ef086057.1e35","c0580237.6be3d","5248f4b3.65eb1c","a944aeaa.945f5"]]},{"id":"c0580237.6be3d","type":"http request","z":"4c3a35da.f68bcc","name":"Get Root","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":660,"wires":[["e15f06f8.d6a268"]]},{"id":"87efebea.27e988","type":"inject","z":"4c3a35da.f68bcc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":720,"wires":[["8f1cc510.c2f7f8"]]},{"id":"232a7c82.76e324","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":820,"wires":[]},{"id":"ce2bd544.1a8ab8","type":"http request","z":"4c3a35da.f68bcc","name":"Get Model","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":720,"wires":[["9a1df6f7.e5f638","57040de.d7db4f4","eb89bef6.94b59"]]},{"id":"d36b3c46.06238","type":"http request","z":"4c3a35da.f68bcc","name":"Get Properties","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":780,"wires":[["232a7c82.76e324","80b6bf1c.17086","12577dc3.489432","71c209cc.4556f8"]]},{"id":"c66bfe07.e92ca","type":"http request","z":"4c3a35da.f68bcc","name":"Get Actions","method":"GET","ret":"txt","paytoqs":"body","url":"localhost:8484/actions","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":840,"wires":[[]]},{"id":"f165227d.f08d4","type":"file in","z":"4c3a35da.f68bcc","name":"","filename":"models","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":1100,"wires":[["bf2e1757.c49888"]]},{"id":"dbb8ed26.3e3f2","type":"inject","z":"4c3a35da.f68bcc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1100,"wires":[["f165227d.f08d4"]]},{"id":"bf2e1757.c49888","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":1100,"wires":[]},{"id":"57040de.d7db4f4","type":"ui_text","z":"4c3a35da.f68bcc","group":"1346b680.0c26ca","order":0,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":1130,"y":600,"wires":[]},{"id":"9a1df6f7.e5f638","type":"function","z":"4c3a35da.f68bcc","name":"","func":"\n\n//data = JSON.parse(msg);\n//return data;\nmodel = {};\nmodel['id']=msg.payload['id'];\n\nreturn model","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":760,"wires":[["72d02a35.7d7264"]]},{"id":"72d02a35.7d7264","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1440,"y":760,"wires":[]},{"id":"80b6bf1c.17086","type":"ui_template","z":"4c3a35da.f68bcc","group":"9ab0953a.61aa18","name":"","order":1,"width":0,"height":0,"format":"\n<!-- Write your comments here \n<div ng-bind-html=\"msg.payload\"></div>\n    //<td>{{key}}</td>\n    //<td>{{value.id}}</td>\n\n-->\n\n<h1>Notification List</h1>\n<table>\n<tr style=\"font-weight:800;\">\n<td>Index</td><td>Value</td><td>Name</td><td>Value</td></tr>\n<tr ng-repeat=\"(key, value) in msg.payload\">\n\n    <td>{{value.name}}</td>\n    <td>\n        {{value.values.t}}\n        {{value.values.h}}\n        {{value.values.presence}}\n    </td>\n</tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1250,"y":900,"wires":[[]]},{"id":"eb89bef6.94b59","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":680,"wires":[]},{"id":"12577dc3.489432","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":960,"wires":[]},{"id":"e15f06f8.d6a268","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":560,"wires":[]},{"id":"ef086057.1e35","type":"change","z":"4c3a35da.f68bcc","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"model","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":720,"wires":[["ce2bd544.1a8ab8"]]},{"id":"5248f4b3.65eb1c","type":"change","z":"4c3a35da.f68bcc","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"properties","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":780,"wires":[["d36b3c46.06238"]]},{"id":"71c209cc.4556f8","type":"function","z":"4c3a35da.f68bcc","name":"","func":"\ndevices = {}\ndevices.test = \"Hello world\"\n\nfor (i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].id==\"temperature\"){\n        devices.temperature = msg.payload[i]\n    }\n}\n\n//return msg.payload[1]\nreturn devices;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":920,"wires":[["c474f322.3a4dd","c87ca074.b9ab"]]},{"id":"c474f322.3a4dd","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":940,"wires":[]},{"id":"c87ca074.b9ab","type":"switch","z":"4c3a35da.f68bcc","name":"","property":"temperature","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1020,"wires":[["e3de14fe.a650b8"]]},{"id":"49cee07a.7f00e","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":980,"wires":[]},{"id":"e3de14fe.a650b8","type":"change","z":"4c3a35da.f68bcc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1020,"wires":[["49cee07a.7f00e"]]},{"id":"55ae731a.5236fc","type":"http request","z":"4c3a35da.f68bcc","name":"Get Things","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":900,"wires":[["4704760d.643d68"]]},{"id":"a944aeaa.945f5","type":"change","z":"4c3a35da.f68bcc","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"things","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":880,"wires":[["55ae731a.5236fc"]]},{"id":"4704760d.643d68","type":"debug","z":"4c3a35da.f68bcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":1020,"wires":[]},{"id":"478d6e42.cdf51","type":"inject","z":"84c10a70.b4bcd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":740,"wires":[["fb6566bb.cffb08","64402735.e59138"]]},{"id":"fb6566bb.cffb08","type":"function","z":"84c10a70.b4bcd8","name":"SETUP","func":"IP=\"192.168.1.82\"\nPORT=8484\nPORT=8888\n\nflow.set(\"IP\",IP)\nflow.set(\"PORT\",PORT)\nflow.set(\"URL\",\"http://\" + IP + \":\" + PORT)                                                                                                                                                                                \nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nmsg = {}\nmsg.headers={}\nmsg.headers[\"Accept\"]=\"application/json\"\nmsg.headers['Content-Type']='application/json'\n\nmsg.url = \"http://\" + IP + \":\" + PORT\nmsg.model = msg.url + '/model'\nmsg.properties = msg.url + '/properties'\nmsg.things = msg.url\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":740,"wires":[["2259231c.a7924c","c4a018e9.3598c8"]]},{"id":"2259231c.a7924c","type":"http request","z":"84c10a70.b4bcd8","name":"Get Root","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":680,"wires":[["cf7df560.3d8588"]]},{"id":"c4a018e9.3598c8","type":"change","z":"84c10a70.b4bcd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"things","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":900,"wires":[["2f137f9f.0dcd"]]},{"id":"cf7df560.3d8588","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":580,"wires":[]},{"id":"2f137f9f.0dcd","type":"http request","z":"84c10a70.b4bcd8","name":"Get Things","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":920,"wires":[["5c368244.3bc2fc","c6fff0c8.b9d73"]]},{"id":"5c368244.3bc2fc","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1640,"y":900,"wires":[]},{"id":"c6fff0c8.b9d73","type":"split","z":"84c10a70.b4bcd8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1600,"y":1020,"wires":[["8252e5bc.790c28","d35e9f8c.4e08e"]]},{"id":"8252e5bc.790c28","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1800,"y":1020,"wires":[]},{"id":"70633076.26c2f","type":"switch","z":"84c10a70.b4bcd8","name":"Public data","property":"payload.classification","propertyType":"msg","rules":[{"t":"eq","v":"public","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1140,"wires":[["f162e366.f0285","ea8112cc.21c28"]]},{"id":"4b4036ed.30f128","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1910,"y":1120,"wires":[]},{"id":"7fe65a7a.aafbd4","type":"switch","z":"84c10a70.b4bcd8","name":"Private data","property":"payload.classification","propertyType":"msg","rules":[{"t":"eq","v":"private","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1560,"y":1220,"wires":[["110f301f.813a3","5a576178.92048"]]},{"id":"9040008e.93d3d","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1900,"y":1200,"wires":[]},{"id":"65eaead1.ba0f14","type":"file","z":"84c10a70.b4bcd8","name":"Store public data","filename":"public.data","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1920,"y":1080,"wires":[[]]},{"id":"25e0ac54.e6deb4","type":"file","z":"84c10a70.b4bcd8","name":"Store private data","filename":"private.data","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1920,"y":1240,"wires":[["c3073506.2f3b58"]]},{"id":"58a1d647.79deb8","type":"file in","z":"84c10a70.b4bcd8","name":"Read public data","filename":"public.data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":660,"y":1340,"wires":[["f107fbce.e9f5b8"]]},{"id":"f347d334.b4511","type":"file in","z":"84c10a70.b4bcd8","name":"Read private data","filename":"private.data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":660,"y":1420,"wires":[["3d85e3a8.5bf11c"]]},{"id":"9245ad8.f30105","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":1340,"wires":[]},{"id":"1f4ed4f6.1316eb","type":"inject","z":"84c10a70.b4bcd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":1260,"wires":[["58a1d647.79deb8","f347d334.b4511"]]},{"id":"f107fbce.e9f5b8","type":"json","z":"84c10a70.b4bcd8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1340,"wires":[["9245ad8.f30105","abc5cece.e39c"]]},{"id":"3d85e3a8.5bf11c","type":"json","z":"84c10a70.b4bcd8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1420,"wires":[["c27ca3a.dbb536","817e8500.bd7878"]]},{"id":"abc5cece.e39c","type":"ui_template","z":"84c10a70.b4bcd8","group":"99fff7f0.ec79a8","name":"","order":1,"width":0,"height":0,"format":"\n<!-- Write your comments here \n<div ng-bind-html=\"msg.payload\"></div>\n    //<td>{{key}}</td>\n    //<td>{{value.id}}</td>\n\n-->\n\n<h1>Public Data</h1>\n<table>\n<tr style=\"font-weight:800;\">\n<td>id</td><td>Title</td><td>Value</td></tr>\n<tr ng-repeat=\"(key, value) in msg.payload\">\n\n    <td>{{value.id}}</td>\n    <td>{{value.title}}</td>\n    <td>{{value.properties.level.value}}</td>\n</tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1090,"y":1380,"wires":[[]]},{"id":"d35e9f8c.4e08e","type":"function","z":"84c10a70.b4bcd8","name":"","func":"\nmsg.url = msg.url + msg.payload.properties.level.links[0].href\nmsg.model = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1120,"wires":[["1078d1d7.27737e","37d8dcbe.87afa4"]]},{"id":"1078d1d7.27737e","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":1100,"wires":[]},{"id":"c1fa93ca.e2492","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":1360,"wires":[]},{"id":"37d8dcbe.87afa4","type":"http request","z":"84c10a70.b4bcd8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":1240,"wires":[["1b9bab8.81f3155","7964f279.4056bc"]]},{"id":"1b9bab8.81f3155","type":"function","z":"84c10a70.b4bcd8","name":"","func":"\nmodel = msg.model\n\nmodel.properties.level.value = msg.payload.level\n\nmsg.payload=model\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1240,"wires":[["c1fa93ca.e2492","7fe65a7a.aafbd4","70633076.26c2f"]]},{"id":"7964f279.4056bc","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":1340,"wires":[]},{"id":"f162e366.f0285","type":"join","z":"84c10a70.b4bcd8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1730,"y":1100,"wires":[["65eaead1.ba0f14","4b4036ed.30f128"]]},{"id":"110f301f.813a3","type":"join","z":"84c10a70.b4bcd8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1730,"y":1160,"wires":[["9040008e.93d3d","25e0ac54.e6deb4"]]},{"id":"c27ca3a.dbb536","type":"ui_template","z":"84c10a70.b4bcd8","group":"f6210e72.915e1","name":"","order":1,"width":0,"height":0,"format":"\n<!-- Write your comments here \n<div ng-bind-html=\"msg.payload\"></div>\n    //<td>{{key}}</td>\n    //<td>{{value.id}}</td>\n\n-->\n\n<h1>Private Data</h1>\n<table>\n<tr style=\"font-weight:800;\">\n<td>id</td><td>Title</td><td>Value</td></tr>\n<tr ng-repeat=\"(key, value) in msg.payload\">\n\n    <td>{{value.id}}</td>\n    <td>{{value.title}}</td>\n    <td>{{value.properties.level.value}}</td>\n</tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1090,"y":1440,"wires":[[]]},{"id":"817e8500.bd7878","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":1500,"wires":[]},{"id":"ea8112cc.21c28","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1850,"y":1340,"wires":[]},{"id":"63c526c8.d41058","type":"file","z":"84c10a70.b4bcd8","name":"Store public data","filename":"public.data","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":730,"y":900,"wires":[[]]},{"id":"9d21961b.5000f8","type":"file","z":"84c10a70.b4bcd8","name":"Store private data","filename":"private.data","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":960,"wires":[[]]},{"id":"64402735.e59138","type":"function","z":"84c10a70.b4bcd8","name":"Clear stored data","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":920,"wires":[["63c526c8.d41058","9d21961b.5000f8"]]},{"id":"5a576178.92048","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1820,"y":1400,"wires":[]},{"id":"6d9ac072.ba06d","type":"complete","z":"84c10a70.b4bcd8","name":"","scope":["25e0ac54.e6deb4","65eaead1.ba0f14"],"uncaught":false,"x":410,"y":1360,"wires":[["f347d334.b4511","58a1d647.79deb8"]]},{"id":"c3073506.2f3b58","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2060,"y":1320,"wires":[]},{"id":"7daf7800.951528","type":"function","z":"84c10a70.b4bcd8","name":"Thingsboard setup","func":"\nIP = '192.168.1.82'\nPORT = '9090'\nurl = IP + ':' + PORT + '/api/v1'\nendpoint = '/telemetry'\nheaders = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json'\n}\n\n\nAPI_KEYS = {\n    \"urn:dev:ops:fake-thermo-1\":\"\",\n    \"urn:dev:ops:fake-thermo-2\":\"\"\n}\n\n\nt1 = {\n    \"id\": \"urn:dev:ops:fake-thermo-1\",\n    \"device_id\":\"30bfb4a0-d710-11ea-b079-cd5e832a839a\",\n    \"token\": \"NtWw4hukTjeWhMVnCmQC\"\n}\n\nt2 = {\n    \"id\": \"urn:dev:ops:fake-thermo-2\",\n    \"device_id\":\"30bfb4a1-d710-11ea-b079-cd5e832a839a\",\n    \"token\": \"9deHSIODBFDCYeTI9we8\"\n}\n\ndevices = {\n    \"urn:dev:ops:fake-thermo-1\":t1,\n    \"urn:dev:ops:fake-thermo-2\":t2,\n}\n\nmsg.setup = {}\nmsg.setup.headers = headers\nmsg.setup.url = url\nmsg.setup.endpoint = endpoint\nmsg.setup.devices = devices\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1600,"wires":[["933680ff.e21b4","459db2ec.9a315c"]]},{"id":"933680ff.e21b4","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":1580,"wires":[]},{"id":"8bbce704.dcb3e8","type":"inject","z":"84c10a70.b4bcd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1560,"wires":[["7daf7800.951528","f0fbf8d1.377038"]]},{"id":"f0fbf8d1.377038","type":"file in","z":"84c10a70.b4bcd8","name":"Read public data","filename":"public.data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":1700,"wires":[["cd3dd206.ed9cc"]]},{"id":"cd3dd206.ed9cc","type":"json","z":"84c10a70.b4bcd8","name":"","property":"payload","action":"","pretty":false,"x":650,"y":1700,"wires":[["4ec2a33a.f663dc","59ad843e.50badc"]]},{"id":"4dc854e0.cef96c","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1800,"wires":[]},{"id":"4ec2a33a.f663dc","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":1900,"wires":[]},{"id":"64d8efad.1f05e","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1750,"y":1760,"wires":[]},{"id":"d4b39c29.7c59f","type":"function","z":"84c10a70.b4bcd8","name":"Merge setup and model data","func":"\npayload = {}\npayload['setup'] = msg.setup\npayload['models'] = msg.models\n\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":1680,"wires":[["8503b38c.fc3f","dfbf627c.00f31"]]},{"id":"8503b38c.fc3f","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":1800,"wires":[]},{"id":"459db2ec.9a315c","type":"join","z":"84c10a70.b4bcd8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":1680,"wires":[["4dc854e0.cef96c","d4b39c29.7c59f"]]},{"id":"fe0b7211.06abc","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2040,"y":1740,"wires":[]},{"id":"59ad843e.50badc","type":"change","z":"84c10a70.b4bcd8","name":"","rules":[{"t":"set","p":"models","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1700,"wires":[["459db2ec.9a315c"]]},{"id":"dfbf627c.00f31","type":"function","z":"84c10a70.b4bcd8","name":"","func":"\nbase_url = msg.payload.setup.url\nheaders = msg.payload.setup.headers\nendpoint = msg.payload.setup.endpoint\ndevices = msg.payload.setup.devices\n\nmodels = msg.payload.models\n\n\nrequest_data = []\n\nfor (i=0; i<models.length; i++){\n    data = {}\n    model = models[i]\n    token = devices[model.id]['token']\n    url = base_url + '/' + token + endpoint\n    value = model.properties.level.value\n    data.url = url\n    data.headers = headers\n    data.value = value\n    request_data.push(data)\n}\n\nmsg.payload = request_data\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":1680,"wires":[["64d8efad.1f05e","b79cd335.7ba1d"]]},{"id":"b79cd335.7ba1d","type":"split","z":"84c10a70.b4bcd8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1760,"y":1680,"wires":[["fe0b7211.06abc","f67b70bf.0fcb3"]]},{"id":"f67b70bf.0fcb3","type":"function","z":"84c10a70.b4bcd8","name":"","func":"\n\npayload = {'value':msg.payload.value}\nurl = msg.payload.url\nheaders = msg.payload.headers\n\nmsg.url = url\nmsg.headers = headers\nmsg.payload = payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2030,"y":1680,"wires":[["fc499566.dedd48","8922fb9c.d8fde8"]]},{"id":"fc499566.dedd48","type":"debug","z":"84c10a70.b4bcd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2220,"y":1620,"wires":[]},{"id":"8922fb9c.d8fde8","type":"http request","z":"84c10a70.b4bcd8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2350,"y":1700,"wires":[["7e467224.d7b4ac"]]},{"id":"7e467224.d7b4ac","type":"debug","z":"84c10a70.b4bcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2670,"y":1760,"wires":[]},{"id":"d4a8aba2.5e64d8","type":"function","z":"1301eb0c.cb3c05","name":"Thingsboard setup","func":"\nIP = '192.168.1.83'\nPORT = '9090'\nurl = IP + ':' + PORT\n\nAPI_KEY = \"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZW5hbnRAdGhpbmdzYm9hcmQub3JnIiwic2NvcGVzIjpbIlRFTkFOVF9BRE1JTiJdLCJ1c2VySWQiOiJlOWFiYTUxMC1kNzA1LTExZWEtYTU5OC1jNWFlOTdlY2Q1ZTUiLCJlbmFibGVkIjp0cnVlLCJpc1B1YmxpYyI6ZmFsc2UsInRlbmFudElkIjoiZTk4ZTU5MTAtZDcwNS0xMWVhLWE1OTgtYzVhZTk3ZWNkNWU1IiwiY3VzdG9tZXJJZCI6IjEzODE0MDAwLTFkZDItMTFiMi04MDgwLTgwODA4MDgwODA4MCIsImlzcyI6InRoaW5nc2JvYXJkLmlvIiwiaWF0IjoxNTk2NjI1MDgzLCJleHAiOjE1OTY2MzQwODN9.893INICqQFBSGRC0tu9P2VHzWuO7RXKXIiSb9mi80dERjPu7G3R4xUsqKYmGYjxQhYeLQCcmmX1hkFUHj8-x-g\"\n//,\"refreshToken\":\"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZW5hbnRAdGhpbmdzYm9hcmQub3JnIiwic2NvcGVzIjpbIlJFRlJFU0hfVE9LRU4iXSwidXNlcklkIjoiZTlhYmE1MTAtZDcwNS0xMWVhLWE1OTgtYzVhZTk3ZWNkNWU1IiwiaXNQdWJsaWMiOmZhbHNlLCJpc3MiOiJ0aGluZ3Nib2FyZC5pbyIsImp0aSI6IjRiZTAzZTFiLWRlODMtNDY2My05NjQ3LTg4MDhkYmI1NmY2OSIsImlhdCI6MTU5NjYyNTA4MywiZXhwIjoxNTk3MjI5ODgzfQ.NShWYBZaelwGzu6sKxsPpRSW6tEhn98SfsRGxLpBVAmIOYCQ88Q25sH7E6HebeRSiVOXrDOHCRFvq7CM00Qi1Q\"\ndevice_endpoint = '/api/device'\n\nheaders = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json'\n}\n\nauth_headers = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json',\n    'X-Authorization': 'Bearer ' + API_KEY\n}\n\n\nt1 = {\n    \"id\": \"urn:dev:ops:fake-thermo-1\",\n    \"device_id\":\"44cd5940-d669-11ea-92f4-0d3830b8a26f\",\n    \"token\": \"iFtL0muc5NeO9CICl074\"\n}\n\nt2 = {\n    \"id\": \"urn:dev:ops:fake-thermo-2\",\n    \"device_id\":\"50679fe0-d669-11ea-92f4-0d3830b8a26f\",\n    \"token\": \"7LSpL2Uxutw0LRHL9f5t\"\n}\n\ndevices = {\n    \"urn:dev:ops:fake-thermo-1\":t1,\n    \"urn:dev:ops:fake-thermo-2\":t2,\n}\n\nnames = [\n    \"urn:dev:ops:fake-thermo-1\",\n    \"urn:dev:ops:fake-thermo-2\",\n    ]\n\nmsg.setup = {}\nmsg.setup.headers = headers\nmsg.setup.auth_headers = auth_headers\nmsg.setup.url = url\nmsg.setup.device_endpoint = device_endpoint\nmsg.setup.devices = devices\nmsg.setup.names = names\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["ed4958db.293638"]]},{"id":"ed4958db.293638","type":"function","z":"1301eb0c.cb3c05","name":"CreateDevices","func":"\nmsg.url = msg.setup.url + msg.setup.device_endpoint\n\npayload = []\n\nfor(i=0; i<msg.setup.names.length; i++){\n    data = {}\n    data.url = msg.setup.url + msg.setup.device_endpoint\n    data.headers = msg.setup.auth_headers\n    data.payload = {\n        \"name\":msg.setup.names[i],\n        \"type\":\"wot-device\"\n    }\n    payload.push(data)\n}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":180,"wires":[["77437b94.fadc44","ea11cfdd.7ce8"]]},{"id":"77437b94.fadc44","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":340,"wires":[]},{"id":"ec7064ed.07a508","type":"inject","z":"1301eb0c.cb3c05","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["d4a8aba2.5e64d8"]]},{"id":"ea11cfdd.7ce8","type":"split","z":"1301eb0c.cb3c05","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":180,"wires":[["92594e72.bd4e9","b01f8bf3.720c48"]]},{"id":"92594e72.bd4e9","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":120,"wires":[]},{"id":"b01f8bf3.720c48","type":"function","z":"1301eb0c.cb3c05","name":"Prepare request","func":"\nmsg.url = msg.payload.url\nmsg.headers = msg.payload.headers\nmsg.payload = msg.payload.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":180,"wires":[["6acfcb75.5ad0d4","537262d6.4f800c"]]},{"id":"6acfcb75.5ad0d4","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":280,"wires":[]},{"id":"537262d6.4f800c","type":"http request","z":"1301eb0c.cb3c05","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":180,"wires":[["1b843169.546eaf"]]},{"id":"1b843169.546eaf","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":260,"wires":[]},{"id":"37f03568.e8d7ba","type":"complete","z":"84c10a70.b4bcd8","name":"","scope":["25e0ac54.e6deb4","65eaead1.ba0f14"],"uncaught":false,"x":190,"y":1680,"wires":[["7daf7800.951528","f0fbf8d1.377038"]]},{"id":"f067cf6a.44411","type":"function","z":"1301eb0c.cb3c05","name":"Customer setup","func":"\n\ncustomerA = {\n    'name': 'Customer A',\n    'id': 'e9bc6df0-d705-11ea-a598-c5ae97ecd5e5',\n    'security_level': 'public'\n}\n\ncustomerB = {\n    'name': 'Customer B',\n    'id': 'e9c3c0f0-d705-11ea-a598-c5ae97ecd5e5',\n    'security_level': 'private'\n}\n\ncustomers = [customerA, customerB]\nmsg.customers = customers\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":420,"wires":[["28939866.2d27d8","f1f379c5.2d3c58"]]},{"id":"5a76e292.20241c","type":"file in","z":"1301eb0c.cb3c05","name":"Read public data","filename":"public.data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":520,"wires":[["2412c3f3.73711c","91e8c159.d0c56"]]},{"id":"872f8e1c.d24bc","type":"inject","z":"1301eb0c.cb3c05","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":480,"wires":[["f067cf6a.44411","5a76e292.20241c","78e7cf00.8ad2b","4cfb59d2.80dd68"]]},{"id":"2412c3f3.73711c","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":640,"wires":[]},{"id":"242699d3.102016","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":640,"wires":[]},{"id":"28939866.2d27d8","type":"join","z":"1301eb0c.cb3c05","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":440,"wires":[["2c768990.23d776","33f01ed2.b130f2"]]},{"id":"91e8c159.d0c56","type":"json","z":"1301eb0c.cb3c05","name":"","property":"payload","action":"","pretty":false,"x":500,"y":520,"wires":[["371a10a6.4e26c"]]},{"id":"2c768990.23d776","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":380,"wires":[]},{"id":"371a10a6.4e26c","type":"change","z":"1301eb0c.cb3c05","name":"","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":520,"wires":[["28939866.2d27d8"]]},{"id":"33f01ed2.b130f2","type":"function","z":"1301eb0c.cb3c05","name":"Assign public devices","func":"\npublic_customers = []\n\nfor (i=0; i<msg.customers.length; i++){\n    customer = msg.customers[i]\n    customer.devices = []\n    if (customer.security_level == 'public'){\n        public_customers.push(customer)\n    }\n}\n\nfor (i=0; i<msg.devices.length; i++){\n    device = msg.devices[i]\n    if(device.classification == 'public'){\n        for (j=0; j<public_customers.length; j++){\n            public_customers[j].devices.push(device)\n        }\n    }\n}\n\n\nmsg.payload = public_customers\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":500,"wires":[["60a575ff.45583c","252f044.8c50dfc"]]},{"id":"60a575ff.45583c","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":600,"wires":[]},{"id":"78e7cf00.8ad2b","type":"function","z":"1301eb0c.cb3c05","name":"Thingsboard setup","func":"\nIP = '192.168.1.83'\nPORT = '9090'\nurl = IP + ':' + PORT\n\n//API_KEY = \"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZW5hbnRAdGhpbmdzYm9hcmQub3JnIiwic2NvcGVzIjpbIlRFTkFOVF9BRE1JTiJdLCJ1c2VySWQiOiJlOWFiYTUxMC1kNzA1LTExZWEtYTU5OC1jNWFlOTdlY2Q1ZTUiLCJlbmFibGVkIjp0cnVlLCJpc1B1YmxpYyI6ZmFsc2UsInRlbmFudElkIjoiZTk4ZTU5MTAtZDcwNS0xMWVhLWE1OTgtYzVhZTk3ZWNkNWU1IiwiY3VzdG9tZXJJZCI6IjEzODE0MDAwLTFkZDItMTFiMi04MDgwLTgwODA4MDgwODA4MCIsImlzcyI6InRoaW5nc2JvYXJkLmlvIiwiaWF0IjoxNTk2NzA0OTYzLCJleHAiOjE1OTY3MTM5NjN9.50iyHP0Fs1GNGwzjBsLnVYegHb9Lx9Lz2_sQ19JT-Blkdq5qgCQaPB-FqGRPMPLmecS9uoJSVJJpIY-WoGlMcA\"\n//,\"refreshToken\":\"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZW5hbnRAdGhpbmdzYm9hcmQub3JnIiwic2NvcGVzIjpbIlJFRlJFU0hfVE9LRU4iXSwidXNlcklkIjoiZTlhYmE1MTAtZDcwNS0xMWVhLWE1OTgtYzVhZTk3ZWNkNWU1IiwiaXNQdWJsaWMiOmZhbHNlLCJpc3MiOiJ0aGluZ3Nib2FyZC5pbyIsImp0aSI6IjRiZTAzZTFiLWRlODMtNDY2My05NjQ3LTg4MDhkYmI1NmY2OSIsImlhdCI6MTU5NjYyNTA4MywiZXhwIjoxNTk3MjI5ODgzfQ.NShWYBZaelwGzu6sKxsPpRSW6tEhn98SfsRGxLpBVAmIOYCQ88Q25sH7E6HebeRSiVOXrDOHCRFvq7CM00Qi1Q\"\nAPI_KEY = global.get('auth')['token']\n\ndevice_endpoint = '/api/device'\n\nheaders = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json'\n}\n\nauth_headers = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json',\n    'X-Authorization': 'Bearer ' + API_KEY\n}\n\n\nt1 = {\n    \"id\": \"urn:dev:ops:fake-thermo-1\",\n    \"device_id\":\"44cd5940-d669-11ea-92f4-0d3830b8a26f\",\n    \"token\": \"iFtL0muc5NeO9CICl074\"\n}\n\nt2 = {\n    \"id\": \"urn:dev:ops:fake-thermo-2\",\n    \"device_id\":\"50679fe0-d669-11ea-92f4-0d3830b8a26f\",\n    \"token\": \"7LSpL2Uxutw0LRHL9f5t\"\n}\n\ndevices = {\n    \"urn:dev:ops:fake-thermo-1\":t1,\n    \"urn:dev:ops:fake-thermo-2\":t2,\n}\n\nnames = [\n    \"urn:dev:ops:fake-thermo-1\",\n    \"urn:dev:ops:fake-thermo-2\",\n    ]\n\nmsg.setup = {}\nmsg.setup.headers = headers\nmsg.setup.auth_headers = auth_headers\nmsg.setup.url = url\nmsg.setup.device_endpoint = device_endpoint\nmsg.setup.devices = devices\nmsg.setup.names = names\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":340,"wires":[["28939866.2d27d8","e22229ff.397778"]]},{"id":"252f044.8c50dfc","type":"function","z":"1301eb0c.cb3c05","name":"Create request objects","func":"\nbase_url = msg.setup.url + '/api/customer/'\n\n///api/customer/{customerId}/device/{deviceId}\nrequest_data = []\n\ndevice_id_map = {\n    'urn:dev:ops:fake-thermo-1': '30bfb4a0-d710-11ea-b079-cd5e832a839a',\n    'urn:dev:ops:fake-thermo-2': '30bfb4a1-d710-11ea-b079-cd5e832a839a'\n}\n\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":500,"wires":[["de10aea2.c98ce","749816b.3f402e8"]]},{"id":"de10aea2.c98ce","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":440,"wires":[]},{"id":"749816b.3f402e8","type":"split","z":"1301eb0c.cb3c05","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":640,"wires":[["79da9d9e.b20824"]]},{"id":"79da9d9e.b20824","type":"function","z":"1301eb0c.cb3c05","name":"Prepare request","func":"\nmsg.url = msg.payload.url\nmsg.headers = msg.payload.headers\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":640,"wires":[["dccad666.5a0408"]]},{"id":"dccad666.5a0408","type":"http request","z":"1301eb0c.cb3c05","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1220,"y":640,"wires":[["242699d3.102016"]]},{"id":"f6a2187d.76ef78","type":"inject","z":"1301eb0c.cb3c05","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["33cfd54b.be73da"]]},{"id":"6014a7b0.581e68","type":"function","z":"1301eb0c.cb3c05","name":"","func":"\nurl = msg.setup.url + '/api/auth/login'\nheaders = msg.setup.headers\npayload = {\n    \"username\":\"tenant@thingsboard.org\", \n    \"password\":\"tenant\"\n}\n\nmsg.url = url\nmsg.headers = headers\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":60,"wires":[["68f06ab4.afddc4"]]},{"id":"33cfd54b.be73da","type":"function","z":"1301eb0c.cb3c05","name":"Thingsboard base setup","func":"\nIP = '192.168.1.83'\nPORT = '9090'\nurl = IP + ':' + PORT\n\nheaders = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json'\n}\n\nmsg.setup = {}\nmsg.setup.headers = headers\nmsg.setup.url = url\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":60,"wires":[["6014a7b0.581e68"]]},{"id":"3dad0494.c3868c","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":60,"wires":[]},{"id":"68f06ab4.afddc4","type":"http request","z":"1301eb0c.cb3c05","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":60,"wires":[["2532967d.8864fa"]]},{"id":"2532967d.8864fa","type":"file","z":"1301eb0c.cb3c05","name":"","filename":"token","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1080,"y":60,"wires":[["b78a6a40.dc4c38"]]},{"id":"b78a6a40.dc4c38","type":"file in","z":"1301eb0c.cb3c05","name":"","filename":"token","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1260,"y":60,"wires":[["8eb57f32.119ff"]]},{"id":"8eb57f32.119ff","type":"json","z":"1301eb0c.cb3c05","name":"","property":"payload","action":"","pretty":false,"x":1440,"y":60,"wires":[["3dad0494.c3868c","be2828ed.9c68f8"]]},{"id":"bc5d8a8c.9da258","type":"comment","z":"1301eb0c.cb3c05","name":"Update api auth token","info":"","x":290,"y":20,"wires":[]},{"id":"be2828ed.9c68f8","type":"function","z":"1301eb0c.cb3c05","name":"Update global auth scope","func":"\nglobal.set('auth', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1650,"y":120,"wires":[[]]},{"id":"4cfb59d2.80dd68","type":"file in","z":"1301eb0c.cb3c05","name":"Read private data","filename":"private.data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":800,"wires":[["283ea612.1c185a","2f1619cd.9daae6"]]},{"id":"283ea612.1c185a","type":"json","z":"1301eb0c.cb3c05","name":"","property":"payload","action":"","pretty":false,"x":490,"y":800,"wires":[["ddba63a0.4c493"]]},{"id":"ddba63a0.4c493","type":"change","z":"1301eb0c.cb3c05","name":"","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":800,"wires":[["c015886b.6258c8"]]},{"id":"c015886b.6258c8","type":"join","z":"1301eb0c.cb3c05","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":800,"wires":[["ffd4a17d.fba91"]]},{"id":"e22229ff.397778","type":"link out","z":"1301eb0c.cb3c05","name":"","links":["f51ae3ae.658b5"],"x":505,"y":320,"wires":[]},{"id":"f51ae3ae.658b5","type":"link in","z":"1301eb0c.cb3c05","name":"","links":["e22229ff.397778"],"x":735,"y":740,"wires":[["c015886b.6258c8"]]},{"id":"2f1619cd.9daae6","type":"debug","z":"1301eb0c.cb3c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":900,"wires":[]},{"id":"f1f379c5.2d3c58","type":"link out","z":"1301eb0c.cb3c05","name":"","links":["b0da46dc.cdb8e8"],"x":495,"y":380,"wires":[]},{"id":"b0da46dc.cdb8e8","type":"link in","z":"1301eb0c.cb3c05","name":"","links":["f1f379c5.2d3c58"],"x":735,"y":860,"wires":[["c015886b.6258c8"]]},{"id":"ffd4a17d.fba91","type":"function","z":"1301eb0c.cb3c05","name":"Assign private devices","func":"\npublic_customers = []\n\nfor (i=0; i<msg.customers.length; i++){\n    customer = msg.customers[i]\n    customer.devices = []\n    if (customer.security_level == 'private'){\n        public_customers.push(customer)\n    }\n}\n\nfor (i=0; i<msg.devices.length; i++){\n    device = msg.devices[i]\n    if(device.classification == 'private'){\n        for (j=0; j<public_customers.length; j++){\n            public_customers[j].devices.push(device)\n        }\n    }\n}\n\n\nmsg.payload = public_customers\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":800,"wires":[["252f044.8c50dfc"]]},{"id":"204bbef6.aa5002","type":"function","z":"84041e35.dbf49","name":"Prepare request","func":"//msg = {}\nmsg.headers=flow.get('HEADERS')\n//msg.headers[\"Accept\"]=\"application/json\"\n//msg.headers['Content-Type']='application/json'\n\n//msg.url = \"http://\" + flow.get('IP') + \":\" + flow.get('PORT')\nmsg.url = flow.get(\"URL\")\n\n//msg.model = msg.url + '/model'\n//msg.properties = msg.url + '/properties'\n//msg.things = msg.url\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":240,"wires":[["3bf3d174.b1247e","6cd5aebd.9aebb"]]},{"id":"afee8501.453d68","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["204bbef6.aa5002"]]},{"id":"1f71c413.a67b9c","type":"debug","z":"84041e35.dbf49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":240,"wires":[]},{"id":"3bf3d174.b1247e","type":"http request","z":"84041e35.dbf49","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":240,"wires":[["6fe5cbe0.c72f04","acf16de5.89113"]]},{"id":"e0465277.d0737","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":400,"wires":[]},{"id":"e9ba575b.3edfb8","type":"function","z":"84041e35.dbf49","name":"Store devices","func":"function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, source) {\n  let output = Object.assign({}, target);\n  if (isObject(target) && isObject(source)) {\n    Object.keys(source).forEach(key => {\n      if (isObject(source[key])) {\n        if (!(key in target))\n          Object.assign(output, { [key]: source[key] });\n        else\n          output[key] = mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(output, { [key]: source[key] });\n      }\n    });\n  }\n  return output;\n}\n\nall_devices = flow.get('DEVICES')\ndevice = msg.payload\nif(device.id in all_devices){\n    old_device = all_devices[device.id]\n    new_device = mergeDeep(old_device, device)\n    all_devices[new_device.id]=new_device\n} else{\n    all_devices[device.id] = device\n}\nflow.set('DEVICES', all_devices)\n\nmsg.payload = flow.get('DEVICES')\nreturn msg\nold_devices = flow.get(\"DEVICES\")\n\nlet devices = []\nif(old_devices.length>0){\n    devices = mergeDeep(old_devices, new_devices);\n} else{\n    devices = new_devices\n}\n\nflow.set(\"DEVICES\",devices)\nmsg.payload = devices\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":240,"wires":[["1f71c413.a67b9c"]]},{"id":"cbf2b79c.adbb38","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[["6b547395.f8438c"]]},{"id":"6b547395.f8438c","type":"function","z":"84041e35.dbf49","name":"Extract device property data","func":"\n\nproperties = []\ndevices = flow.get('DEVICES')\n\nfor (var id in devices) {\n    for (var key in devices[id].properties) {\n        property = devices[id].properties[key]\n        if('links' in property && property.links.length>0){\n            prop = {};\n            prop.device_id = devices[id].id\n            prop.name = key\n            prop.value = devices[id].properties[key]\n            properties.push(prop)\n        }\n    }\n}\nmsg.payload = properties\n\nreturn msg;\n\nfor (i=0;i<devices.length; i++){\n    //devices[i].properties.device_id = devices[i].id\n    //properties.push(devices[i].properties)\n    for (var key in devices[i].properties) {\n        property = devices[i].properties[key]\n        if('links' in property && property.links.length>0){\n            prop = {};\n            prop.device_id = devices[i].id\n            prop.name = key\n            prop.value = devices[i].properties[key]\n            properties.push(prop)\n        }\n    }\n}\n\nmsg.payload = properties\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":400,"wires":[["7754fc18.f1e244"]]},{"id":"7b7f7145.329b1","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":460,"wires":[]},{"id":"383e2e1b.805fc2","type":"function","z":"84041e35.dbf49","name":"Prepare request","func":"\nmsg.headers=flow.get('HEADERS')\n//base = \"http://\" + flow.get('IP') + \":\" + flow.get('PORT')\nbase = flow.get('URL')\n\nurl = base + msg.payload.value.links[0].href\nmsg.device_id = msg.payload.device_id\nmsg.property = msg.payload.name\n//msg.url = base + msg.payload.value.links[0]\n\nmsg.url = url\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["f79a6e54.4647e"]]},{"id":"7754fc18.f1e244","type":"split","z":"84041e35.dbf49","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":400,"wires":[["383e2e1b.805fc2","6df49ee3.c1e1d"]]},{"id":"f79a6e54.4647e","type":"http request","z":"84041e35.dbf49","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":400,"wires":[["ee6a8775.054288","7b7f7145.329b1"]]},{"id":"ee6a8775.054288","type":"function","z":"84041e35.dbf49","name":"Update device propety values","func":"\n\ndevices = flow.get('DEVICES')\ndevice = devices[msg.device_id]\nname = Object.keys(msg.payload)[0]\nvalue = msg.payload[name]\ndevice.properties[name].value = value\nmsg.payload = device\n\nreturn msg;\n\nfor (i=0;i<devices.length;i++){\n    if(devices[i].id==msg.device_id){\n        device = devices[i]\n        name = Object.keys(msg.payload)[0]\n        value = msg.payload[name]\n        device.properties[name].value = value\n        msg.payload = device\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":400,"wires":[["e0465277.d0737"]]},{"id":"5e72426a.df850c","type":"function","z":"84041e35.dbf49","name":"Get devices","func":"msg.payload = flow.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":700,"wires":[["d8ccd2f.23c6d3"]]},{"id":"d8ccd2f.23c6d3","type":"debug","z":"84041e35.dbf49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":760,"wires":[]},{"id":"cdb44306.6eab","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["5e72426a.df850c"]]},{"id":"d01d6385.0f0e3","type":"function","z":"929b49d3.fd5238","name":"Init authorization logic","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[[]]},{"id":"480501a6.24e44","type":"comment","z":"84041e35.dbf49","name":"Fetch devices","info":"This flow requst device data from the web of things endpoint.\n\nNote that all device data will be replaced and hence the data value will be missing","x":110,"y":200,"wires":[]},{"id":"2cce0935.d1e1e6","type":"comment","z":"84041e35.dbf49","name":"Fetch property data","info":"This flow will use the previous fetched devices to pull data values for each property.\n\nThe values will be added to te property objecs as 'value'","x":130,"y":360,"wires":[]},{"id":"c4da40b8.6160d","type":"comment","z":"84041e35.dbf49","name":"DEBUG: Check status of current devices","info":"This flow is just showing the full device object that exists in memory","x":200,"y":660,"wires":[]},{"id":"4c5b8d33.2da294","type":"function","z":"f088168c.08c968","name":"Thingsboard base setup","func":"//_IP = '192.168.1.83'\n//_PORT = 9090\n\n//flow.set('IP',_IP)\n//flow.set('PORT',_PORT)\n//flow.set('BASE_URL', 'http://' + _IP + ':' + _PORT)\nflow.set('URL', global.get('THINGSBOARD_URL'))\n\n_headers = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json'\n}\n\nflow.set('BASE_HEADERS', _headers)\n\nauth_headers = _headers\nif(flow.get('TOKEN')){\n    token = flow.get('TOKEN')\n    auth_headers['X-Authorization'] = 'Bearer ' + token\n}\nflow.set('HEADERS', auth_headers)\n\nmsg.payload = flow.get('HEADERS')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[["76cd4e17.aa0b"]]},{"id":"53a9f200.4a073","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["5bfe6e82.1e21d"]]},{"id":"5bfe6e82.1e21d","type":"function","z":"f088168c.08c968","name":"","func":"\n//url = flow.get('BASE_URL') + '/api/auth/login'\nurl = flow.get('URL') + '/api/auth/login'\nheaders = flow.get('BASE_HEADERS')\n\npayload = {\n    \"username\":\"tenant@thingsboard.org\", \n    \"password\":\"tenant\"\n}\n\nmsg.url = url\nmsg.headers = headers\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["228aada7.41f302"]]},{"id":"228aada7.41f302","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":260,"wires":[["b6d632f4.66e14"]]},{"id":"b1d6cf31.ffd75","type":"comment","z":"f088168c.08c968","name":"Update api auth token and headers","info":"","x":230,"y":200,"wires":[]},{"id":"b6d632f4.66e14","type":"function","z":"f088168c.08c968","name":"Store token in flow scope","func":"\nflow.set('TOKEN', msg.payload.token)\n\n// Update headers\nheaders = flow.get('HEADERS')\nheaders['X-Authorization'] = 'Bearer ' + flow.get('TOKEN')\nflow.set('HEADERS', headers)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":260,"wires":[["b539883.bd83678"]]},{"id":"d20c95d.6708868","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["4c5b8d33.2da294"]]},{"id":"76cd4e17.aa0b","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":120,"wires":[]},{"id":"c3d2d9ed.0c5278","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":460,"wires":[["a737f169.afadc"]]},{"id":"f6c2049.0d9ddf8","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":460,"wires":[["a5218fd2.c8729","eb4b3250.00103"]]},{"id":"eb4b3250.00103","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"DEVICE_TYPE = 'wot-device'\n\npayload = {\n        \"name\":msg.payload.id,\n        \"type\":DEVICE_TYPE\n    }\n\nmsg.payload = payload\nmsg.headers = flow.get('HEADERS')\nmsg.url = flow.get('URL') + '/api/device'\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":460,"wires":[["aed74c31.93a8f"]]},{"id":"aed74c31.93a8f","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":460,"wires":[["31f46af2.997e56","a391ce62.c1f76","33044468.b4a3ac"]]},{"id":"7d531b1d.f543e4","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":480,"wires":[]},{"id":"30dc16f2.7faf1a","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["8b80f4b.a736008"]]},{"id":"8b80f4b.a736008","type":"function","z":"84041e35.dbf49","name":"Put devices in global scope","func":"\nfunction isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, source) {\n  let output = Object.assign({}, target);\n  if (isObject(target) && isObject(source)) {\n    Object.keys(source).forEach(key => {\n      if (isObject(source[key])) {\n        if (!(key in target))\n          Object.assign(output, { [key]: source[key] });\n        else\n          output[key] = mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(output, { [key]: source[key] });\n      }\n    });\n  }\n  return output;\n}\n\nold_devices = global.get(\"DEVICES\")\nnew_devices = flow.get(\"DEVICES\")\n\nlet devices = []\nif(old_devices.length>0){\n    devices = mergeDeep(old_devices, new_devices);\n} else{\n    devices = new_devices\n}\n\nglobal.set(\"DEVICES\",devices)\nmsg.payload = global.get('DEVICES')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":540,"wires":[["d4ee2922.672108"]]},{"id":"d4ee2922.672108","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":540,"wires":[]},{"id":"a737f169.afadc","type":"function","z":"f088168c.08c968","name":"Filter devices without thingsboard id","func":"\ndevices = []\nall_devices =  global.get('DEVICES')\n\nfor (var id in all_devices){\n    if(!all_devices[id].thingsboard_id){\n        devices.push(all_devices[id])\n    }\n}\n//for (i=0; i<all_devices.length; i++){\n//    if(!all_devices[i].thingsboard_id){\n//        devices.push(all_devices[i])\n//    }\n//}\n\nmsg.payload = devices\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["f6c2049.0d9ddf8"]]},{"id":"a5218fd2.c8729","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":520,"wires":[]},{"id":"31f46af2.997e56","type":"switch","z":"f088168c.08c968","name":"HTTP 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":440,"wires":[["699b7af4.6b49d4"]]},{"id":"a391ce62.c1f76","type":"switch","z":"f088168c.08c968","name":"HTTP Error","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":480,"wires":[["7d531b1d.f543e4"]]},{"id":"e5325f28.043d9","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":440,"wires":[]},{"id":"699b7af4.6b49d4","type":"function","z":"f088168c.08c968","name":"Store device thingsboard id","func":"\ndevices = global.get('DEVICES')\n\npayload = {}\n\nif (msg.payload.name in devices){\n    device = devices[msg.payload.name]\n    device.thingsboard_id = msg.payload.id.id\n    payload = devices[msg.payload.name]\n}\n\n/*\nfor (i=0; i<devices.length; i++){\n    if (devices[i].id == msg.payload.name){\n        devices[i].thingsboard_id = msg.payload.id.id\n        payload = devices[i]\n        break;\n    }\n}\n*/\nmsg.payload = payload\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":440,"wires":[["e5325f28.043d9"]]},{"id":"df03fff0.28454","type":"function","z":"f088168c.08c968","name":"Get devices","func":"msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":2160,"wires":[["c673e532.bd9b58"]]},{"id":"c673e532.bd9b58","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":2160,"wires":[]},{"id":"dde0a846.6cc358","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2160,"wires":[["df03fff0.28454"]]},{"id":"485d22a8.54672c","type":"comment","z":"f088168c.08c968","name":"DEBUG: Check status of current GLOBAL devices","info":"This flow is just showing the full device object that exists in memory","x":290,"y":2120,"wires":[]},{"id":"9c5908b5.671c08","type":"comment","z":"f088168c.08c968","name":"Create thingsboard devices","info":"","x":210,"y":420,"wires":[]},{"id":"5eceb5e6.f8025c","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1140,"wires":[["130bb259.00f70e"]]},{"id":"130bb259.00f70e","type":"function","z":"f088168c.08c968","name":"Filter public devices","func":"\ndevices = []\nall_devices =  global.get('DEVICES')\n\nfor (i=0; i<all_devices.length; i++){\n    if(all_devices[i].classification == 'public'){\n        devices.push(all_devices[i])\n    }\n}\n\nmsg.payload = devices\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1140,"wires":[["498b0e.732274f4"]]},{"id":"1206ebf8.805234","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":1180,"wires":[]},{"id":"498b0e.732274f4","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":1140,"wires":[["1edc2865.cd3928"]]},{"id":"1edc2865.cd3928","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\n\nmsg.url = flow.get('BASE_URL') +  '/api/customer/public/device/' + msg.payload.thingsboard_id\nmsg.headers = flow.get('HEADERS')\n\nmsg.device_id = msg.payload.id\n\nreturn msg;\n\ndevice_id_map = {\n    'urn:dev:ops:fake-thermo-1': '30bfb4a0-d710-11ea-b079-cd5e832a839a',\n    'urn:dev:ops:fake-thermo-2': '30bfb4a1-d710-11ea-b079-cd5e832a839a'\n}\n\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1140,"wires":[["1206ebf8.805234","e33874ab.9d7948"]]},{"id":"e33874ab.9d7948","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":1140,"wires":[["f9f766fd.e01288"]]},{"id":"6422553d.970a7c","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":1180,"wires":[]},{"id":"f9f766fd.e01288","type":"json","z":"f088168c.08c968","name":"","property":"payload","action":"","pretty":false,"x":1290,"y":1140,"wires":[["6422553d.970a7c"]]},{"id":"ebc5891d.5ad5e8","type":"comment","z":"f088168c.08c968","name":"Assign public devices","info":"","x":180,"y":1100,"wires":[]},{"id":"13baf679.cc046a","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\nbase_url = flow.get('BASE_URL') + '/api/customer/'\ncustomerId = msg.payload.assign_to\ndeviceId = msg.payload.device.thingsboard_id\n\nmsg.url = base_url + customerId + '/device/' + deviceId\n\nmsg.headers = flow.get('HEADERS')\n\nmsg.payload = {}\n\nreturn msg\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;\n\n\n\nbase_url = msg.setup.url + '/api/customer/'\n\n///api/customer/{customerId}/device/{deviceId}\nrequest_data = []\n\ndevice_id_map = {\n    'urn:dev:ops:fake-thermo-1': '30bfb4a0-d710-11ea-b079-cd5e832a839a',\n    'urn:dev:ops:fake-thermo-2': '30bfb4a1-d710-11ea-b079-cd5e832a839a'\n}\n\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1260,"wires":[["eb3d9858.d53218"]]},{"id":"d6fbebec.561278","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1260,"wires":[["87ce5a85.967ca8"]]},{"id":"87ce5a85.967ca8","type":"function","z":"f088168c.08c968","name":"Filter non-public devices","func":"\n\naccess_map = {\n    'private':'e9bc6df0-d705-11ea-a598-c5ae97ecd5e5' // Customer A\n}\n\ndevices = []\nall_devices =  global.get('DEVICES')\n\nfor (i=0; i<all_devices.length; i++){\n    if(all_devices[i].classification != 'public'){\n        device = all_devices[i]\n        if(device.classification in access_map){\n            devices.push(device)   \n        }\n    }\n}\n\nmsg.payload = devices\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1260,"wires":[["93284b1.05083b8"]]},{"id":"93284b1.05083b8","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":1260,"wires":[["e3c5cb2b.770558"]]},{"id":"300d237e.b3673c","type":"comment","z":"f088168c.08c968","name":"Assign non-public devices","info":"","x":200,"y":1220,"wires":[]},{"id":"57a46915.afdf18","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":1300,"wires":[]},{"id":"e3c5cb2b.770558","type":"function","z":"f088168c.08c968","name":"Look-up privileges","func":"access_map = {\n    'private':'e9bc6df0-d705-11ea-a598-c5ae97ecd5e5' // Customer A\n}\n\npayload = {}\n\nif(msg.payload.classification in access_map){\n    payload.device = msg.payload\n    payload.assign_to = access_map[msg.payload.classification]\n}\n\n\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1260,"wires":[["13baf679.cc046a"]]},{"id":"eb3d9858.d53218","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":1260,"wires":[["384d3414.4017dc"]]},{"id":"384d3414.4017dc","type":"json","z":"f088168c.08c968","name":"","property":"payload","action":"","pretty":false,"x":1550,"y":1260,"wires":[["57a46915.afdf18"]]},{"id":"73e6b1cf.966bd","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"base_url = flow.get('URL') + '/api/v1/'\n\n//msg.url = flow.get('BASE_URL') + '/api/v1/telemetry'\nmsg.headers = flow.get('HEADERS')\n\n//base_url + '/' + token + endpoint\nmsg.url = base_url + msg.payload.thingsboard_token + '/telemetry'\n\nproperties = msg.payload.properties\n\ndata = {}\nObject.keys(properties).forEach(function(key) {\n    value = properties[key].value\n    data[key] = value\n});\n\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1420,"wires":[["7b0d15df.18c4ac","d3e3751d.297d98"]]},{"id":"c31976a.7712788","type":"function","z":"f088168c.08c968","name":"Get devices","func":"devices = []\nall_devices =  global.get('DEVICES')\n\nfor (var id in all_devices){\n    if(all_devices[id].thingsboard_id){\n        devices.push(all_devices[id])\n    }\n}\nmsg.payload = devices\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1420,"wires":[["aa416cd2.48b79"]]},{"id":"e36403b7.c9cfe","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1420,"wires":[["c31976a.7712788","d6c467a7.ded8e8"]]},{"id":"c660bc7.5b6b04","type":"comment","z":"f088168c.08c968","name":"Update data","info":"Push data to thingsboard","x":160,"y":1380,"wires":[]},{"id":"7b0d15df.18c4ac","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":1520,"wires":[]},{"id":"aa416cd2.48b79","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":1420,"wires":[["73e6b1cf.966bd","b773bb51.a10ac8"]]},{"id":"1532c584.92164a","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":620,"wires":[["3b4c58df.91a628"]]},{"id":"dd86198e.6c76a8","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":620,"wires":[["d88b98b.6a7b168","10b91a9c.32dd25"]]},{"id":"d88b98b.6a7b168","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"base_url = flow.get('URL')\n\ndeviceId = msg.payload.thingsboard_id\n\nmsg.url = base_url + '/api/device/' + deviceId + '/credentials'\nmsg.headers = flow.get('HEADERS')\n\nmsg.device_id = msg.payload.id\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":620,"wires":[["ec29a6b9.b978c8","87c8dcd8.e4d8f"]]},{"id":"3b4c58df.91a628","type":"function","z":"f088168c.08c968","name":"Get devices","func":"\n//msg.payload =  global.get('DEVICES')\n\ndevices = []\nall_devices =  global.get('DEVICES')\n\nfor (var id in all_devices){\n    if(all_devices[id].thingsboard_id){\n        devices.push(all_devices[id])\n    }\n}\nmsg.payload = devices\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":620,"wires":[["dd86198e.6c76a8"]]},{"id":"8bb77706.b99758","type":"comment","z":"f088168c.08c968","name":"Get thingsboard device credentials","info":"","x":230,"y":580,"wires":[]},{"id":"ec29a6b9.b978c8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":660,"wires":[]},{"id":"87c8dcd8.e4d8f","type":"http request","z":"f088168c.08c968","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":620,"wires":[["6525e188.27fb6","15dc2032.0f95d"]]},{"id":"6525e188.27fb6","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":660,"wires":[]},{"id":"15dc2032.0f95d","type":"function","z":"f088168c.08c968","name":"Store device access token","func":"\ndevices = global.get('DEVICES')\n\npayload = {}\n\nif (msg.device_id in devices){\n    device = devices[msg.device_id]\n    device.thingsboard_token = msg.payload.credentialsId\n    payload = devices[msg.device_id]\n}\n\n/*\nfor (i=0; i<devices.length; i++){\n    if (devices[i].id == msg.device_id){\n        devices[i].thingsboard_token = msg.payload.credentialsId\n        payload = devices[i]\n        break;\n    }\n}\n*/\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":620,"wires":[["97d758cc.5b4ad8"]]},{"id":"97d758cc.5b4ad8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1600,"y":660,"wires":[]},{"id":"b773bb51.a10ac8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1520,"wires":[]},{"id":"d3e3751d.297d98","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":1420,"wires":[["fba6e074.d4b19"]]},{"id":"fba6e074.d4b19","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":1500,"wires":[]},{"id":"43cab8d7.1e80f8","type":"complete","z":"84041e35.dbf49","name":"","scope":["e9ba575b.3edfb8"],"uncaught":false,"x":110,"y":440,"wires":[["6b547395.f8438c"]]},{"id":"3b2e3ed3.c72ed2","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\nmsg.url = flow.get('BASE_URL') + '/api/dashboard'\nmsg.headers = flow.get('HEADERS')\n\n\ntitle = \"DASHBOARD\"\nname = title\ndescription = \"Some description\"\n\ndashboard_conf = {\n    \"title\":title,\n    \"configuration\":{\n        \"description\":description\n    },\n    \"name\":name\n}\n\n\nmsg.payload = dashboard_conf\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1660,"wires":[["1a86808d.ec24ef","f01260d1.5d81f"]]},{"id":"250c0c6e.3e41a4","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1660,"wires":[["3b2e3ed3.c72ed2"]]},{"id":"a2dab0e2.5a711","type":"comment","z":"f088168c.08c968","name":"Create dashboard","info":"","x":190,"y":1620,"wires":[]},{"id":"84262a26.70baa8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1740,"wires":[]},{"id":"1a86808d.ec24ef","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1720,"wires":[]},{"id":"f01260d1.5d81f","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":1660,"wires":[["84262a26.70baa8","3e919339.2ecadc"]]},{"id":"3e919339.2ecadc","type":"function","z":"f088168c.08c968","name":"Store dashboard conf","func":"\nflow.set('DASHBOARD', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":1660,"wires":[[]]},{"id":"b8f7d1ac.a7679","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\ndashboard = flow.get('DASHBOARD')\ndashboardId = dashboard.id.id\nmsg.url = flow.get('BASE_URL') + '/api/dashboard/' + dashboardId + '/customers'\nmsg.headers = flow.get('HEADERS')\n\ncustomers = [\n    'e9bc6df0-d705-11ea-a598-c5ae97ecd5e5', // A\n    'e9c3c0f0-d705-11ea-a598-c5ae97ecd5e5', // B\n    'e9c4f970-d705-11ea-a598-c5ae97ecd5e5'  // C\n]\n\nmsg.payload = customers\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":2020,"wires":[["c66ca9fa.d7a3f8","8c7c9782.d15f28"]]},{"id":"b01d491a.6a8c18","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2020,"wires":[["b8f7d1ac.a7679"]]},{"id":"8b3ef508.1d94d8","type":"comment","z":"f088168c.08c968","name":"Assign dashboard to customers","info":"","x":240,"y":1980,"wires":[]},{"id":"c66ca9fa.d7a3f8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":2080,"wires":[]},{"id":"8c7c9782.d15f28","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":2020,"wires":[["e3b67001.e1c28"]]},{"id":"7ad246ed.591d28","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\nmsg.url = flow.get('BASE_URL') + '/api/customers' + '?pageSize=1&page=10&limit=10'\n//{?textSearch,sortProperty,sortOrder,pageSize,page}'\n\nmsg.headers = flow.get('HEADERS')\nmsg.headers[\"Accept\"] = \"*/*\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1900,"wires":[["3009858b.dfc5da","87aecfdd.5fd08"]]},{"id":"ac5ad9f0.9d2f48","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1900,"wires":[["7ad246ed.591d28"]]},{"id":"59d4c11f.5e961","type":"comment","z":"f088168c.08c968","name":"Get customers","info":"","x":200,"y":1860,"wires":[]},{"id":"3009858b.dfc5da","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1960,"wires":[]},{"id":"87aecfdd.5fd08","type":"http request","z":"f088168c.08c968","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1900,"wires":[["d92e281f.5a1ef8"]]},{"id":"d92e281f.5a1ef8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1960,"wires":[]},{"id":"e3b67001.e1c28","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":2100,"wires":[]},{"id":"aa082a11.6d2328","type":"complete","z":"84041e35.dbf49","name":"","scope":["ee6a8775.054288"],"uncaught":false,"x":140,"y":580,"wires":[["8b80f4b.a736008"]]},{"id":"87bcb546.b4b0b8","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["867983a2.7a538"]]},{"id":"867983a2.7a538","type":"function","z":"84041e35.dbf49","name":"Delete local and global device data","func":"\nflow.set(\"DEVICES\",{})\nglobal.set(\"DEVICES\",{})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":80,"wires":[[]]},{"id":"d0dc5fa2.61f6a","type":"comment","z":"84041e35.dbf49","name":"Clear devices [DONT DO THIS]","info":"","x":210,"y":40,"wires":[]},{"id":"17b03eb1.53c301","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["e3346cfa.6fdb"]]},{"id":"e3346cfa.6fdb","type":"function","z":"89ad9af9.5b24b8","name":"Set up global parameters","func":"IP = '192.168.43.60'\nURL = 'http://' + IP\nwot_url = 'http://172.27.0.3'+':8888'\n\nthingsboard_url = 'http://172.27.0.2'+':9090'\n\nglobal.set(\"WOT_URL\",wot_url)\nglobal.set(\"THINGSBOARD_URL\",thingsboard_url)\n\nif(!global.get(\"DEVICES\")){\n    global.set(\"DEVICES\",[])\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[[]]},{"id":"1272342b.aceabc","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["e5111f80.ab1ca"]]},{"id":"e5111f80.ab1ca","type":"function","z":"84041e35.dbf49","name":"Local setup","func":"flow.set(\"URL\", global.get(\"WOT_URL\"))\nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nmsg.payload = flow.get('URL')\n\nif(!flow.get(\"DEVICES\")){\n    flow.set(\"DEVICES\",{})\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["303beea9.0117b2"]]},{"id":"b539883.bd83678","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":320,"wires":[]},{"id":"303beea9.0117b2","type":"debug","z":"84041e35.dbf49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"6cd5aebd.9aebb","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":320,"wires":[]},{"id":"6fe5cbe0.c72f04","type":"debug","z":"84041e35.dbf49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"56a5f4ac.2b680c","type":"function","z":"141904da.18313b","name":"Get devices","func":"TYPE = 'DiscretePositionDevice'\n\nall_devices = flow.get('DEVICES')\n\ndevices = []\nfor (id in all_devices){\n    if(true || TYPE in all_devices[id]['@type']){\n        devices.push(all_devices[id])\n    }\n}\nmsg.payload = devices\n//msg.payload = all_devices.length\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["8cf68a71.de2b18","2ef25155.38b93e"]]},{"id":"8cf68a71.de2b18","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":220,"wires":[]},{"id":"7774e15a.d8703","type":"inject","z":"141904da.18313b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["56a5f4ac.2b680c"]]},{"id":"cd67c46d.a7ba48","type":"function","z":"141904da.18313b","name":"Local setup","func":"\nflow.set(\"DEVICES\",global.get('DEVICES'))\n\nmsg.payload = flow.get(\"DEVICES\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["8b4450bd.038df"]]},{"id":"eac35d47.f3d38","type":"inject","z":"141904da.18313b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["cd67c46d.a7ba48"]]},{"id":"8b4450bd.038df","type":"debug","z":"141904da.18313b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"acf16de5.89113","type":"split","z":"84041e35.dbf49","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":160,"wires":[["a1835bf1.47c718","e9ba575b.3edfb8"]]},{"id":"a1835bf1.47c718","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":160,"wires":[]},{"id":"6df49ee3.c1e1d","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":440,"wires":[]},{"id":"2ef25155.38b93e","type":"function","z":"141904da.18313b","name":"Compute distribution","func":"\nn_zones = 4\ncar_distribution = {}\nfor(i=1; i<=n_zones; i++){\n    car_distribution[i] = 0\n}\n\nfor (i=0;i<msg.payload.length; i++){\n    if('position' in msg.payload[i].properties){\n        value = msg.payload[i].properties['position'].value\n        car_distribution[value] = car_distribution[value] + 1\n    }\n}\nmsg.payload = car_distribution\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":160,"wires":[["9275a202.a0eec","6cdcbc10.b62394"]]},{"id":"9275a202.a0eec","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"6cdcbc10.b62394","type":"function","z":"141904da.18313b","name":"Create global distribution object","func":"\nif(!global.get(\"DISTRIBUTION\")){\n    car_distribution = {}   \n} else {\n    car_distribution = global.get('DISTRIBUTION')\n}\n\ncar_distribution['value'] = msg.payload\ncar_distribution['id'] = 'car_distribution_1'\n\nmsg.payload = car_distribution\n\nglobal.set('DISTRIBUTION', car_distribution)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":160,"wires":[["642de9b0.a76888"]]},{"id":"642de9b0.a76888","type":"debug","z":"141904da.18313b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":240,"wires":[]},{"id":"5622291b.060618","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":860,"wires":[["d6c467a7.ded8e8"]]},{"id":"26a97409.11272c","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"DEVICE_TYPE = 'CAR_DISTRIBUTION'\n\npayload = {\n        \"name\":msg.payload.id,\n        \"type\":DEVICE_TYPE\n    }\n\nmsg.distribution = msg.payload\n\nmsg.payload = payload\nmsg.headers = flow.get('HEADERS')\nmsg.url = flow.get('URL') + '/api/device'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":860,"wires":[["ada86913.f7d6b8","d5b4a661.70e418"]]},{"id":"a4b7c7ed.77c618","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":820,"wires":[["a0199646.cdeea8","a19c5ea9.3c709"]]},{"id":"a1a96c47.cd939","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":840,"wires":[]},{"id":"d6c467a7.ded8e8","type":"function","z":"f088168c.08c968","name":"Get distribution","func":"\ncar_distribution =  global.get('DISTRIBUTION')\n\ncar_distribution.thingsboard_id = '59592b80-e54d-11ea-9e40-51dfa88a126f'\n\nmsg.payload = car_distribution\n\n\n\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":860,"wires":[["55eab445.b91d8c","26a97409.11272c"]]},{"id":"55eab445.b91d8c","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":940,"wires":[]},{"id":"a0199646.cdeea8","type":"switch","z":"f088168c.08c968","name":"HTTP 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":800,"wires":[["f4d12c28.9a338"]]},{"id":"a19c5ea9.3c709","type":"switch","z":"f088168c.08c968","name":"HTTP Error","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":840,"wires":[["a1a96c47.cd939"]]},{"id":"410a8081.dd868","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1750,"y":800,"wires":[]},{"id":"f4d12c28.9a338","type":"function","z":"f088168c.08c968","name":"Store device thingsboard id","func":"\ncar_distribution =  global.get('DISTRIBUTION')\ncar_distribution['thingsboard_id'] = msg.payload.id.id\n\nmsg.payload = car_distribution\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":800,"wires":[["410a8081.dd868"]]},{"id":"f9bc775.70c6488","type":"comment","z":"f088168c.08c968","name":"Update car distribution","info":"","x":170,"y":820,"wires":[]},{"id":"ada86913.f7d6b8","type":"switch","z":"f088168c.08c968","name":"Device exists","property":"distribution.thingsboard_id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":880,"wires":[["806fd2d1.418ba","f1423129.70b33"]]},{"id":"d5b4a661.70e418","type":"switch","z":"f088168c.08c968","name":"Create device","property":"distribution.thingsboard_id","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":820,"wires":[["740aab60.9791e4","a4b7c7ed.77c618"]]},{"id":"806fd2d1.418ba","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"distribution","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":940,"wires":[]},{"id":"740aab60.9791e4","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"distribution","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":780,"wires":[]},{"id":"f1423129.70b33","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"base_url = flow.get('URL') + '/api/v1/'\n\n//msg.url = flow.get('BASE_URL') + '/api/v1/telemetry'\nmsg.headers = flow.get('HEADERS')\n\n//base_url + '/' + token + endpoint\nmsg.distribution.thingsboard_token = 'QmiLR0bmWjiBzC1O6Fkq'\n\nmsg.url = base_url + msg.distribution.thingsboard_token + '/telemetry'\n\ndata = msg.distribution['value']\n\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":880,"wires":[["48d76692.51f398","983f703d.2fc91"]]},{"id":"983f703d.2fc91","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":880,"wires":[["48d76692.51f398"]]},{"id":"48d76692.51f398","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":940,"wires":[]},{"id":"33044468.b4a3ac","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":540,"wires":[]},{"id":"10b91a9c.32dd25","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":680,"wires":[]},{"id":"da85342.dce8ec8","type":"complete","z":"f088168c.08c968","name":"","scope":["e36403b7.c9cfe"],"uncaught":false,"x":150,"y":920,"wires":[["d6c467a7.ded8e8"]]}]