node-red/.node-red/.flows.json.backup
[{"id":"89ad9af9.5b24b8","type":"tab","label":"Global setup","disabled":false,"info":"Function to set up global variables such as ip of local machine\n\n"},{"id":"84041e35.dbf49","type":"tab","label":"Get Devices and Data","disabled":false,"info":""},{"id":"f088168c.08c968","type":"tab","label":"Put data to Thingsboard","disabled":false,"info":""},{"id":"141904da.18313b","type":"tab","label":"DECLASSIFICATION: Compute cars per zone","disabled":false,"info":""},{"id":"8ed923c2.404c8","type":"mqtt-broker","z":"","name":"MQTT Broker location","broker":"localhost","port":"1881","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95967b6c.bf4128","type":"ui_tab","z":"","name":"Dev","icon":"dashboard","disabled":false,"hidden":false},{"id":"9ab0953a.61aa18","type":"ui_group","z":"","name":"Properties","tab":"95967b6c.bf4128","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6f540e1.b4baa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1346b680.0c26ca","type":"ui_group","z":"","name":"Default","tab":"95967b6c.bf4128","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6210e72.915e1","type":"ui_group","z":"","name":"Private","tab":"23b29e69.a69182","order":3,"disp":true,"width":"20","collapse":false},{"id":"99fff7f0.ec79a8","type":"ui_group","z":"","name":"Public","tab":"23b29e69.a69182","order":4,"disp":true,"width":"20","collapse":false},{"id":"23b29e69.a69182","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"204bbef6.aa5002","type":"function","z":"84041e35.dbf49","name":"Prepare request","func":"//msg = {}\nmsg.headers=flow.get('HEADERS')\n//msg.headers[\"Accept\"]=\"application/json\"\n//msg.headers['Content-Type']='application/json'\n\n//msg.url = \"http://\" + flow.get('IP') + \":\" + flow.get('PORT')\nmsg.url = flow.get(\"URL\")\n\n//msg.model = msg.url + '/model'\n//msg.properties = msg.url + '/properties'\n//msg.things = msg.url\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["3bf3d174.b1247e","6cd5aebd.9aebb"]]},{"id":"afee8501.453d68","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["204bbef6.aa5002"]]},{"id":"1f71c413.a67b9c","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":240,"wires":[]},{"id":"3bf3d174.b1247e","type":"http request","z":"84041e35.dbf49","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":240,"wires":[["6fe5cbe0.c72f04","acf16de5.89113"]]},{"id":"e0465277.d0737","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":400,"wires":[]},{"id":"e9ba575b.3edfb8","type":"function","z":"84041e35.dbf49","name":"Store devices","func":"function isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, source) {\n  let output = Object.assign({}, target);\n  if (isObject(target) && isObject(source)) {\n    Object.keys(source).forEach(key => {\n      if (isObject(source[key])) {\n        if (!(key in target))\n          Object.assign(output, { [key]: source[key] });\n        else\n          output[key] = mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(output, { [key]: source[key] });\n      }\n    });\n  }\n  return output;\n}\n\nall_devices = flow.get('DEVICES')\ndevice = msg.payload\nif(device.id in all_devices){\n    old_device = all_devices[device.id]\n    new_device = mergeDeep(old_device, device)\n    all_devices[new_device.id]=new_device\n} else{\n    all_devices[device.id] = device\n}\nflow.set('DEVICES', all_devices)\n\nmsg.payload = flow.get('DEVICES')\nreturn msg\nold_devices = flow.get(\"DEVICES\")\n\nlet devices = []\nif(old_devices.length>0){\n    devices = mergeDeep(old_devices, new_devices);\n} else{\n    devices = new_devices\n}\n\nflow.set(\"DEVICES\",devices)\nmsg.payload = devices\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":240,"wires":[["1f71c413.a67b9c"]]},{"id":"cbf2b79c.adbb38","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[["6b547395.f8438c"]]},{"id":"6b547395.f8438c","type":"function","z":"84041e35.dbf49","name":"Extract device property data","func":"\n\nproperties = []\ndevices = flow.get('DEVICES')\n\nfor (var id in devices) {\n    for (var key in devices[id].properties) {\n        property = devices[id].properties[key]\n        if('links' in property && property.links!=null && property.links.length>0){\n            prop = {};\n            prop.device_id = devices[id].id\n            prop.name = key\n            prop.value = devices[id].properties[key]\n            properties.push(prop)\n        }\n    }\n}\nmsg.payload = properties\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":400,"wires":[["7754fc18.f1e244"]]},{"id":"7b7f7145.329b1","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":460,"wires":[]},{"id":"383e2e1b.805fc2","type":"function","z":"84041e35.dbf49","name":"Prepare request","func":"\nmsg.headers=flow.get('HEADERS')\n//base = \"http://\" + flow.get('IP') + \":\" + flow.get('PORT')\nbase = flow.get('URL')\n\nurl = base + msg.payload.value.links[0].href\nmsg.device_id = msg.payload.device_id\nmsg.property = msg.payload.name\n//msg.url = base + msg.payload.value.links[0]\n\nmsg.url = url\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["f79a6e54.4647e"]]},{"id":"7754fc18.f1e244","type":"split","z":"84041e35.dbf49","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":400,"wires":[["383e2e1b.805fc2","6df49ee3.c1e1d"]]},{"id":"f79a6e54.4647e","type":"http request","z":"84041e35.dbf49","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":400,"wires":[["ee6a8775.054288","7b7f7145.329b1"]]},{"id":"ee6a8775.054288","type":"function","z":"84041e35.dbf49","name":"Update device propety values","func":"\n\ndevices = flow.get('DEVICES')\ndevice = devices[msg.device_id]\nname = Object.keys(msg.payload)[0]\nvalue = msg.payload[name]\ndevice.properties[name].value = value\nmsg.payload = device\n\nreturn msg;\n\nfor (i=0;i<devices.length;i++){\n    if(devices[i].id==msg.device_id){\n        device = devices[i]\n        name = Object.keys(msg.payload)[0]\n        value = msg.payload[name]\n        device.properties[name].value = value\n        msg.payload = device\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":400,"wires":[["e0465277.d0737"]]},{"id":"5e72426a.df850c","type":"function","z":"84041e35.dbf49","name":"Get devices","func":"msg.payload = flow.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":700,"wires":[["d8ccd2f.23c6d3"]]},{"id":"d8ccd2f.23c6d3","type":"debug","z":"84041e35.dbf49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":760,"wires":[]},{"id":"cdb44306.6eab","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["5e72426a.df850c"]]},{"id":"480501a6.24e44","type":"comment","z":"84041e35.dbf49","name":"Fetch devices","info":"This flow requst device data from the web of things endpoint.\n\nNote that all device data will be replaced and hence the data value will be missing","x":110,"y":200,"wires":[]},{"id":"2cce0935.d1e1e6","type":"comment","z":"84041e35.dbf49","name":"Fetch property data","info":"This flow will use the previous fetched devices to pull data values for each property.\n\nThe values will be added to te property objecs as 'value'","x":130,"y":360,"wires":[]},{"id":"c4da40b8.6160d","type":"comment","z":"84041e35.dbf49","name":"DEBUG: Check status of current devices","info":"This flow is just showing the full device object that exists in memory","x":200,"y":660,"wires":[]},{"id":"4c5b8d33.2da294","type":"function","z":"f088168c.08c968","name":"Thingsboard base setup","func":"//_IP = '192.168.1.83'\n//_PORT = 9090\n\n//flow.set('IP',_IP)\n//flow.set('PORT',_PORT)\n//flow.set('BASE_URL', 'http://' + _IP + ':' + _PORT)\nflow.set('URL', global.get('THINGSBOARD_URL'))\n\n_headers = {\n    \"Accept\": \"application/json\", \n    'Content-Type': 'application/json'\n}\n\nflow.set('BASE_HEADERS', _headers)\n\nauth_headers = _headers\nif(flow.get('TOKEN')){\n    token = flow.get('TOKEN')\n    auth_headers['X-Authorization'] = 'Bearer ' + token\n}\nflow.set('HEADERS', auth_headers)\n\nmsg.payload = flow.get('HEADERS')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[["76cd4e17.aa0b"]]},{"id":"53a9f200.4a073","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["5bfe6e82.1e21d"]]},{"id":"5bfe6e82.1e21d","type":"function","z":"f088168c.08c968","name":"","func":"\n//url = flow.get('BASE_URL') + '/api/auth/login'\nurl = flow.get('URL') + '/api/auth/login'\nheaders = flow.get('BASE_HEADERS')\n\npayload = {\n    \"username\":\"tenant@thingsboard.org\", \n    \"password\":\"tenant\"\n}\n\nmsg.url = url\nmsg.headers = headers\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["228aada7.41f302","78e7f8e2.e91838"]]},{"id":"228aada7.41f302","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":360,"wires":[["94ee4274.cd55d","79b36c1e.45d4f4"]]},{"id":"b1d6cf31.ffd75","type":"comment","z":"f088168c.08c968","name":"Update api auth token and headers","info":"","x":190,"y":320,"wires":[]},{"id":"b6d632f4.66e14","type":"function","z":"f088168c.08c968","name":"Store token in flow scope","func":"\nflow.set('TOKEN', msg.payload.token)\n\n// Update headers\nheaders = flow.get('HEADERS')\nheaders['X-Authorization'] = 'Bearer ' + flow.get('TOKEN')\nflow.set('HEADERS', headers)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":360,"wires":[["b539883.bd83678"]]},{"id":"d20c95d.6708868","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["4c5b8d33.2da294"]]},{"id":"76cd4e17.aa0b","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":80,"wires":[]},{"id":"c3d2d9ed.0c5278","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":140,"y":460,"wires":[["a737f169.afadc"]]},{"id":"f6c2049.0d9ddf8","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":460,"wires":[["a5218fd2.c8729","eb4b3250.00103"]]},{"id":"eb4b3250.00103","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"DEVICE_TYPE = 'wot-device'\n\npayload = {\n        \"name\":msg.payload.id,\n        \"type\":DEVICE_TYPE\n    }\n\nmsg.payload = payload\nmsg.headers = flow.get('HEADERS')\nmsg.url = flow.get('URL') + '/api/device'\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":460,"wires":[["aed74c31.93a8f"]]},{"id":"aed74c31.93a8f","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":460,"wires":[["31f46af2.997e56","a391ce62.c1f76","33044468.b4a3ac"]]},{"id":"7d531b1d.f543e4","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":480,"wires":[]},{"id":"30dc16f2.7faf1a","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["8b80f4b.a736008"]]},{"id":"8b80f4b.a736008","type":"function","z":"84041e35.dbf49","name":"Put devices in global scope","func":"\nfunction isObject(item) {\n  return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\nfunction mergeDeep(target, source) {\n  let output = Object.assign({}, target);\n  if (isObject(target) && isObject(source)) {\n    Object.keys(source).forEach(key => {\n      if (isObject(source[key])) {\n        if (!(key in target))\n          Object.assign(output, { [key]: source[key] });\n        else\n          output[key] = mergeDeep(target[key], source[key]);\n      } else {\n        Object.assign(output, { [key]: source[key] });\n      }\n    });\n  }\n  return output;\n}\n\nold_devices = global.get(\"DEVICES\")\nnew_devices = flow.get(\"DEVICES\")\n\nlet devices = []\nif(old_devices.length>0){\n    devices = mergeDeep(old_devices, new_devices);\n} else{\n    devices = new_devices\n}\n\nglobal.set(\"DEVICES\",devices)\nmsg.payload = global.get('DEVICES')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":540,"wires":[["d4ee2922.672108"]]},{"id":"d4ee2922.672108","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":540,"wires":[]},{"id":"a737f169.afadc","type":"function","z":"f088168c.08c968","name":"Filter devices without thingsboard id","func":"\ndevices = []\nall_devices =  global.get('DEVICES')\n\nfor (var id in all_devices){\n    if(!all_devices[id].thingsboard_id){\n        devices.push(all_devices[id])\n    }\n}\n//for (i=0; i<all_devices.length; i++){\n//    if(!all_devices[i].thingsboard_id){\n//        devices.push(all_devices[i])\n//    }\n//}\n\nmsg.payload = devices\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["f6c2049.0d9ddf8"]]},{"id":"a5218fd2.c8729","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":520,"wires":[]},{"id":"31f46af2.997e56","type":"switch","z":"f088168c.08c968","name":"HTTP 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":440,"wires":[["699b7af4.6b49d4"]]},{"id":"a391ce62.c1f76","type":"switch","z":"f088168c.08c968","name":"HTTP Error","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":480,"wires":[["7d531b1d.f543e4"]]},{"id":"e5325f28.043d9","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":440,"wires":[]},{"id":"699b7af4.6b49d4","type":"function","z":"f088168c.08c968","name":"Store device thingsboard id","func":"\ndevices = global.get('DEVICES')\n\npayload = {}\n\nif (msg.payload.name in devices){\n    device = devices[msg.payload.name]\n    device.thingsboard_id = msg.payload.id.id\n    payload = devices[msg.payload.name]\n}\n\n/*\nfor (i=0; i<devices.length; i++){\n    if (devices[i].id == msg.payload.name){\n        devices[i].thingsboard_id = msg.payload.id.id\n        payload = devices[i]\n        break;\n    }\n}\n*/\nmsg.payload = payload\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":440,"wires":[["e5325f28.043d9"]]},{"id":"df03fff0.28454","type":"function","z":"f088168c.08c968","name":"Get devices","func":"msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":2160,"wires":[["c673e532.bd9b58"]]},{"id":"c673e532.bd9b58","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":2160,"wires":[]},{"id":"dde0a846.6cc358","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2160,"wires":[["df03fff0.28454"]]},{"id":"485d22a8.54672c","type":"comment","z":"f088168c.08c968","name":"DEBUG: Check status of current GLOBAL devices","info":"This flow is just showing the full device object that exists in memory","x":290,"y":2120,"wires":[]},{"id":"9c5908b5.671c08","type":"comment","z":"f088168c.08c968","name":"Create thingsboard devices","info":"","x":170,"y":420,"wires":[]},{"id":"5eceb5e6.f8025c","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"15","topic":"","payload":"","payloadType":"date","x":180,"y":1140,"wires":[["130bb259.00f70e"]]},{"id":"130bb259.00f70e","type":"function","z":"f088168c.08c968","name":"Filter public devices","func":"\ndevices = []\nall_devices =  global.get('DEVICES')\n\nfor (i=0; i<all_devices.length; i++){\n    if(all_devices[i].classification == 'public'){\n        devices.push(all_devices[i])\n    }\n}\n\nmsg.payload = devices\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1140,"wires":[["498b0e.732274f4"]]},{"id":"1206ebf8.805234","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":1180,"wires":[]},{"id":"498b0e.732274f4","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":1140,"wires":[["1edc2865.cd3928"]]},{"id":"1edc2865.cd3928","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\n\nmsg.url = flow.get('BASE_URL') +  '/api/customer/public/device/' + msg.payload.thingsboard_id\nmsg.headers = flow.get('HEADERS')\n\nmsg.device_id = msg.payload.id\n\nreturn msg;\n\ndevice_id_map = {\n    'urn:dev:ops:fake-thermo-1': '30bfb4a0-d710-11ea-b079-cd5e832a839a',\n    'urn:dev:ops:fake-thermo-2': '30bfb4a1-d710-11ea-b079-cd5e832a839a'\n}\n\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1140,"wires":[["1206ebf8.805234","e33874ab.9d7948"]]},{"id":"e33874ab.9d7948","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1120,"y":1140,"wires":[["f9f766fd.e01288"]]},{"id":"6422553d.970a7c","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":1180,"wires":[]},{"id":"f9f766fd.e01288","type":"json","z":"f088168c.08c968","name":"","property":"payload","action":"","pretty":false,"x":1290,"y":1140,"wires":[["6422553d.970a7c"]]},{"id":"ebc5891d.5ad5e8","type":"comment","z":"f088168c.08c968","name":"Assign public devices","info":"","x":180,"y":1100,"wires":[]},{"id":"13baf679.cc046a","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\nbase_url = flow.get('BASE_URL') + '/api/customer/'\ncustomerId = msg.payload.assign_to\ndeviceId = msg.payload.device.thingsboard_id\n\nmsg.url = base_url + customerId + '/device/' + deviceId\n\nmsg.headers = flow.get('HEADERS')\n\nmsg.payload = {}\n\nreturn msg\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;\n\n\n\nbase_url = msg.setup.url + '/api/customer/'\n\n///api/customer/{customerId}/device/{deviceId}\nrequest_data = []\n\ndevice_id_map = {\n    'urn:dev:ops:fake-thermo-1': '30bfb4a0-d710-11ea-b079-cd5e832a839a',\n    'urn:dev:ops:fake-thermo-2': '30bfb4a1-d710-11ea-b079-cd5e832a839a'\n}\n\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1220,"wires":[[]]},{"id":"d6fbebec.561278","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"","payloadType":"date","x":170,"y":1260,"wires":[["87ce5a85.967ca8"]]},{"id":"87ce5a85.967ca8","type":"function","z":"f088168c.08c968","name":"Filter non-public devices","func":"// Needs device id and customer id\n\n\nclassificationCustomerMap = {\n    'CustomerA':'Customer A',\n    'CustomerB':'Customer B',\n    'CustomerC':'Customer C',\n}\n\ndevices =  Object.values(global.get('DEVICES'))\ncustomers = flow.get('CUSTOMERS')\n\npayload = []\nfor (i=0; i<devices.length; i++){\n    for(j=0; j<customers.length; j++){\n           device = devices[i];\n           customer = customers[j]\n           classifications = device.classification\n           for(k=0; k<classifications.length; k++){\n               c = classifications[k];\n               if(classificationCustomerMap[c]==customer.name){\n                   assignment = {\n                       'deviceId':device.thingsboard_id,\n                       'customerId':customer.id.id\n                   }\n                   payload.push(assignment);\n               }\n           }\n    }\n}\n\nmsg.devices = devices;\n//msg.customers = customers;\nmsg.payload = payload;\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1260,"wires":[["93284b1.05083b8","2fed3f10.68c"]]},{"id":"93284b1.05083b8","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":1260,"wires":[["e7334875.c49738","37d504c7.6a090c"]]},{"id":"300d237e.b3673c","type":"comment","z":"f088168c.08c968","name":"Assign non-public devices","info":"","x":200,"y":1220,"wires":[]},{"id":"57a46915.afdf18","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":1300,"wires":[]},{"id":"e3c5cb2b.770558","type":"function","z":"f088168c.08c968","name":"Look-up privileges","func":"access_map = {\n    'private':'e9bc6df0-d705-11ea-a598-c5ae97ecd5e5' // Customer A\n}\n\npayload = {}\n\nif(msg.payload.classification in access_map){\n    payload.device = msg.payload\n    payload.assign_to = access_map[msg.payload.classification]\n}\n\n\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1220,"wires":[[]]},{"id":"eb3d9858.d53218","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":1260,"wires":[["384d3414.4017dc"]]},{"id":"384d3414.4017dc","type":"json","z":"f088168c.08c968","name":"","property":"payload","action":"","pretty":false,"x":1550,"y":1260,"wires":[["57a46915.afdf18"]]},{"id":"73e6b1cf.966bd","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"base_url = flow.get('URL') + '/api/v1/'\n\n//msg.url = flow.get('BASE_URL') + '/api/v1/telemetry'\nmsg.headers = flow.get('HEADERS')\n\n//base_url + '/' + token + endpoint\nmsg.url = base_url + msg.payload.thingsboard_token + '/telemetry'\n\nproperties = msg.payload.properties\n\ndata = {}\nObject.keys(properties).forEach(function(key) {\n    value = properties[key].value\n    data[key] = value\n});\n\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1420,"wires":[["7b0d15df.18c4ac","d3e3751d.297d98"]]},{"id":"c31976a.7712788","type":"function","z":"f088168c.08c968","name":"Get devices","func":"devices = []\nall_devices =  global.get('DEVICES')\n\nfor (var id in all_devices){\n    if(all_devices[id].thingsboard_id){\n        devices.push(all_devices[id])\n    }\n}\nmsg.payload = devices\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1420,"wires":[["aa416cd2.48b79"]]},{"id":"e36403b7.c9cfe","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1420,"wires":[["c31976a.7712788"]]},{"id":"c660bc7.5b6b04","type":"comment","z":"f088168c.08c968","name":"Update data","info":"Push data to thingsboard","x":160,"y":1380,"wires":[]},{"id":"7b0d15df.18c4ac","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":1520,"wires":[]},{"id":"aa416cd2.48b79","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":1420,"wires":[["73e6b1cf.966bd","b773bb51.a10ac8","da846d5b.8d51b"]]},{"id":"1532c584.92164a","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":620,"wires":[["3b4c58df.91a628"]]},{"id":"dd86198e.6c76a8","type":"split","z":"f088168c.08c968","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":620,"wires":[["d88b98b.6a7b168","10b91a9c.32dd25"]]},{"id":"d88b98b.6a7b168","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"base_url = flow.get('URL')\n\ndeviceId = msg.payload.thingsboard_id\n\nmsg.url = base_url + '/api/device/' + deviceId + '/credentials'\nmsg.headers = flow.get('HEADERS')\n\nmsg.device_id = msg.payload.id\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":620,"wires":[["ec29a6b9.b978c8","87c8dcd8.e4d8f"]]},{"id":"3b4c58df.91a628","type":"function","z":"f088168c.08c968","name":"Get devices","func":"\n//msg.payload =  global.get('DEVICES')\n\ndevices = []\nall_devices =  global.get('DEVICES')\n\nfor (var id in all_devices){\n    if(all_devices[id].thingsboard_id){\n        devices.push(all_devices[id])\n    }\n}\nmsg.payload = devices\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":620,"wires":[["dd86198e.6c76a8"]]},{"id":"8bb77706.b99758","type":"comment","z":"f088168c.08c968","name":"Get thingsboard device credentials","info":"","x":230,"y":580,"wires":[]},{"id":"ec29a6b9.b978c8","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":660,"wires":[]},{"id":"87c8dcd8.e4d8f","type":"http request","z":"f088168c.08c968","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":620,"wires":[["6525e188.27fb6","15dc2032.0f95d"]]},{"id":"6525e188.27fb6","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":660,"wires":[]},{"id":"15dc2032.0f95d","type":"function","z":"f088168c.08c968","name":"Store device access token","func":"\ndevices = global.get('DEVICES')\n\npayload = {}\n\nif (msg.device_id in devices){\n    device = devices[msg.device_id]\n    device.thingsboard_token = msg.payload.credentialsId\n    payload = devices[msg.device_id]\n}\n\n/*\nfor (i=0; i<devices.length; i++){\n    if (devices[i].id == msg.device_id){\n        devices[i].thingsboard_token = msg.payload.credentialsId\n        payload = devices[i]\n        break;\n    }\n}\n*/\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":620,"wires":[["97d758cc.5b4ad8","ae6077bf.9d5a38"]]},{"id":"97d758cc.5b4ad8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1560,"y":660,"wires":[]},{"id":"b773bb51.a10ac8","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1520,"wires":[]},{"id":"d3e3751d.297d98","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1160,"y":1420,"wires":[["fba6e074.d4b19"]]},{"id":"fba6e074.d4b19","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":1480,"wires":[]},{"id":"43cab8d7.1e80f8","type":"complete","z":"84041e35.dbf49","name":"","scope":["e9ba575b.3edfb8"],"uncaught":false,"x":110,"y":440,"wires":[["6b547395.f8438c"]]},{"id":"3b2e3ed3.c72ed2","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\nmsg.url = flow.get('BASE_URL') + '/api/dashboard'\nmsg.headers = flow.get('HEADERS')\n\n\ntitle = \"DASHBOARD\"\nname = title\ndescription = \"Some description\"\n\ndashboard_conf = {\n    \"title\":title,\n    \"configuration\":{\n        \"description\":description\n    },\n    \"name\":name\n}\n\n\nmsg.payload = dashboard_conf\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1660,"wires":[["1a86808d.ec24ef","f01260d1.5d81f"]]},{"id":"250c0c6e.3e41a4","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1660,"wires":[["3b2e3ed3.c72ed2"]]},{"id":"a2dab0e2.5a711","type":"comment","z":"f088168c.08c968","name":"Create dashboard","info":"","x":190,"y":1620,"wires":[]},{"id":"84262a26.70baa8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1740,"wires":[]},{"id":"1a86808d.ec24ef","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1720,"wires":[]},{"id":"f01260d1.5d81f","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":1660,"wires":[["84262a26.70baa8","3e919339.2ecadc"]]},{"id":"3e919339.2ecadc","type":"function","z":"f088168c.08c968","name":"Store dashboard conf","func":"\nflow.set('DASHBOARD', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":1660,"wires":[[]]},{"id":"b8f7d1ac.a7679","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\ndashboard = flow.get('DASHBOARD')\ndashboardId = dashboard.id.id\nmsg.url = flow.get('BASE_URL') + '/api/dashboard/' + dashboardId + '/customers'\nmsg.headers = flow.get('HEADERS')\n\ncustomers = [\n    'e9bc6df0-d705-11ea-a598-c5ae97ecd5e5', // A\n    'e9c3c0f0-d705-11ea-a598-c5ae97ecd5e5', // B\n    'e9c4f970-d705-11ea-a598-c5ae97ecd5e5'  // C\n]\n\nmsg.payload = customers\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":2020,"wires":[["c66ca9fa.d7a3f8","8c7c9782.d15f28"]]},{"id":"b01d491a.6a8c18","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2020,"wires":[["b8f7d1ac.a7679"]]},{"id":"8b3ef508.1d94d8","type":"comment","z":"f088168c.08c968","name":"Assign dashboard to customers","info":"","x":240,"y":1980,"wires":[]},{"id":"c66ca9fa.d7a3f8","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":2080,"wires":[]},{"id":"8c7c9782.d15f28","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":2020,"wires":[["e3b67001.e1c28"]]},{"id":"7ad246ed.591d28","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\nmsg.url = flow.get('URL') + '/api/customers' + '?pageSize=3&page=0&limit=10'\n//{?textSearch,sortProperty,sortOrder,pageSize,page}'\n\nmsg.headers = flow.get('HEADERS')\nmsg.headers[\"Accept\"] = \"*/*\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1900,"wires":[["3009858b.dfc5da","87aecfdd.5fd08"]]},{"id":"ac5ad9f0.9d2f48","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":220,"y":1900,"wires":[["7ad246ed.591d28"]]},{"id":"59d4c11f.5e961","type":"comment","z":"f088168c.08c968","name":"Get customers","info":"","x":200,"y":1860,"wires":[]},{"id":"3009858b.dfc5da","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1960,"wires":[]},{"id":"87aecfdd.5fd08","type":"http request","z":"f088168c.08c968","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1900,"wires":[["31a41763.873b78"]]},{"id":"d92e281f.5a1ef8","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":1900,"wires":[]},{"id":"e3b67001.e1c28","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":2100,"wires":[]},{"id":"aa082a11.6d2328","type":"complete","z":"84041e35.dbf49","name":"","scope":["ee6a8775.054288"],"uncaught":false,"x":140,"y":580,"wires":[["8b80f4b.a736008"]]},{"id":"87bcb546.b4b0b8","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["867983a2.7a538"]]},{"id":"867983a2.7a538","type":"function","z":"84041e35.dbf49","name":"Delete local and global device data","func":"\nflow.set(\"DEVICES\",{})\nglobal.set(\"DEVICES\",{})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":80,"wires":[[]]},{"id":"d0dc5fa2.61f6a","type":"comment","z":"84041e35.dbf49","name":"Clear devices [DONT DO THIS]","info":"","x":210,"y":40,"wires":[]},{"id":"17b03eb1.53c301","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["e3346cfa.6fdb"]]},{"id":"e3346cfa.6fdb","type":"function","z":"89ad9af9.5b24b8","name":"Set up global parameters","func":"wot_url = 'http://wot'+':8888'\nthingsboard_url = 'http://thingsboard'+':9090'\n\nglobal.set(\"WOT_URL\",wot_url)\nglobal.set(\"THINGSBOARD_URL\",thingsboard_url)\n\nif(!global.get(\"DEVICES\")){\n    global.set(\"DEVICES\",[])\n}\n\nglobal_state = {}\nglobal_keys = global.keys()\nfor (i=0; i<global_keys.length; i++){\n    key = global_keys[i];\n    global_state[key]=global.get(key);\n}\nmsg.payload = global_state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["69806943.4d8f38"]]},{"id":"1272342b.aceabc","type":"inject","z":"84041e35.dbf49","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["e5111f80.ab1ca"]]},{"id":"e5111f80.ab1ca","type":"function","z":"84041e35.dbf49","name":"Local setup","func":"flow.set(\"URL\", global.get(\"WOT_URL\"))\nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nmsg.payload = flow.get('URL')\n\nif(!flow.get(\"DEVICES\")){\n    flow.set(\"DEVICES\",{})\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["303beea9.0117b2"]]},{"id":"b539883.bd83678","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":360,"wires":[]},{"id":"303beea9.0117b2","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"6cd5aebd.9aebb","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"6fe5cbe0.c72f04","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":280,"wires":[]},{"id":"56a5f4ac.2b680c","type":"function","z":"141904da.18313b","name":"Get devices","func":"TYPE = 'DiscretePositionDevice'\n\nall_devices = flow.get('DEVICES')\n\ndevices = []\nfor (id in all_devices){\n    if(true || TYPE in all_devices[id]['@type']){\n        devices.push(all_devices[id])\n    }\n}\nmsg.payload = devices\n//msg.payload = all_devices.length\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["8cf68a71.de2b18","2ef25155.38b93e"]]},{"id":"8cf68a71.de2b18","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":220,"wires":[]},{"id":"7774e15a.d8703","type":"inject","z":"141904da.18313b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["56a5f4ac.2b680c"]]},{"id":"cd67c46d.a7ba48","type":"function","z":"141904da.18313b","name":"Local setup","func":"\nflow.set(\"DEVICES\",global.get('DEVICES'))\n\nmsg.payload = flow.get(\"DEVICES\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["8b4450bd.038df"]]},{"id":"eac35d47.f3d38","type":"inject","z":"141904da.18313b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["cd67c46d.a7ba48"]]},{"id":"8b4450bd.038df","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"acf16de5.89113","type":"split","z":"84041e35.dbf49","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":240,"wires":[["a1835bf1.47c718","e9ba575b.3edfb8"]]},{"id":"a1835bf1.47c718","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":200,"wires":[]},{"id":"6df49ee3.c1e1d","type":"debug","z":"84041e35.dbf49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":440,"wires":[]},{"id":"2ef25155.38b93e","type":"function","z":"141904da.18313b","name":"Compute distribution","func":"\nn_zones = 4\ncar_distribution = {}\nfor(i=1; i<=n_zones; i++){\n    car_distribution[i] = 0\n}\n\nfor (i=0;i<msg.payload.length; i++){\n    if('position' in msg.payload[i].properties){\n        value = msg.payload[i].properties['position'].value\n        car_distribution[value] = car_distribution[value] + 1\n    }\n}\nmsg.payload = car_distribution\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":160,"wires":[["9275a202.a0eec","6cdcbc10.b62394"]]},{"id":"9275a202.a0eec","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"6cdcbc10.b62394","type":"function","z":"141904da.18313b","name":"Create global distribution object","func":"\nid='car_distribution_1';\n\nif(!global.get(\"DEVICES\")[id]){\n    distribution_object = {\n        'id':id,\n        'classification':['public'],\n        'title': 'Car distribution',\n        'properties':{\n            '1':{\n                'title':'Cars at zone 1',\n                'type': 'int',\n                'description': 'Number of cars at zone 1',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['1']\n            },\n            '2':{\n                'title':'Cars at zone 2',\n                'type': 'int',\n                'description': 'Number of cars at zone 2',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['2']\n            },\n            '3':{\n                'title':'Cars at zone 3',\n                'type': 'int',\n                'description': 'Number of cars at zone 3',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['3']\n            },\n            '4':{\n                'title':'Cars at zone 4',\n                'type': 'int',\n                'description': 'Number of cars at zone 4',\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload['4']\n            }\n        }\n    };\n} else {\n    distribution_object = global.get('DEVICES')[id];\n}\n\nproperties = distribution_object['properties']\ndelete properties.distribution\n\nfor (let [key, value] of Object.entries(msg.payload)){\n    property = {\n                'title':'Cars at zone ' + key,\n                'type': 'int',\n                'description': 'Number of cars at zone ' + key,\n                'readOnly': true,\n                'links': null,\n                'value': msg.payload[key]\n            }\n    properties[key]=property;\n}\ndistribution_object['properties']=properties;\n\ndevices = global.get('DEVICES')\ndevices[id] = distribution_object;\nglobal.set('DEVICES', devices);\nglobal.set('DISTRIBUTION', undefined);\n\nmsg.payload = global.get('DEVICES')[id];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":160,"wires":[["642de9b0.a76888"]]},{"id":"642de9b0.a76888","type":"debug","z":"141904da.18313b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":240,"wires":[]},{"id":"5622291b.060618","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":860,"wires":[["d6c467a7.ded8e8"]]},{"id":"26a97409.11272c","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"DEVICE_TYPE = 'CAR_DISTRIBUTION'\n\npayload = {\n        \"name\":msg.payload.id,\n        \"type\":DEVICE_TYPE\n    }\n\nmsg.distribution = msg.payload\n\nmsg.payload = payload\nmsg.headers = flow.get('HEADERS')\nmsg.url = flow.get('URL') + '/api/device'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":860,"wires":[["ada86913.f7d6b8","d5b4a661.70e418"]]},{"id":"a4b7c7ed.77c618","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":820,"wires":[["a0199646.cdeea8","a19c5ea9.3c709"]]},{"id":"a1a96c47.cd939","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":840,"wires":[]},{"id":"d6c467a7.ded8e8","type":"function","z":"f088168c.08c968","name":"Get distribution","func":"\ncar_distribution =  global.get('DISTRIBUTION')\n\ncar_distribution.thingsboard_id = '59592b80-e54d-11ea-9e40-51dfa88a126f'\n\nmsg.payload = car_distribution\n\n\n\n//msg.payload = global.get('DEVICES')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":860,"wires":[["55eab445.b91d8c","26a97409.11272c"]]},{"id":"55eab445.b91d8c","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":940,"wires":[]},{"id":"a0199646.cdeea8","type":"switch","z":"f088168c.08c968","name":"HTTP 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":800,"wires":[["f4d12c28.9a338"]]},{"id":"a19c5ea9.3c709","type":"switch","z":"f088168c.08c968","name":"HTTP Error","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":840,"wires":[["a1a96c47.cd939"]]},{"id":"410a8081.dd868","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1750,"y":800,"wires":[]},{"id":"f4d12c28.9a338","type":"function","z":"f088168c.08c968","name":"Store device thingsboard id","func":"\ncar_distribution =  global.get('DISTRIBUTION')\ncar_distribution['thingsboard_id'] = msg.payload.id.id\n\nmsg.payload = car_distribution\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":800,"wires":[["410a8081.dd868"]]},{"id":"f9bc775.70c6488","type":"comment","z":"f088168c.08c968","name":"Update car distribution","info":"","x":170,"y":820,"wires":[]},{"id":"ada86913.f7d6b8","type":"switch","z":"f088168c.08c968","name":"Device exists","property":"distribution.thingsboard_id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":880,"wires":[["806fd2d1.418ba","f1423129.70b33"]]},{"id":"d5b4a661.70e418","type":"switch","z":"f088168c.08c968","name":"Create device","property":"distribution.thingsboard_id","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":820,"wires":[["740aab60.9791e4","a4b7c7ed.77c618"]]},{"id":"806fd2d1.418ba","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"distribution","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":940,"wires":[]},{"id":"740aab60.9791e4","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"distribution","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":780,"wires":[]},{"id":"f1423129.70b33","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"base_url = flow.get('URL') + '/api/v1/'\n\n//msg.url = flow.get('BASE_URL') + '/api/v1/telemetry'\nmsg.headers = flow.get('HEADERS')\n\n//base_url + '/' + token + endpoint\nmsg.distribution.thingsboard_token = 'QmiLR0bmWjiBzC1O6Fkq'\n\nmsg.url = base_url + msg.distribution.thingsboard_token + '/telemetry'\n\ndata = msg.distribution['value']\n\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":880,"wires":[["48d76692.51f398","983f703d.2fc91"]]},{"id":"983f703d.2fc91","type":"http request","z":"f088168c.08c968","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":880,"wires":[["48d76692.51f398"]]},{"id":"48d76692.51f398","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":940,"wires":[]},{"id":"33044468.b4a3ac","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":540,"wires":[]},{"id":"10b91a9c.32dd25","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":680,"wires":[]},{"id":"da85342.dce8ec8","type":"complete","z":"f088168c.08c968","name":"","scope":["e36403b7.c9cfe"],"uncaught":false,"x":150,"y":920,"wires":[[]]},{"id":"69806943.4d8f38","type":"debug","z":"89ad9af9.5b24b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"c3989524.8b5798","type":"file in","z":"f088168c.08c968","name":"Load stored devices","filename":"/data/devices","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":180,"wires":[["d271b67b.a8f8a8"]]},{"id":"682798a.c422868","type":"file","z":"f088168c.08c968","name":"","filename":"/data/devices","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":480,"y":260,"wires":[["c3989524.8b5798"]]},{"id":"be054566.cd3c48","type":"function","z":"f088168c.08c968","name":"","func":"\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["682798a.c422868"]]},{"id":"a72de646.787068","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":180,"wires":[]},{"id":"630cb3e6.26651c","type":"catch","z":"f088168c.08c968","name":"","scope":["c3989524.8b5798"],"uncaught":false,"x":140,"y":260,"wires":[["be054566.cd3c48"]]},{"id":"31e1623c.3855ce","type":"inject","z":"f088168c.08c968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["c3989524.8b5798"]]},{"id":"d271b67b.a8f8a8","type":"json","z":"f088168c.08c968","name":"","property":"payload","action":"","pretty":false,"x":590,"y":180,"wires":[["123f1da3.e864a2"]]},{"id":"123f1da3.e864a2","type":"function","z":"f088168c.08c968","name":"","func":"\nglobal.set('DEVICES', msg.payload);\nmsg.payload = global.get('DEVICES');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":180,"wires":[["a72de646.787068"]]},{"id":"ae6077bf.9d5a38","type":"function","z":"f088168c.08c968","name":"Store devices to file","func":"devices = global.get('DEVICES')\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":620,"wires":[["a4646f34.c00e9"]]},{"id":"26994d25.5318b2","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2200,"y":620,"wires":[]},{"id":"a4646f34.c00e9","type":"file","z":"f088168c.08c968","name":"","filename":"/data/devices","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":2020,"y":620,"wires":[["26994d25.5318b2"]]},{"id":"4fbe0e0b.34c7a","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":320,"wires":[]},{"id":"94ee4274.cd55d","type":"switch","z":"f088168c.08c968","name":"HTTP 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":340,"wires":[["b6d632f4.66e14"]]},{"id":"79b36c1e.45d4f4","type":"switch","z":"f088168c.08c968","name":"HTTP Error","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":400,"wires":[["4fbe0e0b.34c7a","7ec5be33.c9c4c"]]},{"id":"7ec5be33.c9c4c","type":"delay","z":"f088168c.08c968","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":400,"wires":[["c3656178.be5c2"]]},{"id":"c3656178.be5c2","type":"link out","z":"f088168c.08c968","name":"","links":["afeab2e2.48ab7"],"x":1085,"y":400,"wires":[]},{"id":"afeab2e2.48ab7","type":"link in","z":"f088168c.08c968","name":"","links":["c3656178.be5c2"],"x":255,"y":380,"wires":[["5bfe6e82.1e21d"]]},{"id":"78e7f8e2.e91838","type":"debug","z":"f088168c.08c968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":420,"wires":[]},{"id":"6340caaf.692834","type":"complete","z":"f088168c.08c968","name":"","scope":["699b7af4.6b49d4"],"uncaught":false,"x":180,"y":680,"wires":[["3b4c58df.91a628"]]},{"id":"da846d5b.8d51b","type":"link out","z":"f088168c.08c968","name":"","links":["86005307.0a5ee"],"x":735,"y":1360,"wires":[]},{"id":"86005307.0a5ee","type":"link in","z":"f088168c.08c968","name":"","links":["da846d5b.8d51b"],"x":1635,"y":580,"wires":[["ae6077bf.9d5a38"]]},{"id":"e7334875.c49738","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1300,"wires":[]},{"id":"31a41763.873b78","type":"function","z":"f088168c.08c968","name":"Store customer data","func":"\nflow.set('CUSTOMERS', msg.payload.data)\n\nmsg.payload = flow.get('CUSTOMERS')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1900,"wires":[["d92e281f.5a1ef8"]]},{"id":"37d504c7.6a090c","type":"function","z":"f088168c.08c968","name":"Prepare request","func":"\nbase_url = flow.get('URL') + '/api/customer/'\ncustomerId = msg.payload.customerId\ndeviceId = msg.payload.deviceId\n\nmsg.url = base_url + customerId + '/device/' + deviceId\n\nmsg.headers = flow.get('HEADERS')\nreturn msg;\n\n\n\nmsg.payload = {}\n\nreturn msg\nfor (i=0; i<msg.payload.length; i++){\n    customer = msg.payload[i]\n    customerId = customer.id\n    for (j=0; j<customer.devices.length; j++){\n        device = customer.devices[j]\n        deviceId = device_id_map[device.id]\n        request = {}\n        request.url = base_url + customerId + '/device/' + deviceId\n        request.headers = msg.setup.auth_headers\n        request_data.push(request)\n    }\n}\nmsg.payload = request_data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1260,"wires":[["37ab56e3.28df9a","eb3d9858.d53218"]]},{"id":"37ab56e3.28df9a","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":1340,"wires":[]},{"id":"2fed3f10.68c","type":"debug","z":"f088168c.08c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":1320,"wires":[]}]