node-red/.node-red/flows.json
[{"id":"89ad9af9.5b24b8","type":"tab","label":"Global setup","disabled":false,"info":"Function to set up global variables such as ip of local machine\n\n"},{"id":"9c1e076.5f7d4f8","type":"tab","label":"Fetch Taxi WebThings","disabled":false,"info":""},{"id":"8f5695d4.26e138","type":"tab","label":"Fetch Hospital WebThings","disabled":false,"info":""},{"id":"a36580c0.b9cfc","type":"tab","label":"Taxi API","disabled":false,"info":""},{"id":"e7ae0c3a.b2112","type":"tab","label":"Hospital API","disabled":false,"info":""},{"id":"84e53390.36c6","type":"subflow","name":"Query device properties","info":"","category":"","in":[{"x":120,"y":80,"wires":[{"id":"a0873417.295ca8"}]}],"out":[{"x":760,"y":80,"wires":[{"id":"93965560.364828","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1a50fa2e.f03ac6","type":"subflow","name":"Fetch web thing","info":"","category":"","in":[{"x":100,"y":200,"wires":[{"id":"57e4d8fb.08ec18"}]}],"out":[{"x":860,"y":140,"wires":[{"id":"11f7af50.4e17e1","port":0}]},{"x":860,"y":220,"wires":[{"id":"539ab21e.2baa5c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"988498cc.3d0758","type":"subflow","name":"Fetch wot property","info":"","category":"","in":[{"x":140,"y":180,"wires":[{"id":"9285c4dc.af9268"}]}],"out":[{"x":1100,"y":180,"wires":[{"id":"2391851e.77056a","port":0}]},{"x":840,"y":240,"wires":[{"id":"cfd02a2c.1b2b78","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"14204bc3.e267a4","type":"subflow","name":"Safe db query","info":"","category":"","in":[{"x":340,"y":240,"wires":[{"id":"e9e17ecb.cc0b8"}]}],"out":[{"x":680,"y":240,"wires":[{"id":"e9e17ecb.cc0b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"29f03fb6.bae","type":"subflow","name":"Get owner query","info":"","category":"","in":[{"x":340,"y":260,"wires":[{"id":"a94dad63.eaa89"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"a94dad63.eaa89","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dd86eacb.b08858","type":"subflow","name":"Get readers query","info":"","category":"","in":[{"x":280,"y":160,"wires":[{"id":"af7eb47b.d69cf8"}]}],"out":[{"x":760,"y":160,"wires":[{"id":"af7eb47b.d69cf8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8ed923c2.404c8","type":"mqtt-broker","name":"MQTT Broker location","broker":"localhost","port":"1881","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95967b6c.bf4128","type":"ui_tab","name":"Dev","icon":"dashboard","disabled":false,"hidden":false},{"id":"9ab0953a.61aa18","type":"ui_group","name":"Properties","tab":"95967b6c.bf4128","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6f540e1.b4baa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1346b680.0c26ca","type":"ui_group","name":"Default","tab":"95967b6c.bf4128","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6210e72.915e1","type":"ui_group","name":"Private","tab":"23b29e69.a69182","order":3,"disp":true,"width":"20","collapse":false},{"id":"99fff7f0.ec79a8","type":"ui_group","name":"Public","tab":"23b29e69.a69182","order":4,"disp":true,"width":"20","collapse":false},{"id":"23b29e69.a69182","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"55af362.e170ec8","type":"consumed-thing","tdLink":"http://192.168.1.128:9001","td":"{\"id\": \"mock:pulse:848e6e4b-0657-4d2f-a049-dddc0067a60f1\", \"classification\": {\"PatientA\": [\"PatientA\", \"Doctors\"]}, \"title\": null, \"@context\": \"https://iot.mozilla.org/schemas\", \"properties\": {\"pulse\": {\"@type\": \"PulseData\", \"title\": \"Pulse\", \"type\": \"float\", \"description\": \"Real time pulse value\", \"readOnly\": true, \"links\": [{\"rel\": \"property\", \"href\": \"/properties/pulse\"}]}}, \"actions\": {}, \"events\": {}, \"links\": [{\"rel\": \"properties\", \"href\": \"/properties\"}, {\"rel\": \"actions\", \"href\": \"/actions\"}, {\"rel\": \"events\", \"href\": \"/events\"}, {\"rel\": \"alternate\", \"href\": \"ws://192.168.1.128:9001/\"}], \"description\": \"A device reporting its position\", \"@type\": [\"DiscretePostitionDevice\"], \"base\": \"http://192.168.1.128:9001/\", \"securityDefinitions\": {\"nosec_sc\": {\"scheme\": \"nosec\"}}, \"security\": \"nosec_sc\"}","http":false,"coap":false,"mqtt":false,"opcua":false,"modbus":false},{"id":"19d3b93f.cd27c7","type":"Stackhero-MySQL-Server","name":"","host":"mariadb","port":"3306","tls":false,"database":"test"},{"id":"2f9284ff.b82f8c","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"test","name":"mongodb-test"},{"id":"f69609b1.cb1968","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"hospital","name":"hospital-db"},{"id":"6ca5fc40.f49b04","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"hospital","name":"test-connection"},{"id":"ebedea03.74f028","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"smart-city","name":"smart-city-db"},{"id":"17b03eb1.53c301","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["e3346cfa.6fdb"]]},{"id":"e3346cfa.6fdb","type":"function","z":"89ad9af9.5b24b8","name":"Set up global parameters","func":"wot_url = 'http://wot'+':8888'\n\nwebthings = [\n    'http://patient-a'+':8888',\n    'http://patient-b'+':8888',\n    'http://patient-c'+':8888'\n    ]\nglobal.set(\"WOT_HOSTS\",webthings)\n\n\n// Taxi endpoints\ntaxi_hosts = [\n    'http://taxi-a1'+':8888',\n    'http://taxi-a2'+':8888',\n    'http://taxi-b1'+':8888',\n    'http://taxi-b2'+':8888',\n    'http://taxi-c1'+':8888',\n    'http://taxi-c2'+':8888'\n]\nglobal.set(\"TAXI_WOT_HOSTS\",taxi_hosts)\n\nthingsboard_url = 'http://thingsboard'+':9090'\n\nglobal.set(\"WOT_URL\",wot_url)\nglobal.set(\"THINGSBOARD_URL\",thingsboard_url)\n\nif(!global.get(\"DEVICES\")){\n    global.set(\"DEVICES\",[])\n}\n\nif(!global.get(\"HOSPITAL_MEAN\")){\n    global.set(\"HOSPITAL_MEAN\",{})\n}\n\nglobal_state = {}\nglobal_keys = global.keys()\nfor (i=0; i<global_keys.length; i++){\n    key = global_keys[i];\n    global_state[key]=global.get(key);\n}\nmsg.payload = global_state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["69806943.4d8f38"]]},{"id":"69806943.4d8f38","type":"debug","z":"89ad9af9.5b24b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"948d1f1c.a222f","type":"inject","z":"8f5695d4.26e138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["4d9cf1c3.82c2c"]]},{"id":"4d9cf1c3.82c2c","type":"function","z":"8f5695d4.26e138","name":"Local setup","func":"hosts = [\n    'http://patient-a'+':8888',\n    'http://patient-b'+':8888',\n    'http://patient-c'+':8888'\n    ]\nflow.set(\"HOSTS\",hosts)\n//flow.set(\"HOSTS\", global.get(\"WOT_HOSTS\"))\n\nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nif(!flow.get(\"DEVICES\")){\n    flow.set(\"DEVICES\",{})\n}\nif(!flow.get(\"DATA\")){\n    flow.set(\"DATA\",{})\n}\n//Debug\nmsg.payload = flow.get('HOSTS')\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["a6d23aff.e09f38"]]},{"id":"a6d23aff.e09f38","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"865d5a29.c02858","type":"inject","z":"8f5695d4.26e138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":700,"wires":[["13cc574d.c46b59"]]},{"id":"13cc574d.c46b59","type":"function","z":"8f5695d4.26e138","name":"Delete local and global device data","func":"\nflow.set(\"DEVICES\",{})\nglobal.set(\"DEVICES\",{})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":700,"wires":[[]]},{"id":"8c01be33.95f17","type":"comment","z":"8f5695d4.26e138","name":"Clear devices [DONT DO THIS]","info":"","x":200,"y":660,"wires":[]},{"id":"66588323.9b24fc","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["72e56ab7.fb2094","6d111fac.d11de"]]},{"id":"72e56ab7.fb2094","type":"debug","z":"e7ae0c3a.b2112","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":200,"wires":[]},{"id":"a9b5fa9c.7d34a8","type":"http response","z":"e7ae0c3a.b2112","name":"","statusCode":"","headers":{},"x":520,"y":120,"wires":[]},{"id":"6d111fac.d11de","type":"function","z":"e7ae0c3a.b2112","name":"","func":"\nmsg.payload = \"World!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["a9b5fa9c.7d34a8"]]},{"id":"61f8814c.32224","type":"inject","z":"9c1e076.5f7d4f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":270,"y":80,"wires":[["b07c633f.07e46"]]},{"id":"b07c633f.07e46","type":"function","z":"9c1e076.5f7d4f8","name":"Local setup","func":"// Taxi endpoints\nhosts = [\n    'http://taxi-a1'+':8888',\n    'http://taxi-a2'+':8888',\n    'http://taxi-b1'+':8888',\n    'http://taxi-b2'+':8888',\n    'http://taxi-c1'+':8888',\n    'http://taxi-c2'+':8888'\n]\nflow.set(\"HOSTS\", hosts);\n\nflow.set(\"HEADERS\", {\"Accept\": \"application/json\", 'Content-Type': 'application/json'})\n\nif(!flow.get(\"DEVICES\")){\n    flow.set(\"DEVICES\",{})\n}\nif(!flow.get(\"DATA\")){\n    flow.set(\"DATA\",{})\n}\n//Debug\nmsg.payload = flow.get('HOSTS')\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":80,"wires":[["4301dd25.c7ad94"]]},{"id":"4301dd25.c7ad94","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":80,"wires":[]},{"id":"bf48430c.6bc1d","type":"inject","z":"9c1e076.5f7d4f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":720,"wires":[["a7ddf5a0.774938"]]},{"id":"a7ddf5a0.774938","type":"function","z":"9c1e076.5f7d4f8","name":"Delete local device data","func":"\nflow.set(\"DEVICES\",{})\n//global.set(\"DEVICES\",{})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":720,"wires":[[]]},{"id":"8fc2e12f.1ef4e","type":"comment","z":"9c1e076.5f7d4f8","name":"Clear devices [DONT DO THIS]","info":"","x":260,"y":680,"wires":[]},{"id":"953feab6.22d408","type":"read-property","z":"89ad9af9.5b24b8","name":"","topic":"","thing":"55af362.e170ec8","property":"pulse","uriVariables":"{\"pulse\":\"http://192.168.1.128:9001/properties/pulse\"}","interval":5,"observe":false,"x":280,"y":260,"wires":[["99c729e1.2ea7d8"]]},{"id":"ae627947.b09838","type":"http request","z":"89ad9af9.5b24b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://patient-a:8888","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":440,"wires":[["672f0e3d.77f1f"]]},{"id":"672f0e3d.77f1f","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":440,"wires":[]},{"id":"bcd52eeb.73a52","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":440,"wires":[["ae627947.b09838"]]},{"id":"99c729e1.2ea7d8","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"a1ed63c9.e6699","type":"mongodb in","z":"89ad9af9.5b24b8","d":true,"mongodb":"2f9284ff.b82f8c","name":"","collection":"users","operation":"find","x":520,"y":660,"wires":[["e13d80d5.dc792"]]},{"id":"3f2c10b0.04d03","type":"mongodb out","z":"89ad9af9.5b24b8","d":true,"mongodb":"2f9284ff.b82f8c","name":"","collection":"users","payonly":true,"upsert":true,"multi":false,"operation":"update","x":740,"y":760,"wires":[]},{"id":"82f3e18a.c9879","type":"inject","z":"89ad9af9.5b24b8","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"query","v":"{\"name\":\"marcus2\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"$set\": {\"age\":\"30\"}}","payloadType":"json","x":470,"y":760,"wires":[["3f2c10b0.04d03"]]},{"id":"8c8e15fc.dd8418","type":"inject","z":"89ad9af9.5b24b8","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"marcus2\"}","payloadType":"json","x":280,"y":660,"wires":[["a1ed63c9.e6699"]]},{"id":"e13d80d5.dc792","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":680,"wires":[]},{"id":"47bff791.5eef28","type":"http request","z":"89ad9af9.5b24b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"192.168.128.8:8888","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":480,"wires":[["8b9b4f76.ca838"]]},{"id":"8b9b4f76.ca838","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"e37a5a5e.d98eb8","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":480,"wires":[["47bff791.5eef28"]]},{"id":"1e69d150.b1335f","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"devices","operation":"find","x":550,"y":880,"wires":[["e73594fd.60ad48"]]},{"id":"78f161db.b2673","type":"inject","z":"89ad9af9.5b24b8","name":"Append pulse value","props":[{"p":"query","v":"{\"id\":\"mock:pulse:a17abf86-1eb3-460e-8b3c-1206102184b71\"}","vt":"json"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"$push\": {\"properties.pulse.values\":{\"value\":4,\"time\":123}}}","payloadType":"json","x":250,"y":1040,"wires":[["f227b8f8.c874d8"]]},{"id":"e73594fd.60ad48","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":880,"wires":[]},{"id":"f227b8f8.c874d8","type":"mongodb out","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"devices","payonly":true,"upsert":true,"multi":false,"operation":"update","x":590,"y":1040,"wires":[]},{"id":"dba7517b.4d829","type":"inject","z":"89ad9af9.5b24b8","name":"Get complete device object","props":[{"p":"query","v":"{\"id\":\"mock:pulse:a17abf86-1eb3-460e-8b3c-1206102184b71\"}","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":880,"wires":[["1e69d150.b1335f","89cb04c5.048cf8"]]},{"id":"447a0da2.902204","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":560,"y":940,"wires":[["fb6b8601.7f3a58"]]},{"id":"fb6b8601.7f3a58","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":940,"wires":[]},{"id":"40056cce.ad3464","type":"inject","z":"89ad9af9.5b24b8","name":"Get properties device object","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":280,"y":940,"wires":[["447a0da2.902204"]]},{"id":"a0873417.295ca8","type":"mongodb in","z":"84e53390.36c6","mongodb":"f69609b1.cb1968","name":"","collection":"devices","operation":"find","x":290,"y":80,"wires":[["93965560.364828"]]},{"id":"93965560.364828","type":"function","z":"84e53390.36c6","name":"Format properties","func":"\nproperties = []\n\nfor(ii=0; ii<msg.payload.length; ii++) {\n    device_id = msg.payload[ii].id\n    classification = msg.payload[ii].classification\n    base = msg.payload[ii].base.replace(/\\/$/, \"\");\n    for (var prop in msg.payload[ii].properties){\n        property = msg.payload[ii].properties[prop]\n        property.device_id = device_id\n        property.classification = classification\n        property.name = prop\n        property.url = base + property.links[0].href\n        properties.push(property)\n    }\n}\nmsg.payload = properties;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":80,"wires":[[]]},{"id":"57e4d8fb.08ec18","type":"function","z":"1a50fa2e.f03ac6","name":"Prepare request","func":"\nif (msg.headers == undefined){\n    msg.headers = {\"Accept\": \"application/json\", 'Content-Type': 'application/json'}\n}\n\nmsg.url = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["4d2e5844.3bb248"]]},{"id":"4d2e5844.3bb248","type":"http request","z":"1a50fa2e.f03ac6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":200,"wires":[["11f7af50.4e17e1","539ab21e.2baa5c"]]},{"id":"11f7af50.4e17e1","type":"switch","z":"1a50fa2e.f03ac6","name":"statusCode=200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":140,"wires":[[]]},{"id":"539ab21e.2baa5c","type":"switch","z":"1a50fa2e.f03ac6","name":"statusCode!=200","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":220,"wires":[[]]},{"id":"91e4894f.20f558","type":"subflow:1a50fa2e.f03ac6","z":"8f5695d4.26e138","name":"","x":480,"y":280,"wires":[["eacd0cdd.76f5d","39b8309d.66c3a"],["ae3c59dd.a0a1a8"]]},{"id":"38677424.61953c","type":"inject","z":"8f5695d4.26e138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"HOSTS","payloadType":"flow","x":140,"y":280,"wires":[["24edfc7a.fca934"]]},{"id":"24edfc7a.fca934","type":"split","z":"8f5695d4.26e138","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"url","x":300,"y":280,"wires":[["91e4894f.20f558"]]},{"id":"ae3c59dd.a0a1a8","type":"debug","z":"8f5695d4.26e138","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"eacd0cdd.76f5d","type":"change","z":"8f5695d4.26e138","name":"Update device query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'id':msg.payload.id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[["7ff875d3.0fd8ec","2d25a2eb.1190ce"]]},{"id":"7ff875d3.0fd8ec","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":200,"wires":[]},{"id":"39b8309d.66c3a","type":"function","z":"8f5695d4.26e138","name":"Create property object","func":"\nproperties = []\n\ndevice_id = msg.payload.id\nclassification = msg.payload.classification\nbase = msg.payload.base.replace(/\\/$/, \"\");\nfor (var prop in msg.payload.properties){\n    property = msg.payload.properties[prop]\n    property.device_id = device_id\n    property.classification = classification\n    property.name = prop\n    property.url = base + property.links[0].href\n    properties.push(property)\n}\nmsg.payload = properties;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":300,"wires":[["5b5e0e62.7280e"]]},{"id":"74e8ecd8.add924","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":260,"wires":[]},{"id":"5b5e0e62.7280e","type":"split","z":"8f5695d4.26e138","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":900,"y":300,"wires":[["9f379298.01f75"]]},{"id":"9f379298.01f75","type":"change","z":"8f5695d4.26e138","name":"Update prop query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'device_id':msg.payload.device_id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":300,"wires":[["74e8ecd8.add924","8aafaf3d.75ce7"]]},{"id":"2d25a2eb.1190ce","type":"mongodb out","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"","collection":"devices","payonly":false,"upsert":true,"multi":false,"operation":"update","x":960,"y":240,"wires":[]},{"id":"8aafaf3d.75ce7","type":"mongodb out","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"Update metadata","collection":"properties","payonly":false,"upsert":true,"multi":false,"operation":"update","x":1260,"y":300,"wires":[]},{"id":"3b5793a9.7485dc","type":"mongodb in","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":380,"y":500,"wires":[["e2bfe81f.e99898","b8669dd.a55966"]]},{"id":"b30db75d.ccabb8","type":"inject","z":"8f5695d4.26e138","name":"Query device properties","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"projection","v":"{\"_id\":0,\"url\":1,\"device_id\":1,\"name\":1}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":500,"wires":[["3b5793a9.7485dc"]]},{"id":"e2bfe81f.e99898","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":460,"wires":[]},{"id":"b8669dd.a55966","type":"split","z":"8f5695d4.26e138","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":500,"wires":[["cd3cc10d.42663"]]},{"id":"2eb64e7f.e64a92","type":"http request","z":"988498cc.3d0758","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["f9b4bfcd.f0083","cfd02a2c.1b2b78"]]},{"id":"2391851e.77056a","type":"function","z":"988498cc.3d0758","name":"Format property object","func":"\nproperty = msg.property\n\nprop_name = property.name\nvalue = msg.payload[prop_name]\ntime = timestamp = Date.now();\ndata = {\"value\":value, \"time\":time}\n\nproperty.data = data;\n\nmsg.payload = property;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":180,"wires":[[]]},{"id":"f9b4bfcd.f0083","type":"switch","z":"988498cc.3d0758","name":"statusCode=200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":180,"wires":[["2391851e.77056a"]]},{"id":"cfd02a2c.1b2b78","type":"switch","z":"988498cc.3d0758","name":"statusCode!=200","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":240,"wires":[[]]},{"id":"9285c4dc.af9268","type":"function","z":"988498cc.3d0758","name":"Prepare request","func":"\nif (msg.headers == undefined){\n    msg.headers = {\"Accept\": \"application/json\", 'Content-Type': 'application/json'}\n}\n\nmsg.url = msg.payload.url;\nmsg.property = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":180,"wires":[["2eb64e7f.e64a92"]]},{"id":"55de1631.5bbf28","type":"subflow:988498cc.3d0758","z":"8f5695d4.26e138","name":"","env":[],"x":910,"y":500,"wires":[["dfa43fb3.c855"],["bb8a9d46.78832"]]},{"id":"c2a81fb2.17e74","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":440,"wires":[]},{"id":"dfa43fb3.c855","type":"change","z":"8f5695d4.26e138","name":"Set push query","rules":[{"t":"set","p":"query","pt":"msg","to":"{\"device_id\":msg.payload.device_id, \"name\":msg.payload.name}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$push\": {\"data\":msg.payload.data}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":480,"wires":[["c2a81fb2.17e74","2b5e056a.07087a"]]},{"id":"2b5e056a.07087a","type":"mongodb out","z":"8f5695d4.26e138","mongodb":"f69609b1.cb1968","name":"Push data","collection":"properties","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1280,"y":480,"wires":[]},{"id":"bb8a9d46.78832","type":"debug","z":"8f5695d4.26e138","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":520,"wires":[]},{"id":"cd3cc10d.42663","type":"switch","z":"8f5695d4.26e138","name":"Check url exists","property":"payload.url","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":500,"wires":[["55de1631.5bbf28","e5e594f6.669fe8"]]},{"id":"e5e594f6.669fe8","type":"debug","z":"8f5695d4.26e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":460,"wires":[]},{"id":"74e39c9c.ccfb34","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"f69609b1.cb1968","name":"","collection":"devices","operation":"find","x":710,"y":1220,"wires":[["6e115c23.9d6b64"]]},{"id":"6e115c23.9d6b64","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":1220,"wires":[]},{"id":"41fc03e.d5fbffc","type":"inject","z":"89ad9af9.5b24b8","name":"Get properties device object","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":1220,"wires":[["914fa2cb.90621"]]},{"id":"368d64b9.d10ddc","type":"comment","z":"89ad9af9.5b24b8","name":"","info":"Script query","x":190,"y":1180,"wires":[]},{"id":"914fa2cb.90621","type":"function","z":"89ad9af9.5b24b8","name":"","func":"\nprincipal = \"Doctors\"\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunc = function(classification) { \n    for (var owner in classification){\n        if (\"$principal\" != owner && !classification[owner].includes(\"$principal\")){\n            return false            \n        }\n    }\n    return true; \n}\n/*\nquery = { \"$where\": \n\"function() { return this.title==\\\"PatientA\\\"; }\"\n}\n//query = {\"$where\": func}\n*/\nvar rep = \"$principal\";\nvar patt = new RegExp(rep, \"g\");\n//func_string = func.toString().replace(patt, principal);\nfunc_string = replaceAll(func.toString(), \"$principal\", principal);\n//query = {\"$where\": func.toString()};\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\n\nmsg.function = func_string;\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1220,"wires":[["74e39c9c.ccfb34","2e9df26a.91d25e"]]},{"id":"7ce4d6ea.5e2fa8","type":"inject","z":"89ad9af9.5b24b8","name":"Get properties device object","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"$where\":\"function() {return (this.title==PatientA)}\"}","payloadType":"json","x":340,"y":1340,"wires":[["2e9df26a.91d25e","74e39c9c.ccfb34"]]},{"id":"2e9df26a.91d25e","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"function","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1340,"wires":[]},{"id":"e9e17ecb.cc0b8","type":"function","z":"14204bc3.e267a4","name":"Safe classification query","func":"if (msg.principal==undefined){\n    msg.principal = 'Public'\n}\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunc = function(classification) { \n    for (var owner in classification){\n        if (\"$principal\" != owner && !classification[owner].includes(\"$principal\")){\n            return false            \n        }\n    }\n    return true; \n}\n\nvar rep = \"$principal\";\nvar patt = new RegExp(rep, \"g\");\n\nfunc_string = replaceAll(func.toString(), \"$principal\", msg.principal);\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\nif (msg.query!=undefined){\n    query = { $and: [ query, msg.query ] } \n}\n\nmsg.function = func_string; //Debug\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":240,"wires":[[]]},{"id":"cb760c48.7a398","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/properties","method":"get","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["6de6ad4e.aaf474","cf56fa81.ce62f8"]]},{"id":"6de6ad4e.aaf474","type":"function","z":"e7ae0c3a.b2112","name":"Extract params","func":"/*\nmsg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"Pulse\",\n    \"principal\":\"PatientA\"\n}\n*/\nif (msg.payload.principal==undefined){\n    msg.payload.principal = 'Public';\n}\nmsg.principal = msg.payload.principal;\n\nmsg.query = {};\nif (msg.payload.device_id!=undefined){\n    msg.query['device_id']=msg.payload.device_id\n}\n\nif (msg.payload['@type']!=undefined){\n    msg.query['@type'] = msg.payload['@type'];\n}\n\nmsg.projection = {'_id':0};\nif (msg.payload.fetch!=undefined){\n    fetch = msg.payload.fetch.split(',');\n    msg.fetch = fetch;\n    for (var i=0; i<fetch.length; i++){\n        msg.projection[fetch[i]] = 1;\n    }\n}\n//msg.query = undefined;\n//msg.user = msg.payload.user\n//msg.param = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["ae450367.00875","f2e58ae5.698258"]]},{"id":"dd8448f6.4bf0f8","type":"function","z":"e7ae0c3a.b2112","name":"Mock request","func":"msg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"PulseData\",\n    \"principal\":\"PatientA\",\n    \"fetch\": \"name,data,classification\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":480,"wires":[["6de6ad4e.aaf474"]]},{"id":"b8dd4c11.c706","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["dd8448f6.4bf0f8"]]},{"id":"ae450367.00875","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":380,"wires":[]},{"id":"f2e58ae5.698258","type":"subflow:14204bc3.e267a4","z":"e7ae0c3a.b2112","name":"","env":[],"x":560,"y":420,"wires":[["200d8b15.abd154","ed14d24c.a3b12"]]},{"id":"588dbba2.5ed6d4","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":380,"wires":[]},{"id":"200d8b15.abd154","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":780,"y":420,"wires":[["588dbba2.5ed6d4","2edb14fc.b3fe2c"]]},{"id":"ed14d24c.a3b12","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"2edb14fc.b3fe2c","type":"http response","z":"e7ae0c3a.b2112","name":"","statusCode":"","headers":{},"x":970,"y":420,"wires":[]},{"id":"cf56fa81.ce62f8","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":360,"wires":[]},{"id":"a94dad63.eaa89","type":"function","z":"29f03fb6.bae","name":"Get policy owner query","func":"if (msg.owners==undefined){\n    msg.owners = ['Public']\n}\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunction arrayToString(array){\n    str = \"\";\n    for(var ii=0; ii<array.length; ii++){\n        str+=(\"\\\"\" + array[ii].toString() + \"\\\"\");\n        if(ii<array.length-1){\n            str+=\",\";\n        }\n    }\n    return \"[\" + str + \"]\";\n}\n\nfunc = function(classification) { \n    for (var owner in classification){\n        if (!$owners.includes(owner)){\n            return false            \n        }\n    }\n    return true; \n}\n\n\n\n//var rep = \"$principal\";\n//var patt = new RegExp(rep, \"g\");\n\nfunc_string = replaceAll(func.toString(), \"$owners\", arrayToString(msg.owners));\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\nif (msg.query!=undefined){\n    query = { $and: [ query, msg.query ] } \n}\n\nmsg.function = func_string; //Debug\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[[]]},{"id":"af7eb47b.d69cf8","type":"function","z":"dd86eacb.b08858","name":"Get readers query","func":"if (msg.principals==undefined){\n    msg.principals = ['Public']\n}\n\nfunction replaceAll(string, search, replace) {\n  return string.split(search).join(replace);\n}\n\nfunction arrayToString(array){\n    str = \"\";\n    for(var ii=0; ii<array.length; ii++){\n        str+=(\"\\\"\" + array[ii].toString() + \"\\\"\");\n        if(ii<array.length-1){\n            str+=\",\";\n        }\n    }\n    return \"[\" + str + \"]\";\n}\n\nfunc = function(classification) { \n    for (var ii=0; ii<$principals.length; ii++){\n        principal = $principals[ii];\n        for (var owner in classification){\n            readers = classification[owner];\n            isOwner = (owner==principal);\n            isReader = readers.includes(principal);\n            if (!isOwner && !isReader){\n                return false;     \n            }\n        }\n    }\n    return true; \n}\n\n\nfunc_string = replaceAll(func.toString(), \"$principals\", arrayToString(msg.principals));\n\nquery = {\"$expr\": { \"$function\": {\n      \"body\": func_string,\n      \"args\": [ \"$classification\" ],\n      \"lang\": \"js\"\n} } }\n\nif (msg.query!=undefined){\n    query = { $and: [ query, msg.query ] } \n}\n\nmsg.function = func_string; //Debug\nmsg.payload = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[[]]},{"id":"89cb04c5.048cf8","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":840,"wires":[]},{"id":"53bebae2.bc4994","type":"mongodb in","z":"89ad9af9.5b24b8","mongodb":"6ca5fc40.f49b04","name":"","collection":"devices","operation":"find","x":470,"y":1440,"wires":[["f4bbfcc2.17dce"]]},{"id":"a7c71722.5539a8","type":"inject","z":"89ad9af9.5b24b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1440,"wires":[["53bebae2.bc4994"]]},{"id":"f4bbfcc2.17dce","type":"debug","z":"89ad9af9.5b24b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":1500,"wires":[]},{"id":"fa2c7950.a633d8","type":"comment","z":"8f5695d4.26e138","name":"Fetch devices","info":"","x":140,"y":240,"wires":[]},{"id":"a6bb664a.5a6b98","type":"comment","z":"8f5695d4.26e138","name":"Fetch device properties","info":"","x":180,"y":460,"wires":[]},{"id":"3057f86.6b3b508","type":"subflow:1a50fa2e.f03ac6","z":"9c1e076.5f7d4f8","name":"","env":[],"x":460,"y":240,"wires":[["ddf17393.74007","c4be0681.8058b8"],["b3a045fc.64cf18"]]},{"id":"ea55902c.5930d","type":"inject","z":"9c1e076.5f7d4f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"HOSTS","payloadType":"flow","x":120,"y":240,"wires":[["a7f9c49d.aac578"]]},{"id":"a7f9c49d.aac578","type":"split","z":"9c1e076.5f7d4f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"url","x":280,"y":240,"wires":[["3057f86.6b3b508"]]},{"id":"b3a045fc.64cf18","type":"debug","z":"9c1e076.5f7d4f8","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"ddf17393.74007","type":"change","z":"9c1e076.5f7d4f8","name":"Update device query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'id':msg.payload.id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["59edbc70.1f8c74","20cefb32.585334"]]},{"id":"59edbc70.1f8c74","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":160,"wires":[]},{"id":"c4be0681.8058b8","type":"function","z":"9c1e076.5f7d4f8","name":"Create property object","func":"\nproperties = []\n\ndevice_id = msg.payload.id\nclassification = msg.payload.classification\nbase = msg.payload.base.replace(/\\/$/, \"\");\nfor (var prop in msg.payload.properties){\n    property = msg.payload.properties[prop]\n    property.device_id = device_id\n    property.classification = classification\n    property.name = prop\n    property.url = base + property.links[0].href\n    properties.push(property)\n}\nmsg.payload = properties;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":260,"wires":[["6f1b1b0c.56d414"]]},{"id":"2e479f66.fa8e8","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":220,"wires":[]},{"id":"6f1b1b0c.56d414","type":"split","z":"9c1e076.5f7d4f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":880,"y":260,"wires":[["d7692d2c.93aab"]]},{"id":"d7692d2c.93aab","type":"change","z":"9c1e076.5f7d4f8","name":"Update prop query","rules":[{"t":"set","p":"query","pt":"msg","to":"{'device_id':msg.payload.device_id}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$set\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":260,"wires":[["2e479f66.fa8e8","e331bf4.1b3944"]]},{"id":"20cefb32.585334","type":"mongodb out","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"","collection":"devices","payonly":false,"upsert":true,"multi":false,"operation":"update","x":950,"y":200,"wires":[]},{"id":"e331bf4.1b3944","type":"mongodb out","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"Update property metadata","collection":"properties","payonly":false,"upsert":true,"multi":false,"operation":"update","x":1260,"y":260,"wires":[]},{"id":"3d455c28.3411d4","type":"comment","z":"9c1e076.5f7d4f8","name":"Fetch devices","info":"","x":120,"y":200,"wires":[]},{"id":"386f4118.cd859e","type":"mongodb in","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"","collection":"properties","operation":"find","x":410,"y":480,"wires":[["2cd6920f.6ae7ae","3bf3ae0a.728112"]]},{"id":"13f219f9.836796","type":"inject","z":"9c1e076.5f7d4f8","name":"Query device properties","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"projection","v":"{\"_id\":0,\"url\":1,\"device_id\":1,\"name\":1}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["386f4118.cd859e"]]},{"id":"2cd6920f.6ae7ae","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"3bf3ae0a.728112","type":"split","z":"9c1e076.5f7d4f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":480,"wires":[["aba3cf02.028f2"]]},{"id":"f08a01cf.6de2a","type":"subflow:988498cc.3d0758","z":"9c1e076.5f7d4f8","name":"","env":[],"x":970,"y":480,"wires":[["20836bf6.e21cf4"],["d3dce418.1bab68"]]},{"id":"2b0857c1.b832a8","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":400,"wires":[]},{"id":"20836bf6.e21cf4","type":"change","z":"9c1e076.5f7d4f8","name":"Set push query","rules":[{"t":"set","p":"query","pt":"msg","to":"{\"device_id\":msg.payload.device_id, \"name\":msg.payload.name}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"$push\": {\"data\":msg.payload.data}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":440,"wires":[["2b0857c1.b832a8","f8a827e6.4d9408"]]},{"id":"f8a827e6.4d9408","type":"mongodb out","z":"9c1e076.5f7d4f8","mongodb":"ebedea03.74f028","name":"Push data","collection":"properties","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1380,"y":480,"wires":[]},{"id":"d3dce418.1bab68","type":"debug","z":"9c1e076.5f7d4f8","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":520,"wires":[]},{"id":"aba3cf02.028f2","type":"switch","z":"9c1e076.5f7d4f8","name":"Check url exists","property":"payload.url","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":480,"wires":[["f08a01cf.6de2a","c4e8f379.6ae"]]},{"id":"c4e8f379.6ae","type":"debug","z":"9c1e076.5f7d4f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":440,"wires":[]},{"id":"ab4b9388.55e53","type":"comment","z":"9c1e076.5f7d4f8","name":"Fetch device properties","info":"","x":200,"y":440,"wires":[]},{"id":"a8c426c5.dda908","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/mean","method":"get","upload":false,"swaggerDoc":"","x":100,"y":780,"wires":[["baaa0bcb.6aead8","5fe232c8.04690c"]]},{"id":"baaa0bcb.6aead8","type":"function","z":"e7ae0c3a.b2112","name":"Extract params","func":"/*\nmsg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"Pulse\",\n    \"principal\":\"PatientA\"\n}\n*/\nif (msg.payload.principal==undefined){\n    msg.payload.principal = 'Public';\n}\nmsg.principal = msg.payload.principal;\n\nmsg.query = {};\nif (msg.payload.device_id!=undefined){\n    msg.query['device_id']=msg.payload.device_id\n}\n\nif (msg.payload['@type']!=undefined){\n    msg.query['@type'] = msg.payload['@type'];\n}\n\nmsg.projection = {'_id':0};\nif (msg.payload.fetch!=undefined){\n    fetch = msg.payload.fetch.split(',');\n    msg.fetch = fetch;\n    for (var i=0; i<fetch.length; i++){\n        msg.projection[fetch[i]] = 1;\n    }\n}\n//msg.query = undefined;\n//msg.user = msg.payload.user\n//msg.param = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":780,"wires":[["5fe232c8.04690c","51836f1c.2607f"]]},{"id":"301e1c45.b05284","type":"function","z":"e7ae0c3a.b2112","name":"Mock request","func":"msg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"PulseData\",\n    \"principal\":\"PatientA\",\n    //\"fetch\": \"name,data,classification\"\n    \"fetch\": \"data\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":840,"wires":[["baaa0bcb.6aead8"]]},{"id":"c4e150e.e8418b","type":"inject","z":"e7ae0c3a.b2112","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":860,"wires":[["301e1c45.b05284"]]},{"id":"5fe232c8.04690c","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":720,"wires":[]},{"id":"51836f1c.2607f","type":"subflow:14204bc3.e267a4","z":"e7ae0c3a.b2112","name":"","env":[],"x":620,"y":780,"wires":[["cee05e18.5fa4e"]]},{"id":"f095df11.b4c08","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":660,"wires":[]},{"id":"cee05e18.5fa4e","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":840,"y":780,"wires":[["f095df11.b4c08","8c694bfe.fba908"]]},{"id":"8c694bfe.fba908","type":"function","z":"e7ae0c3a.b2112","name":"Mean","func":"\nresult = 0\ndata = msg.payload[0].data\nfor (var i=0; i<data.length; i++){\n    result = result + data[i].value\n}\nmsg.payload = result/data.length\n\n/*\nmsg.query = {\"device_id\" : {\"$in\" : data_sets }}\nmsg.projection = {\"classification\":1}\nmsg.projection[msg.property] = 1;\n\n//debug\nmsg.payload = \"Mean function requested\"\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":780,"wires":[["f095df11.b4c08","81fa79c.eb38988"]]},{"id":"654a0ba0.0c8984","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":1080,"wires":[]},{"id":"15313634.d2116a","type":"merge","z":"e7ae0c3a.b2112","name":"","timeout":"1","x":1530,"y":1140,"wires":[["4bbf8ed0.32d8c","64bde26a.6078ec"]]},{"id":"4bbf8ed0.32d8c","type":"debug","z":"e7ae0c3a.b2112","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1760,"y":1200,"wires":[]},{"id":"64bde26a.6078ec","type":"function","z":"e7ae0c3a.b2112","name":"Format output","func":"\nif(msg.payload[0].payload.classification!=undefined){\n    classification = msg.payload[0].payload.classification\n    principal = msg.payload[0].payload.principal\n    data = msg.payload[1].payload\n} else {\n    classification = msg.payload[1].payload.classification\n    principal = msg.payload[1].payload.principal\n    data = msg.payload[0].payload\n}\n\npayload = {\n    \"classification\":classification,\n    \"principal\":principal,\n    \"data\":data\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":1140,"wires":[["accac8f7.1bd978","a24180b9.ba1d9"]]},{"id":"7c5baf67.5ea69","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2130,"y":1060,"wires":[]},{"id":"accac8f7.1bd978","type":"function","z":"e7ae0c3a.b2112","name":"Verify correct principal","func":"\n\nprincipal = msg.payload.principal;\n\nfor (var owner in msg.payload.classification){\n    if(principal!=owner && !msg.payload.classification[owner].includes(principal)){\n        msg.payload.data = [];   \n    }\n}\n\nmsg.payload = msg.payload.data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":1140,"wires":[["7c5baf67.5ea69","5f5ac5a2.f330bc"]]},{"id":"13358f4e.dda671","type":"subflow:29f03fb6.bae","z":"e7ae0c3a.b2112","name":"","env":[],"x":670,"y":1140,"wires":[["1806fb11.e9a515","64853a7c.7abb74"]]},{"id":"1806fb11.e9a515","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1220,"wires":[]},{"id":"64853a7c.7abb74","type":"mongodb in","z":"e7ae0c3a.b2112","mongodb":"f69609b1.cb1968","name":"","collection":"properties","operation":"find","x":900,"y":1140,"wires":[["efb14325.898ef","fa7d637.226d6a"]]},{"id":"efb14325.898ef","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":1220,"wires":[]},{"id":"a49041fc.49a0a","type":"function","z":"e7ae0c3a.b2112","name":"Compute mean","func":"\nmean = [];\nfor (var ii=0; ii<msg.payload[0].data.length; ii++){\n    sum = 0;\n    n=msg.payload.length;\n    for (var jj=0; jj<msg.payload.length; jj++){\n        sum+=msg.payload[jj].data[ii].value;\n    }\n    mean.push(sum/n);\n}\nmsg.payload = mean;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1100,"wires":[["654a0ba0.0c8984","15313634.d2116a"]]},{"id":"fa7d637.226d6a","type":"function","z":"e7ae0c3a.b2112","name":"Prepare data","func":"\nmsg2 = {}\nmsg2['payload']={}\nmsg2.payload = {\n    'classification':msg.new_label,\n    'principal': msg.principal\n}\n\ndelete msg.new_label\ndelete msg.owners\ndelete msg.principal\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1140,"wires":[["a49041fc.49a0a","4c9dc87a.0d2d68"],["359080c5.1f341","15313634.d2116a"]]},{"id":"359080c5.1f341","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":1220,"wires":[]},{"id":"4c9dc87a.0d2d68","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":1060,"wires":[]},{"id":"83b3ea11.656ab8","type":"inject","z":"e7ae0c3a.b2112","name":"Doctors principal","props":[{"p":"payload"},{"p":"owners","v":"[\"PatientA\", \"PatientB\"]","vt":"jsonata"},{"p":"principal","v":"Doctors","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1220,"wires":[["3f584de2.aa5962"]]},{"id":"3f584de2.aa5962","type":"function","z":"e7ae0c3a.b2112","name":"Declassification specification","func":"\nowners = [\"PatientA\", \"PatientB\"]\n\nnew_label = {\"Research\":[]}\n\nmsg.owners = owners\nmsg.new_label = new_label;\n\nquery = {\"@type\":\"PulseData\"}\nmsg.query = query\n\nprojection = {\n        \"classification\":1, // Mandatory\n        \"@type\":1,\n        \"data\":1\n}\nmsg.projection = projection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1140,"wires":[["13358f4e.dda671"]]},{"id":"71e17c6.d711884","type":"inject","z":"e7ae0c3a.b2112","name":"Research principal","props":[{"p":"payload"},{"p":"owners","v":"[\"PatientA\", \"PatientB\"]","vt":"jsonata"},{"p":"principal","v":"Research","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1320,"wires":[["3f584de2.aa5962"]]},{"id":"a24180b9.ba1d9","type":"debug","z":"e7ae0c3a.b2112","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1920,"y":1080,"wires":[]},{"id":"85447919.965748","type":"comment","z":"e7ae0c3a.b2112","name":"Test research (Allowed)","info":"","x":170,"y":1280,"wires":[]},{"id":"fdb1f10.a29e31","type":"comment","z":"e7ae0c3a.b2112","name":"Test research (Not allowed)","info":"","x":150,"y":1180,"wires":[]},{"id":"6ece50fd.db9","type":"http in","z":"e7ae0c3a.b2112","name":"","url":"/declassified-mean","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1100,"wires":[["3f584de2.aa5962"]]},{"id":"c994fd5e.cf14","type":"comment","z":"e7ae0c3a.b2112","name":"Get raw property data","info":"","x":140,"y":320,"wires":[]},{"id":"1bb6c5be.b6523a","type":"comment","z":"e7ae0c3a.b2112","name":"Compute mean over data","info":"","x":160,"y":720,"wires":[]},{"id":"96437f32.2abcf","type":"comment","z":"e7ae0c3a.b2112","name":"Declassify data","info":"","x":130,"y":1060,"wires":[]},{"id":"c808afc1.a077d","type":"http in","z":"a36580c0.b9cfc","name":"","url":"/properties","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["70dd6d05.309024","6b72e82d.4aad38"]]},{"id":"70dd6d05.309024","type":"function","z":"a36580c0.b9cfc","name":"Extract params","func":"/*\nmsg.payload = {\n    \"device_id\":\"mock:pulse:patientA\",\n    \"@type\":\"Pulse\",\n    \"principal\":\"PatientA\"\n}\n*/\nif (msg.payload.principal==undefined){\n    msg.payload.principal = 'Public';\n}\nmsg.principal = msg.payload.principal;\n\nmsg.query = {};\nif (msg.payload.device_id!=undefined){\n    msg.query['device_id']=msg.payload.device_id\n}\n\nif (msg.payload['@type']!=undefined){\n    msg.query['@type'] = msg.payload['@type'];\n}\n\nmsg.projection = {'_id':0};\nif (msg.payload.fetch!=undefined){\n    fetch = msg.payload.fetch.split(',');\n    msg.fetch = fetch;\n    for (var i=0; i<fetch.length; i++){\n        msg.projection[fetch[i]] = 1;\n    }\n}\n//msg.query = undefined;\n//msg.user = msg.payload.user\n//msg.param = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["635194f5.8c322c","39e990a1.15176"]]},{"id":"13b9e957.c535d7","type":"function","z":"a36580c0.b9cfc","name":"Mock request","func":"msg.payload = {\n    \"device_id\":\"mock:position:cabA1\",\n    \"@type\":\"PositionProperty\",\n    \"principal\":\"CompanyA\",\n    \"fetch\": \"name,data,classification\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":240,"wires":[["70dd6d05.309024"]]},{"id":"a9fb0d4.eb6aaf","type":"inject","z":"a36580c0.b9cfc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["13b9e957.c535d7"]]},{"id":"635194f5.8c322c","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"39e990a1.15176","type":"subflow:14204bc3.e267a4","z":"a36580c0.b9cfc","name":"","env":[],"x":580,"y":180,"wires":[["8ab81cea.c118f","fda7dd62.da52"]]},{"id":"c6741b39.d1f058","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":120,"wires":[]},{"id":"8ab81cea.c118f","type":"mongodb in","z":"a36580c0.b9cfc","mongodb":"ebedea03.74f028","name":"","collection":"properties","operation":"find","x":810,"y":180,"wires":[["c6741b39.d1f058","808e1bef.a33588"]]},{"id":"fda7dd62.da52","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"808e1bef.a33588","type":"http response","z":"a36580c0.b9cfc","name":"","statusCode":"","headers":{},"x":1030,"y":180,"wires":[]},{"id":"6b72e82d.4aad38","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":120,"wires":[]},{"id":"7aa0e323.3e291c","type":"comment","z":"a36580c0.b9cfc","name":"Get raw property data","info":"","x":160,"y":80,"wires":[]},{"id":"38c7db1b.e4c054","type":"subflow:29f03fb6.bae","z":"a36580c0.b9cfc","name":"","env":[],"x":710,"y":440,"wires":[["8d8418d8.751f78","47e71fe6.01262"]]},{"id":"8d8418d8.751f78","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":520,"wires":[]},{"id":"47e71fe6.01262","type":"mongodb in","z":"a36580c0.b9cfc","mongodb":"ebedea03.74f028","name":"","collection":"properties","operation":"find","x":950,"y":440,"wires":[["f5569547.dd1eb8","82c10b6a.ae80c8"]]},{"id":"57b6867e.f2c198","type":"function","z":"a36580c0.b9cfc","name":"Declassification specification","func":"\nowners = [\"CompanyA\", \"CompanyB\", \"CompanyC\"]\n\nnew_label = {\"Public\":[]}\n\nmsg.owners = owners\nmsg.new_label = new_label;\n\nquery = {\"@type\":\"PositionProperty\"}\nmsg.query = query\n\nprojection = {\n        \"classification\":1, // Mandatory\n        \"@type\":1,\n        \"data\":1\n}\nmsg.projection = projection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["38c7db1b.e4c054"]]},{"id":"ed384ed.148acb","type":"inject","z":"a36580c0.b9cfc","name":"Public principal","props":[{"p":"payload"},{"p":"owners","v":"[\"CompanyA\", \"CompanyB\", \"CompanyC\"]","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":520,"wires":[["57b6867e.f2c198"]]},{"id":"a6568eb4.8ffb4","type":"comment","z":"a36580c0.b9cfc","name":"Test research (Allowed)","info":"","x":190,"y":480,"wires":[]},{"id":"aecf31d9.82f18","type":"http in","z":"a36580c0.b9cfc","name":"","url":"/declassified-dist","method":"get","upload":false,"swaggerDoc":"","x":180,"y":400,"wires":[["57b6867e.f2c198","2c5ff370.8757bc"]]},{"id":"f60f0779.8ccc88","type":"comment","z":"a36580c0.b9cfc","name":"Declassify data","info":"","x":170,"y":360,"wires":[]},{"id":"f5569547.dd1eb8","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":360,"wires":[]},{"id":"2bf382a.03f497e","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":340,"wires":[]},{"id":"ea5827ff.2dd108","type":"merge","z":"a36580c0.b9cfc","name":"","timeout":"1","x":1630,"y":440,"wires":[["501c5dc.c85aba4","ee9531b2.f5396"]]},{"id":"501c5dc.c85aba4","type":"function","z":"a36580c0.b9cfc","name":"Format output","func":"\nif(msg.payload[0].payload.classification!=undefined){\n    classification = msg.payload[0].payload.classification\n    principal = msg.payload[0].payload.principal\n    data = msg.payload[1].payload\n} else {\n    classification = msg.payload[1].payload.classification\n    principal = msg.payload[1].payload.principal\n    data = msg.payload[0].payload\n}\n\nif(msg.payload[0].res!=undefined){\n    msg.res = msg.payload[0].res\n}else if(msg.payload[1].res!=undefined){\n    msg.res = msg.payload[1].res\n}\n\npayload = {\n    \"classification\":classification,\n    \"principal\":principal,\n    \"data\":data\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":440,"wires":[["d0e4da13.d342d8","ce8df9a7.d1a818"]]},{"id":"32d875bb.d0e7ea","type":"function","z":"a36580c0.b9cfc","name":"Compute distribution","func":"\ndist = [0,0,0,0]\nfor (var ii=0; ii<msg.payload.length; ii++){\n    n = msg.payload[ii].data.length\n    zone = msg.payload[ii].data[n-1].value\n    dist[zone-1] = dist[zone-1]+1\n    n=msg.payload.length;\n}\nmsg.payload = dist;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":400,"wires":[["2bf382a.03f497e","ea5827ff.2dd108"]]},{"id":"82c10b6a.ae80c8","type":"function","z":"a36580c0.b9cfc","name":"Prepare data","func":"\nmsg2 = {}\nmsg2['payload']={}\nmsg2.payload = {\n    'classification':msg.new_label,\n    'principal': msg.principal\n}\n\ndelete msg.new_label\ndelete msg.owners\ndelete msg.principal\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1220,"y":440,"wires":[["32d875bb.d0e7ea","b665780d.425868"],["ea5827ff.2dd108"]]},{"id":"b665780d.425868","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":340,"wires":[]},{"id":"81fa79c.eb38988","type":"http response","z":"e7ae0c3a.b2112","name":"","statusCode":"","headers":{},"x":1230,"y":780,"wires":[]},{"id":"5f5ac5a2.f330bc","type":"http response","z":"e7ae0c3a.b2112","name":"","statusCode":"","headers":{},"x":2210,"y":1140,"wires":[]},{"id":"d0e4da13.d342d8","type":"http response","z":"a36580c0.b9cfc","name":"","statusCode":"","headers":{},"x":1990,"y":440,"wires":[]},{"id":"ce8df9a7.d1a818","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2000,"y":360,"wires":[]},{"id":"2c5ff370.8757bc","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":360,"wires":[]},{"id":"ee9531b2.f5396","type":"debug","z":"a36580c0.b9cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":320,"wires":[]}]